//- footer
footer#js__mainfooter.mainfooter
    .container
        .d-block.d-ssm-flex
            .mfooter__ci.mb-5.mb-ssm-0
                a(href="index.html", title=cname)
                    img(src=basePath+"images/logos/logo.png", alt=cname) 
            .mfooter__nav
                .mfooter__menu.d-flex.flex-wrap.align-items-center
                    -var footer_menu_items = [{"label":"個資條款","href":"#"},{"label":"隱私權聲明","href":"#"},{"label":"常見問題","href":"qa.html"},{"label":"聯絡我們","href":"contact.html"},{"label":"門市查詢","href":"store.html"}]
                    each menu_item in footer_menu_items
                        a(href=menu_item.href).mfooter__menu__link.animation=menu_item.label
                .mfooter__info.d-block.d-ssm-flex.align-items-center
                    .mfooter__social__list.d-flex.align-items-center.mb-3.mb-ssm-0
                        a(href="https://www.instagram.com/", target="_blank").mfooter__social__list__item.animation
                            img(src=basePath+"images/icons/icon-ig.png", alt="ig")
                        a(href="https://www.facebook.com/", target="_blank").mfooter__social__list__item.animation
                            img(src=basePath+"images/icons/icon-fb.png", alt="fb")
                        a(href="https://at.line.me/tw/", target="_blank").mfooter__social__list__item.animation
                            img(src=basePath+"images/icons/icon-social-a.png", alt="")
                        a(href="mailto:itsdavid_haha@abc.com").mfooter__social__list__item.animation
                            img(src=basePath+"images/icons/icon-envelope.png", alt="email")
                    .mfooter__info
                        .mfooter__info__item
                            span.title 客服信箱
                            a(href="mailto:itsdavid_haha@abc.com").mfooter__info__link iitsdavid_haha@abc.com

    #js__pagetop.btn__pagetopbtn.pointer
        img(src=basePath+"images/icons/pic-gotop.png", alt="gotop")