.sticky-wrapper
    header.mainheader.js__headerfix
        .container
            .js__mainmenu__wrap.mainmenu__wrap.d-flex.align-items-center.justify-content-between
                .mheader__ci
                    a(href="index.html", title=cname).d-flex.align-items-end
                        img(src=basePath+"images/logos/logo.png", alt=cname) 
                
                .mheader__navbar.d-flex.align-items-center
                    //- header 主選單
                    .mainmenu__list__wrap.js__mainmenu__list__wrap
                        include ../components/megamenu.pug
                    //- header 副選單
                    .mheader__extras.d-flex.align-itmes-center.justify-content-end
                        .mheader__extras__items.mheader__shopping__item.pointer
                            img(src=basePath+"images/icons/icon-logout.png", alt=imgAlt)
                        .mheader__extras__items.mheader__shopping__item.pointer
                            a(href="login.html")
                                img(src=basePath+"images/icons/icon-member.png", alt=imgAlt)
                        .mheader__extras__items.mheader__shopping__item.pointer
                            a(href="#")
                                img(src=basePath+"images/icons/icon-cart.png", alt=imgAlt)
                //- mobile
                .btn__mainmenu__mobile.js__btn__mobile__mainmenu.d-block.d-lg-none
                    span
                        span.btn__mainmenu__mobile__bar
                        span.btn__mainmenu__mobile__bar
                        span.btn__mainmenu__mobile__bar