// 全站樣式,utils樣式
$headerheight-lg: 82px
$headerheight-md: 82px
$headerheight-sm: 82px
$headerheight-xs: 65px
$headerheight-xxs: 58.47px
html, body
    font-size: 16px
    line-height: 1.5em
    font-family: $font-family-custom
    -ms-overflow-style: none
    color: $brand-base
    letter-spacing: 1px
    @media (max-width: 1024px)
        font-size: 15px
    +media-breakpoint-down(ssm)
        font-size: 14px
    +media-breakpoint-down(xs)
        font-size: 13px
    +media-breakpoint-down(xxs)
        font-size: 12px
.body
    background-color: white
    overflow-x: hidden
    overflow-y: auto
.main
    min-height: calc(100vh - #{$headerheight-lg} - 203px)
    +media-breakpoint-down(md)
        min-height: calc(100vh - #{$headerheight-md} - 203px)
    +media-breakpoint-down(sm)
        min-height: calc(100vh - #{$headerheight-sm} - 203px)
    +media-breakpoint-down(xs)
        min-height: calc(100vh - #{$headerheight-xs} - 260px)
    +media-breakpoint-down(xxs)
        min-height: calc(100vh - #{$headerheight-xxs} - 260px)
p
    margin-bottom: 0

a
    color: $brand-base
    text-decoration: none
    &:hover, &:active, &:focus
        text-decoration: none
        color: $link-hover-color
    @media all and (min-width: 1025px)
        &:hover
            color: $link-hover-color
    
.pic
    img
        max-width: 100%

input, textarea, button
    &:focus
        outline: 0
.text--small
    font-size: 12px

.container
    +media-breakpoint-down(ssm)
        padding-left: 12px
        padding-right: 12px
    +media-breakpoint-down(xs)
        padding-left: 10px
        padding-right: 10px
.container--cc
    max-width: calc(1328px + 16px * 2)
    +media-breakpoint-down(xl)
        max-width: 1000px
    +media-breakpoint-down(md)
        max-width: 780px
    +media-breakpoint-down(ssm)
        max-width: 640px

.heading--cc
    font-family: $font-family-heading-custom
    font-size: 65px
    line-height: 1em
    font-weight: 800
    color: $brand-base
    letter-spacing: 13.6px
    margin-bottom: 0
    +media-breakpoint-down(lg)
        font-size: 60px
    +media-breakpoint-down(md)
        font-size: 50px
        letter-spacing: 10px
    +media-breakpoint-down(sm)
        font-size: 44px
    +media-breakpoint-down(xs)
        font-size: 32px
        letter-spacing: 3px
    +media-breakpoint-down(xxs)
        font-size: 26px
    +media-breakpoint-down(xxxs)
        font-size: 25px
    
.page__heading--cc
    font-size: 20px
    font-weight: bold
    letter-spacing: 6px
    border-bottom: 1px solid $brand-base
    color: $brand-base
    padding-bottom: 16px
    margin-bottom: 0
    +media-breakpoint-down(md)
        letter-spacing: 4px
        font-size: 18px
    +media-breakpoint-down(xs)
        letter-spacing: 2px
        font-size: 16px
        padding-bottom: 10px
    +media-breakpoint-down(xxs)
        letter-spacing: 1px
        font-size: 14px
    .en
        letter-spacing: 4px
        +media-breakpoint-down(md)
            letter-spacing: 2px
        +media-breakpoint-down(xs)
            letter-spacing: 1px
.link
    letter-spacing: 1.6px
    &:hover
        +media-breakpoint-up(md)
            coursor: pointer
            > span:after
                background-color: $brand-link
    > span
        position: relative
        &:after
            content: ""
            position: absolute
            bottom: -4px
            left: 0
            height: 1px
            width: 100%
            background-color: $gray-base

.pointer
    cursor: pointer

.animation
    transition: all .3s ease

// 編輯器
.editor__wrap
    overflow: auto
    img
        max-width: 100%
    p
        letter-spacing: 1.6px
        &:not(:last-of-type)
            margin-bottom: .75em
    div
        max-width: 100%
    ol, li
        margin-bottom: 0

// grid 樣式
// 滿版樣式(加在外層, 如: row)
.grid-space-0
    margin-right: -15px
    margin-left: -15px
    >.col,
    >[class*="col-"]
        padding-right: 0
        padding-left: 0


.lazyload, .lazyloading
    opacity: 0

.lazyloaded
    opacity: 1
    transition: opacity .35s ease

[v-cloak]
    display: none
    opacity: 0

button
    &:disabled, &[disabled]
        cursor: not-allowed
        color: $gray-base
        background-color: $text-light-gray
        border-color: $text-light-gray
        &:hover
            color: $gray-base
            background-color: $text-light-gray
