// 首頁css
@import "_common-base.sass"
//
// idx__about
// ------------------
.idx__about
    padding: 48px 0
    +media-breakpoint-down(lg)
        padding: 48px 0 32px
    +media-breakpoint-down(xs)
        padding: 32px 0
    .idx__about__subtitle
        font-size: 18px
        line-height: 1.5em
        color: $gray-base
        font-weight: normal
        padding-bottom: 32px
        margin: 0
        +media-breakpoint-down(md)
            padding-bottom: 20px
        +media-breakpoint-down(sm)
            font-size: 16px
            padding-bottom: 16px
        +media-breakpoint-down(xs)
            font-size: 13px
            padding-bottom: 12px
        +media-breakpoint-down(xxs)
            font-size: 12px
            padding-bottom: 8px
        .dot
            font-size: 12px
            padding-left: 15px
            padding-right: 15px
            +media-breakpoint-down(md)
                padding-left: 12px
                padding-right: 12px
            +media-breakpoint-down(xs)
                padding-left: 6px
                padding-right: 6px
            +media-breakpoint-down(xxs)
                padding-left: 3px
                padding-right: 3px
            +media-breakpoint-down(xxxs)
                padding-left: 2px
                padding-right: 2px
    .heading--cc
        letter-spacing: 13px
        line-height: 1em
        +media-breakpoint-down(md)
            letter-spacing: 10px
        +media-breakpoint-down(xs)
            letter-spacing: 3px
//
// idx__news
// ------------------
.idx__news
    padding: 100px 0 32px
    margin-bottom: 32px
    position: relative
    +media-breakpoint-down(xl)
        padding: 50px 0 32px
    +media-breakpoint-down(lg)
        padding: 32px 0
    +media-breakpoint-down(md)
        padding: 32px 0 18px 0
    +media-breakpoint-down(ssm)
        padding: 18px 0
    +media-breakpoint-down(xs)
        padding: 12px 0
.idx__news__slider
    &:after
        content: ""
        display: block
        width: 1328px
        max-width: 100%
        height: 2px
        background-color: $brand-base
        position: absolute
        bottom: -32px
        +h_center
        +media-breakpoint-down(md)
            bottom: -18px

.idx__news__heading
    font-size: 20px
    font-weight: bold
    letter-spacing: 6px
    padding-bottom: 18px
    border-bottom: 1px solid $brand-base
    max-width: 1328px
    margin: 0 auto 48px
    +media-breakpoint-down(md)
        font-size: 18px
        letter-spacing: 4px
        padding-bottom: 8px
        margin: 0 auto 24px
    +media-breakpoint-down(xs)
        font-size: 16px
        letter-spacing: 2px
    .en
        letter-spacing: 4.5px
        +media-breakpoint-down(md)
            letter-spacing: 2px
    
//
// idx__extra__content
// ------------------
.idx__extra__heading
    padding-top: 84px
    margin-bottom: 140px
    font-size: 16px
    letter-spacing: 1.6px
    position: relative
    +media-breakpoint-down(xl)
        margin-bottom: 90px
    +media-breakpoint-down(lg)
        margin-bottom: 64px
        padding-top: 68px
    +media-breakpoint-down(md)
        margin-bottom: 50px
    +media-breakpoint-down(ssm)
        margin-bottom: 32px
    +media-breakpoint-down(xs)
        font-size: 14px
    > span
        border-bottom: 1px solid $brand-base
    &:before
        content: ""
        display: block
        width: 2px
        height: 64px
        position: absolute
        top: 0
        +h_center
        background-color: $brand-base
        +media-breakpoint-down(lg)
            height: 48px

.idx__extra__content
    margin-bottom: 120px
    padding-top: 8px
    padding-bottom: 8px
    margin-left: -8px
    margin-right: -8px
    overflow: hidden
    +media-breakpoint-down(lg)
        margin-bottom: 90px
    +media-breakpoint-down(sm)
        margin-bottom: 64px
    +media-breakpoint-down(ssm)
        margin-left: 0
        margin-right: 0
    +media-breakpoint-down(xs)
        margin-bottom: 48px

.idx__extra__grid01
    width: 58.125%
    height: 640px
    margin-top: -8px
    margin-bottom: -8px
    margin-left: 8px
    margin-right: 8px
    +media-breakpoint-down(xxl)
        height: 600px
    +media-breakpoint-down(xl)
        width: 55.125%
        height: 500px
    +media-breakpoint-down(lg)
        height: 450px
    +media-breakpoint-down(md)
        height: 330px
    +media-breakpoint-down(sm)
        width: 100%
        height: 460px
        margin-left: 0
        margin-right: 0

.idx__extra__grid02
    width: 41%
    height: 640px
    margin-left: 8px
    margin-right: 8px
    +media-breakpoint-down(xxl)
        height: 600px
    +media-breakpoint-down(xl)
        width: 44%
        height: 500px
    +media-breakpoint-down(lg)
        height: 450px
    +media-breakpoint-down(md)
        height: 330px
    +media-breakpoint-down(sm)
        width: 100%
        height: 480px
        margin-left: 0
        margin-right: 0
        margin-top: 32px
.idx__extra__grid01, .idx__extra__grid02
    +media-breakpoint-down(ssm)
        height: auto
        margin-top: 0
        margin-bottom: 0
.idx__extra__grid01__2
    width: 64.731183%
    margin-top: 8px
    margin-bottom: 8px

.idx__extra__grid01__1
    width: 33.548387%
    margin-top: 8px
    margin-bottom: 8px

.idx__extra__grid01__1, 
.idx__extra__grid01__2
    margin-top: 8px
    margin-bottom: 8px
    +media-breakpoint-down(ssm)
        width: 100%
        height: auto
        margin-top: 0
        margin-bottom: 0

.idx__extra__grid01__row
    height: calc(50% + 8px)
    +media-breakpoint-down(ssm)
        height: auto


.idx__extra__item
    display: block
    position: relative
    overflow: hidden
    width: 100%
    height: 100%
    // background-color: $brand-base
    +media-breakpoint-down(ssm)
        height: 280px
    +media-breakpoint-down(xs)
        height: 240px
    &:after
        content: ""
        display: block
        +size(100%, 30%)
        position: absolute
        bottom: 0
        left: 0
        background-color: $brand-base
        background: -moz-linear-gradient(top, rgba($brand-base,0.2) 0%, rgba($brand-base,0.52) 100%)
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($brand-base,0.2)), color-stop(100%, rgba($brand-base,0.52)))
        background: -webkit-linear-gradient(top, rgba($brand-base,0.2) 0%, rgba($brand-base,0.52) 100%)
        background: -o-linear-gradient(top, rgba($brand-base,0.2) 0%, rgba($brand-base,0.52) 100%)
        background: -ms-linear-gradient(top, rgba($brand-base,0.2) 0%, rgba($brand-base,0.52) 100%)
        background: linear-gradient(to bottom, rgba($brand-base,0.2) 0%, rgba($brand-base,0.52) 100%)
        opacity: 0
        transition: opacity .35s ease, height .45s ease, background .15s ease
    &:hover
        +media-breakpoint-up(md)
            &:after
                opacity: .44
                background: $brand-base
                +size(100%, 100%)
                transition: opacity .35s ease, height .45s ease .05s, background .5s ease 
            .idx__extra__text
                font-size: 24px
                font-weight: 500
                transition: all .35s ease
    .idx__extra__text
        position: absolute
        font-size: 16px
        font-weight: 400
        left: 16px
        bottom: 16px
        color: white
        z-index: 2
        letter-spacing: 4.8px
        transition: all .22s ease
        .icon__arrow
            margin-left: 3px
    .idx__extra__img
        width: 100%
        height: auto
        position: absolute
        +all_center
        +media-breakpoint-down(xs)
            width: 500px