//
// page: about
// ------------------
.about__page__wrap
    padding-top: 150px
    +media-breakpoint-down(xl)
        padding-top: 120px
    +media-breakpoint-down(lg)
        padding-top: 90px
    +media-breakpoint-down(md)
        padding-top: 64px
    +media-breakpoint-down(ssm)
        padding-top: 48px
.about__section
    padding-bottom: 120px
    +media-breakpoint-down(xl)
        padding-bottom: 74px
    +media-breakpoint-down(lg)
        padding-bottom: 60px
    +media-breakpoint-down(md)
        padding-bottom: 24px

//
// about about__content
// ------------------
.about__content
    padding-top: 80px
    +media-breakpoint-down(lg)
        padding-top: 64px
    +media-breakpoint-down(md)
        padding-top: 48px
    +media-breakpoint-down(ssm)
        padding-top: 32px
.about__context
    max-width: 640px
    margin: 34px auto
    text-align: center
    color: $gray-base
    font-size: 18px
    line-height: 2em
    +media-breakpoint-down(md)
        font-size: 16px
        margin: 26px auto 34px auto
    +media-breakpoint-down(sm)
        font-size: 14px
    +media-breakpoint-down(ssm)
        font-size: 13px
    @media all and (max-width: 399.98px)
        max-width: calc(100% - 3rem)
//
// slider
// ------------------
.about__itemslider__wrap
    