//
// contact
// ------------------
.contact__wrap
    .btn__wrap
        border-radius: 13px
        position: relative
        top: -20px
        .btn
            border-radius: 13px

$formlabelWidth: 74px
.contact__form
    background-color: $gray-lighter
    padding: 80px 32px
    border-radius: 20px
    box-shadow: 0 3px 10px 0 rgba(0, 40, 63, .08)
    +media-breakpoint-down(lg)
        padding: 64px 24px
    +media-breakpoint-down(md)
        padding: 48px 16px 64px
    +media-breakpoint-down(xs)
        padding: 32px 10px 48px
    .form__row
        width: 100%
        max-width: 1158px
        margin-bottom: 30px
        +media-breakpoint-down(md)
            margin-bottom: 0
        &.mb-0
            margin-bottom: 0
    .form__inline__item
        &:not(:last-item)
            padding-right: 48px
            +media-breakpoint-down(xl)
                padding-right: 32px
            +media-breakpoint-down(lg)
                padding-right: 24px
            +media-breakpoint-down(md)
                padding-right: 0
        .form__control__item
            +media-breakpoint-down(md)
                width: calc(100% - #{$formlabelWidth})
            +media-breakpoint-down(xs)
                width: 100%
    .form__item:not(.form__inline__item)
        width: 100%
        .form__control__item
            width: calc(100% - #{$formlabelWidth})
            +media-breakpoint-down(xs)
                width: 100%
    .form__label
        width: $formlabelWidth
        font-weight: bold
        font-size: 16px
        letter-spacing: 1.6px
        margin-right: 2em
        +media-breakpoint-down(xxl)
            margin-right: 16px
        +media-breakpoint-down(md)
            margin-right: 12px
            font-size: 14px
        +media-breakpoint-down(xs)
            width: 100%
    .form__control__item
        +media-breakpoint-down(xs)
            width: 100%
        > *
            width: 100%
            font-size: 16px
            padding: 9px 34px 8px 16px
            color: $brand-base
            border: 1px solid $brand-base
            border-radius: 12px
            line-height: 21px
            +media-breakpoint-down(md)
                font-size: 14px
            &::placeholder
                font-size: 12px
                color: $gray-base
            &:-ms-input-placeholder
                font-size: 12px
                color: $gray-base
            &::-ms-input-placeholder
                font-size: 12px
                color: $gray-base
            &::-webkit-input-placeholder
                font-size: 12px
                color: $gray-base
            &::-moz-placeholder
                font-size: 12px
                color: $gray-base
    .form__textarea
        height: 146px
    .select-custom
        +media-breakpoint-down(md)
            width: calc(100% - #{$formlabelWidth})
        +media-breakpoint-down(xs)
            width: 100%
        *
            +media-breakpoint-down(md)
                font-size: 14px
        .select-options
            +media-breakpoint-down(md)
                width: 100%

    .form__hint
        font-size: 12px
        letter-spacing: 1.2px
        