//
// forget
// ------------------
.forget__wrap
    padding: 48px 32px
    +media-breakpoint-down(sm)
        padding: 32px 16px
    +media-breakpoint-down(xs)
        padding: 32px 8px
.forget__form
    margin-top: 48px
    +media-breakpoint-down(md)
        margin-top: 32px
    .link
        +media-breakpoint-down(md)
            margin-left: 0
            display: block
        +media-breakpoint-down(xxs)
            display: block
    .form__btn__base
        +media-breakpoint-down(md)
            width: 100%
            margin-right: 0