//
// page login
// ------------------
.login__wrap
    position: relative
    padding-top: 100px
    +media-breakpoint-down(xl)
        padding-top: 48px
    +media-breakpoint-down(lg)
        padding-top: 16px
    .login__or
        position: absolute
        +h_center
        bottom: 0
        height: calc(100% - 100px)
        +media-breakpoint-down(xl)
            height: calc(100% - 48px)
        +media-breakpoint-down(lg)
            height: calc(100% - 16px)
        +media-breakpoint-down(ssm)
            height: auto
            position: relative
            margin: 32px 0 40px
        +media-breakpoint-down(xs)
            margin: 18px 0 32px
        .text
            display: block
            text-align: center
            color: white
            background-color: $brand-base
            border-radius: 50px
            +size(28px, 28px)
            line-height: 28px
            margin-left: -14px
        &:before
            content: ""
            display: block
            +size(1px, 100%)
            background-color: $brand-base
            +media-breakpoint-down(ssm)
                +size(100%, 1px)
                position: absolute
                z-index: -1
.login__item__wrap
    padding: 0 32px
    width: 50%
    +media-breakpoint-down(md)
        padding: 0 16px
    +media-breakpoint-down(ssm)
        width: 100%
.login__form__wrap
    +media-breakpoint-down(md)
        padding-right: 48px
    +media-breakpoint-down(ssm)
        padding-right: 16px
.social__login__wrap
    +media-breakpoint-down(md)
        padding-left: 48px
    +media-breakpoint-down(ssm)
        padding-left: 16px

$loginformWidth: 376px
$loginformWidth-xl: 280px
.login__form
    .form__control__item, .form__btn__wrap
        width: 100%
        max-width: $loginformWidth
        +media-breakpoint-down(xl)
            max-width: $loginformWidth-xl
        +media-breakpoint-down(md)
            max-width: 100%
    .form__item__control
        margin-bottom: 16px
    .form__btn__item
        padding-top: 32px
        margin-bottom: 0
        +media-breakpoint-down(xs)
            padding-top: 24px
    .form__item:not(.form__inline__item) .form__control__item
        +media-breakpoint-down(md)
            width: 100%
            max-width: 100%

//
// social__login__item
// ------------------
.social__login__item
    +media-breakpoint-down(ssm)
        width: 100%
    &:not(:last-child)
        margin-bottom: 32px
        +media-breakpoint-down(md)
            margin-bottom: 16px
.social__login__icon
    margin-right: 32px
    +media-breakpoint-down(xl)
        margin-right: 16px
    img
        width: 52px
        +media-breakpoint-down(xl)
            width: 40px
.btn__social__login
    width: $loginformWidth
    max-width: 100%
    color: white
    line-height: 52px
    height: 52px
    border-radius: 15px
    letter-spacing: 1.6px
    border: 1px solid transparent
    +media-breakpoint-down(xl)
        width: $loginformWidth-xl
        line-height: 36px
        height: 40px
    +media-breakpoint-down(ssm)
        width: calc(100% - 40px - 16px)
    &:hover
        +media-breakpoint-up(md)
            background-color: white
    &--fb
        background-color: #1d40d8
        &:hover
            +media-breakpoint-up(md)
                border-color: #1d40d8
                color: #1d40d8
    &--line
        background-color: #00c200
        &:hover
            +media-breakpoint-up(md)
                border-color: #00c200
                color: #00c200
