//
// page: news
// ------------------
.date
    +size(75px, 75px)
    padding: 8px
    background-color: white
    margin-right: 2rem
    font-family: $font-family-heading-custom
    font-size: 14px
    letter-spacing: .7px
    color: $brand-base
    +media-breakpoint-down(lg)
        margin-right: 1.25rem
    +media-breakpoint-down(md)
        margin-right: 16px
    +media-breakpoint-down(ssm)
        +size(64px, 64px)
        margin-right: 14px
        font-size: 13px
    +media-breakpoint-down(xs)
        +size(54px, 54px)
        padding: 8px 4px
    +media-breakpoint-down(xxs)
        margin-right: 8px
        font-size: 12px
    .day
        font-size: 20px
        letter-spacing: 1px
        +media-breakpoint-down(ssm)
            font-size: 16px
        +media-breakpoint-down(xs)
            font-size: 14px
// list
.list__wrap
    margin-top: 32px
.list__item
    display: block
    padding: 48px
    background-color: white
    transition: all .35s ease
    +media-breakpoint-down(xl)
        padding: 32px
    +media-breakpoint-down(lg)
        padding: 20px 16px
    +media-breakpoint-down(ssm)
        padding: 20px 48px
    +media-breakpoint-down(xs)
        padding: 20px 0
    +media-breakpoint-down(xxs)
        padding: 16px 0
    &:hover
        +media-breakpoint-up(md)
            background-color: rgba($brand-base, .05)
            transition: all .35s ease
            .title
                color: $brand-base
    .date
        background-color: rgba($brand-base, .9)
        .day
            color: white
        .year
            color: $text-light-gray
    .title
        font-size: 20px
        letter-spacing: 2px
        font-weight: 500
        line-height: 1.75em
        color: $brand-base
        width: calc(100% - 75px - 2rem)
        // +multiLineEllipsis($lineHeight: 1.75em, $lineCount: 2, $bgColor: transparent)
        +weirdLineEllipsis($lineCount: 2)
        +media-breakpoint-down(md)
            font-size: 16px
            letter-spacing: 1px
        +media-breakpoint-down(ssm)
            font-size: 14px
            width: calc(100% - 64px - 2rem)
        +media-breakpoint-down(xs)
            width: calc(100% - 54px - 2rem)
        +media-breakpoint-down(xxs)
            width: calc(100% - 54px - 8px)
            font-size: 13px

// news detail
.news__detail__heading__wrap
    position: relative
    z-index: 1
.news__detail__content
    max-width: 1055.8px
.news__detail__editor
    margin-top: 48px
    margin-bottom: 32px
    line-height: 1.7em
    +media-breakpoint-down(lg)
        margin-top: 32px
    +media-breakpoint-down(md)
        margin-top: 24px
    +media-breakpoint-down(ssm)
        margin-top: 16px
    