// page404
.page404
    display: block
    background-color: $gray-light
    +size(100vw, 100vh)
    position: relative

.page404__content
    font-size: 20px
    position: relative
    z-index: 1
    color: $brand-base
    .context
        margin-top: 16px
        +media-breakpoint-down(xl)
            font-size: 16px
        +media-breakpoint-down(xs)
            font-size: 14px
            max-width: calc(100% - 20px)
            margin: 22px auto 0 auto
    .heading
        font-size: 50px
        font-weight: bold
        +media-breakpoint-down(md)
            font-size: 36px
        > span:not(:last-child) 
            margin-right: .25em
        > span
            +media-breakpoint-down(md)
                display: block
                width: 100%
                line-height: 1em
    .btn--back
        font-size: 20px
        margin-top: 2.35rem
        color: $brand-base
        border: 1px solid $brand-base
        display: inline-block
        padding: 5px 12px
        border-radius: 5px
        +media-breakpoint-down(xs)
            margin-top: 22px
.page404__pic
    position: absolute
    z-index: 0
    top: -100px
    left: -100px
    opacity: 0
    transform: translate(-300px, -100px)
    @media all and (max-width: 1799.98px)
        left: -120px
    +media-breakpoint-down(xl)
        top: -20px
        left: -200px
    +media-breakpoint-down(lg)
        left: -180px
    +media-breakpoint-down(xs)
        display: none
    &.show
        opacity: 1
        transform: translate(0, 0)
        transition: opacity .5s ease, transform .75s ease .1s
    img
        +media-breakpoint-down(xl)
            width: 80%
        +media-breakpoint-down(lg)
            width: 80%
        +media-breakpoint-down(md)
            width: 60%