//
// page: products
// ------------------

// product all 總覽頁
// ------------------
.product__box__row
    margin-bottom: 16px
    +media-breakpoint-down(sm)
        margin-bottom: 0
.product__box
    position: relative
    height: 420px
    overflow: hidden
    +media-breakpoint-down(xl)
        //大約 1380 / 1632 x 420
        height: 350px
    +media-breakpoint-down(lg)
        height: 310px
    +media-breakpoint-down(md)
        height: 240px
    +media-breakpoint-down(sm)
        height: auto
        margin-bottom: 16px
.product__box__4
    width: calc(100% * 15 / 56 - 32px * 15 / 56)
.product__box__7
    width: calc(100% * 26 / 56 - 32px * 26 / 56)
.product__box__4, .product__box__7
    +media-breakpoint-down(sm)
        width: 100%
.product__box__pic
    height: 100%
    width: auto
    +media-breakpoint-down(sm)
        max-height: 340px
        overflow: hidden
    img
        display: block
        width: 100%
.product__box__info, .product__box__link
    position: absolute
    bottom: 0
    left: 0
.product__box__info
    +media-breakpoint-down(sm)
        position: relative
    .pre__title
        background-color: rgba($brand-base, .8)
        text-align: left
        opacity: 1
        transition: opacity .3s linear .33s
        +media-breakpoint-down(sm)
            display: none
    .pre__title, .title
        font-size: 16px
        letter-spacing: 4.8px
        padding: 16px
        margin-bottom: 0
        width: 100%
        +media-breakpoint-down(lg)
            padding: 12px
            letter-spacing: 3px
        .icon__arrow
            margin-top: -4px
.product__box__info
    color: white
    font-size: 12px
    letter-spacing: 1.2px
    width: 100%
    z-index: 1
    height: auto
    .title
        text-align: center
    .product__box__brief
        display: block
        width: 100%
        height: 100%
        max-height: 0
        opacity: 0
        overflow: hidden
        background-color: rgba($brand-base, .8)
        transition: all .35s ease
        transform: translateY(100%)
        +media-breakpoint-down(sm)
            max-height: 900vh
            opacity: 1
            transform: none
            padding: 8px 12px 24px
            background-color: rgba($brand-base, 1)
        .content
            display: block
            margin-left: auto
            margin-right: auto
            padding: 0 10px
            width: 240px
            max-height: calc(100% - 40px)
            overflow: auto
            +media-breakpoint-down(sm)
                max-height: 900vh
                width: calc(100% - 3rem)
                max-width: 480px
.product__box__link
    z-index: 2
    +size(100%, 100%)
    cursor: pointer
// hover
.product__box
    &:hover
        +media-breakpoint-up(md)
            .pre__title
                opacity: 0
                max-height: 0
                overflow: hidden
                transition: none
            .product__box__info
                height: calc(100% - 64px)
                +media-breakpoint-down(lg)
                    height: calc(100% - 48px)
                +media-breakpoint-down(md)
                    height: 100%
                .product__box__brief
                    opacity: 1
                    max-height: 999vh
                    padding-bottom: 16px
                    transition: transform .75s ease
                    transform: translateY(0)



// product__list
.product__list__wrap
    padding-top: 96px
    +media-breakpoint-down(xl)
        padding-top: 80px
    +media-breakpoint-down(lg)
        padding-top: 64px
    +media-breakpoint-down(md)
        padding-top: 48px
    +media-breakpoint-down(ssm)
        padding-top: 32px
    +media-breakpoint-down(xs)
        padding-top: 24px
.product__list__item
    padding: 16px
    margin-bottom: 80px
    +media-breakpoint-down(lg)
        margin-bottom: 64px
    +media-breakpoint-down(ssm)
        margin-bottom: 48px
        padding: 12px
    +media-breakpoint-down(xs)
        margin-bottom: 32px
        padding: 8px
    .item__info
        margin-top: 20px
        margin-bottom: 32px
        +media-breakpoint-down(xl)
        margin-top: 20px
        margin-bottom: 28px
        +media-breakpoint-down(lg)
            margin-top: 16px
            margin-bottom: 18px
    .price
        font-size: 16px
        letter-spacing: 1.2px
        +media-breakpoint-down(md)
            font-size: 14px
            letter-spacing: 1px

.product__title
    font-size: 20px
    line-height: 1.35em
    font-weight: bold
    letter-spacing: 6px
    margin-bottom: 18px
    +media-breakpoint-down(lg)
        font-size: 18px
        letter-spacing: 4px
        margin-bottom: 16px
    +media-breakpoint-down(md)
        font-size: 16px
        letter-spacing: 2px
        margin-bottom: 16px

.btn__box
    .btn
        min-width: 124px
        font-size: 14px
        line-height: 1.43em
        letter-spacing: 1.4px
        padding: 7px 22px
        +media-breakpoint-down(xl)
            letter-spacing: 1px
        +media-breakpoint-down(lg)
            min-width: 110px
            padding: 7px 12px

//
// page: product_list
// ------------------
.product__list01__wrap
    +media-breakpoint-up(md)
        padding-top: 48px

.product__option__bar
    margin-top: 48px
    +media-breakpoint-down(md)
        margin-top: 32px
    +media-breakpoint-down(xs)
        margin-top: 28px
    .option
        &:not(:last-child)
            margin-right: 32px
            +media-breakpoint-down(md)
                margin-right: 20px
            +media-breakpoint-down(xs)
                margin-right: 14px
        &--limited
            color: #1dbfa0
        &--iceable
            color: $brand-base
        &--hottable
            color: $brand-second

.item__options__item
    +size(18px, 18px)
    display: block
    margin-left: 4px
    margin-right: 4px
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    &.hottable
        background-image: url(~images/icons/icon-hottable.svg)
    &.iceable
        background-image: url(~images/icons/icon-iceable.svg)
    &.is-limit
        background-image: url(~images/icons/icon-limit.svg)

.spec__item
    width: 134px
    padding-top: 6px
    padding-bottom: 6px
    &:not(:last-child)
        border-bottom: 1px solid rgba($brand-base, .6)
    .spec__name
        font-size: 20px
        letter-spacing: 1.5px
        min-width: 21px
        text-align: center

// detail boxs, detail__boxes
// ------------------
.detail__boxes__wrap
    position: relative
    // z-index: 1033
    &.show--detail
        .btn__box__close
            opacity: 1
            z-index: 1033
        .detail__boxes
            z-index: 1033
            height: 100%
            opacity: 1
            transition: .5s ease opacity

.detail__boxes
    position: absolute
    top: 0
    left: 0
    width: 100%
    overflow: auto
    background-color: rgba($brand-base, .9)
    color: white
    border-radius: 26px
    padding: 0
    z-index: -999
    height: 0
    opacity: 0
    border-width: 68px 64px 70px
    border-style: solid
    border-color: transparent
    transition: .5s ease opacity, z-index .05s ease .5s, height .05s ease .5s
    +media-breakpoint-down(xl)
        border-width: 68px 24px 48px
    +media-breakpoint-down(lg)
        border-width: 58px 24px 20px
    +media-breakpoint-down(sm)
        border-width: 68px 24px 48px
    +media-breakpoint-down(xs)
        border-width: 58px 24px 20px
    +media-breakpoint-down(xxs)
        border-width: 48px 20px 14px

.detail__box
    &:not(:last-child)
        margin-bottom: 50px
        +media-breakpoint-down(xxs)
            margin-bottom: 32px
    .subtitle
        font-size: 20px
        letter-spacing: 2px
        border-bottom: 1px solid rgba($text-light-gray, .75)
        text-align: center
        padding-bottom: 8px
        margin-bottom: 18px
        +media-breakpoint-down(xl)
            font-size: 18px
            letter-spacing: 1px
    .context
        text-align: center
        letter-spacing: 1px
        font-size: 16px
        line-height: 1.75em
        +media-breakpoint-down(xl)
            font-size: 15px
            line-height: 1.5em
.btn__box__close
    position: absolute
    top: 12px
    right: 16px
    opacity: 0
    z-index: -999
    &:hover
        +animation_ease
        opacity: .7

.bg__product__box
    display: block
    position: fixed
    bottom: 0
    left: 0
    overflow: hidden
    width: 100vw
    height: 0
    z-index: -9999
    background-color: transparent
    &.detail--open
        height: 100vh
        z-index: 1031