//
// page: qa
// ------------------
.qa__list
    padding-top: 80px
    padding-bottom: 36px
    +media-breakpoint-down(lg)
        padding-top: 64px
    +media-breakpoint-down(md)
        padding-top: 48px
        padding-bottom: 8px
    +media-breakpoint-down(ssm)
        padding-top: 32px
    +media-breakpoint-down(xs)
        padding-top: 24px
        padding-bottom: 0
.qa__item
    margin-bottom: 48px
    background-color: $gray-lighter
    box-shadow: 0 3px 10px 0 rgba($brand-base, 0.08);
    border-radius: 20px
    +media-breakpoint-down(md)
        margin-bottom: 32px
        border-radius: 14px
    +media-breakpoint-down(xs)
        border-radius: 10px
.qa__question
    padding: 16px 80px 16px 94px
    position: relative
    font-size: 20px
    font-weight: 500
    letter-spacing: 2px
    line-height: 1.75em
    border-radius: 20px
    +media-breakpoint-down(xl)
        padding: 16px 60px 16px 64px
        font-size: 18px
    +media-breakpoint-down(lg)
        padding: 16px 40px
        letter-spacing: 1px
    +media-breakpoint-down(md)
        border-radius: 14px
        font-size: 16px
        line-height: 1.5em
    +media-breakpoint-down(xs)
        font-size: 15px
        border-radius: 10px
        padding: 16px 28px 16px 24px
    &.active
        + .qa__answer
            opacity: 1
            transition: transform .35s ease, opacity .35s ease .1s
            transform: translateY(0)
        .txt
            &:before
                opacity: 0
                transition: opacity .35s ease
    &:hover
        +media-breakpoint-up(md)
            cursor: pointer
            background-color: $color-cloudy-blue
    // icon
    &:before
        content: ""
        display: block
        position: absolute
        +size(32px, 37px)
        top: 16px
        left: 39px
        background: url(~images/icons/icon-bean.png) center center no-repeat
        background-size: contain
        +media-breakpoint-down(xl)
            left: 18px
        +media-breakpoint-down(lg)
            left: 12px
            +size(22px, 28px)
        +media-breakpoint-down(xs)
            left: 5px
            +size(14px, 22px)
    .txt
        position: relative
        // + 加號
        &:after, &:before
            content: ""
            display: block
            position: absolute
            background-color: $brand-base
            border-radius: 33px
        &:before
            +size(3px, 24px)
            top: 4px
            right: calc(-24px - 13px)
            opacity: 1
            transition: opacity .35s ease
            +media-breakpoint-down(xl)
                right: calc(-18px - 13px)
            +media-breakpoint-down(lg)
                +size(2px, 18px)
                right: calc(-8px - 10px)
            +media-breakpoint-down(xs)
                +size(2px, 14px)
                right: calc(-6px - 8px)
        &:after
            +size(24px, 3px)
            top: 14px
            right: calc(-24px - 24px)
            +media-breakpoint-down(xl)
                right: calc(-18px - 24px)
            +media-breakpoint-down(lg)
                +size(18px, 2px)
                top: 12px
                right: calc(-8px - 18px)
            +media-breakpoint-down(xs)
                +size(14px, 2px)
                top: 10px
                right: calc(-6px - 14px)

.qa__answer
    opacity: 0
    transform: translateY(-100%)
    position: relative
    &:before
        content: ""
        display: block
        position: absolute
        width: calc(100% - 32px - 32px)
        height: 1px
        background-color: $color-cloudy-blue
        top: 0
        left: 32px
.qa__answer__editor
    padding: 32px 80px 32px 94px 
    color: $gray-dark
    line-height: 1.75em
    font-size: 16px
    letter-spacing: 1.6px
    +media-breakpoint-down(xl)
        padding: 16px 60px 16px 64px
        line-height: 1.5em
    +media-breakpoint-down(md)
        font-size: 14px
        padding: 16px 40px
        letter-spacing: 1px
    +media-breakpoint-down(ssm)
        font-size: 13px
        letter-spacing: 0
    +media-breakpoint-down(xs)
        padding: 16px 28px 16px 24px
    +media-breakpoint-down(xxs)
        font-size: 12px
    p
        margin-bottom: .75em