//
// page: register
// ------------------

//
// common register
// ------------------
.register__form
    margin-top: 48px
    +media-breakpoint-down(md)
        margin-top: 32px
.registor__form__wrap
    display: block
    width: 100%
    max-width: 796px
    margin: 14px auto 16px
    padding: 16px 16px 64px 32px
    background-color: white
    +media-breakpoint-down(lg)
        padding: 16px 16px 48px


//
// steps register__steps__wrap
// ------------------
.register__steps__wrap
    display: block
    width: 100%
    max-width: 796px
    margin: 80px auto 8px
    position: relative
    +media-breakpoint-down(xl)
        margin: 72px auto 8px
    +media-breakpoint-down(lg)
        margin: 64px auto 8px
    +media-breakpoint-down(md)
        margin: 48px auto 8px
    .step__item
        text-align: center
        font-size: 16px
        letter-spacing: 1.6px
        position: relative
        +media-breakpoint-down(md)
            font-size: 14px
        +media-breakpoint-down(xs)
            font-size: 13px
            letter-spacing: 0
        +media-breakpoint-down(xxs)
            font-size: 12px
        &.active
            color: $brand-second
            transition: color 1s ease
            &:before
                background-color: $brand-second
                transition: all .5s ease 1.75s
            .step__line:before
                width: 100%
                transition: width 2s ease
        &.current.active
            .step__title
                opacity: 1
                transition: opacity 1s ease
        &:first-child
            &:after
                content: ""
                display: block
                +size(10px, 10px)
                border-radius: 10px
                background-color: $brand-second
                position: absolute
                +v_center
                left: 0
                z-index: 1
            &.active
                transition: color 3s ease
                &:before
                    transition: all .35s ease 4.35s
                .step__line:before
                    transition: width 5s ease
            &.current.active
                .step__title
                    transition: opacity 3s ease
        &:before
            content: ""
            display: block
            +size(10px, 10px)
            border-radius: 10px
            background-color: $brand-base
            position: absolute
            +v_center
            right: 0
            z-index: 1
    .step__label
        letter-spacing: 3.2px
        font-weight: bold
        +media-breakpoint-down(md)
            letter-spacing: 1px
    .step__title
        opacity: 0
    .step__line
        position: absolute
        z-index: 0
        +all_center
        width: 100%
        height: 2px
        background-color: $brand-base
        &:before
            content: ""
            width: 0
            height: 2px
            position: absolute
            top: 0
            left: 0
            background-color: $brand-second

//
// register01 data
// ------------------
.register__mobile__form
    .form__btn__base
        +media-breakpoint-down(md)
            display: block
            width: 100%
            margin-right: 0
//
// register02 data
// ------------------
.register__data__form
    .form__row
        margin-bottom: 8px
    .form__control__item, .form__btn__wrap, .basic__select__wrap
        max-width: 376px
        +media-breakpoint-down(md)
            max-width: 100%
//
// register03 finish
// ------------------
.register__finish__wrap
    margin-top: 6vh
    +media-breakpoint-down(ssm)
        margin-top: 48px
    +media-breakpoint-down(xs)
        margin-top: 32px
    .register__finish__pic
        width: 383px
        position: relative
        opacity: 0
        +media-breakpoint-down(ssm)
            width: 340px
        +media-breakpoint-down(xs)
            width: 280px
        +media-breakpoint-down(xxs)
            width: 260px
        &.active
            opacity: 1
            transition: opacity .75s ease .25s
            .register__finish__text
                width: 370px
                max-width: 100%
                transition: width .95s ease .8s
        .register__finish__text
            font-size: 28px
            letter-spacing: 8.5px
            font-weight: bold
            position: absolute
            top: 2px
            width: 0
            height: 78px
            line-height: 1em
            text-align: center
            +media-breakpoint-down(ssm)
                font-size: 24px
            +media-breakpoint-down(xs)
                font-size: 20px
                letter-spacing: 5px
            +media-breakpoint-down(xxs)
                font-size: 16px
                letter-spacing: 3px
            span
                position: absolute
                top: 0
                left: 0
                width: 370px
                line-height: 78px
                +media-breakpoint-down(ssm)
                    width: 330px
                    line-height: 74px
                +media-breakpoint-down(xs)
                    width: 278px
                    line-height: 60px
                +media-breakpoint-down(xxs)
                    width: 268px
                    line-height: 55px
        img
            display: block
            width: 100%
