//
// store
// ------------------
// filter
.store__filter__list
    width: 480px
    margin-right: 48px
    +media-breakpoint-down(xl)
        width: 260px
        margin-right: 20px
    +media-breakpoint-down(md)
        width: 100%
        margin-right: 0
.store__type__filter
    width: 550px
    +media-breakpoint-down(xl)
        width: 420px
        margin-right: 0
    +media-breakpoint-down(md)
        width: 100%
        margin-right: 0
.filter__subtitle
    font-size: 16px
    letter-spacing: 1.6px
    font-weight: bold
    margin-bottom: 24px


//
// store list
// ------------------
.store__list__wrap
    .store__item
        padding: 48px
        +media-breakpoint-down(xl)
            padding: 32px 20px
        +media-breakpoint-down(lg)
            padding: 28px 12px
        +media-breakpoint-down(md)
            padding: 20px 0