//
// page user 
// ------------------
$member-aside-width: 378px
$member-aside-width-lg: 350px
$member-aside-width-md: 220px
$member-aside-width-sm: 280px
$member-aside-width-xxs: 250px
.member__zone
    background-color: $gray-light
    min-height: calc(100vh - #{$headerheight-lg} - 203px)
    +media-breakpoint-down(md)
        min-height: calc(100vh - #{$headerheight-md} - 203px)
    +media-breakpoint-down(sm)
        min-height: calc(100vh - #{$headerheight-sm} - 203px)
    +media-breakpoint-down(xs)
        min-height: calc(100vh - #{$headerheight-xs} - 260px)
    +media-breakpoint-down(xxs)
        min-height: calc(100vh - #{$headerheight-xxs} - 260px)
    // inner right and aside
    // ------------------
    .aside__member__wrap
        width: $member-aside-width
        +media-breakpoint-down(lg)
            width: $member-aside-width-lg
        +media-breakpoint-down(md)
            width: $member-aside-width-md
        +media-breakpoint-down(sm)
            width: $member-aside-width-sm
            margin-left: auto
            margin-right: auto
            margin-bottom: 32px
        +media-breakpoint-down(xxs)
            width: $member-aside-width-xxs
    .innerpage__right
        width: calc(100% - #{$member-aside-width} - 32px)
        +media-breakpoint-down(lg)
            width: calc(100% - #{$member-aside-width-lg} - 30px)
        +media-breakpoint-down(md)
            width: calc(100% - #{$member-aside-width-md} - 16px)
        +media-breakpoint-down(sm)
            width: 100%
    
    // aside
    .member__aside
        +media-breakpoint-down(sm)
            max-height: 0
            overflow: hidden
    .aside__title.active + .member__aside
        +media-breakpoint-down(sm)
            max-height: 999vh
        
    .aside__member__info__wrap
        position: relative
        z-index: 1
        padding: 22px 32px
        text-align: center
        +media-breakpoint-down(lg)
            padding: 22px 18px
        +media-breakpoint-down(md)
            padding: 22px 10px
        &:before, &:after
            position: absolute
            top: 0
            left: 0
            content: ""
            display: block
            width: 100%
            border-radius: 5px 5px 100px 100px
            +media-breakpoint-down(md)
                border-radius: 10px 20px
            +media-breakpoint-down(sm)
                display: none
        &:before
            z-index: -1
            height: calc(100% - 37px)
            background-color: $gray-light
            box-shadow: 4px 9px 10px 0 #e1e9f0
        &:after
            height: calc(100% - 37px - 2px)
            z-index: -1
            -webkit-box-shadow: -4px -4px 8px 0px rgba(248,251,253,1)
            -moz-box-shadow: -4px -4px 8px 0px rgba(248,251,253,1)
            box-shadow: -4px -4px 8px 0px rgba(248,251,253,1)

    // aside level
    .aside__member__data
        margin-bottom: 42px
        +media-breakpoint-down(md)
            margin-bottom: 24px
    .member__level__pic
        +size(60px, 60px)
        background-color: white
        border-radius: 17px
        margin-right: 11px
        +media-breakpoint-down(md)
            +size(30px, 30px)
            border-radius: 6px
        img
            width: 25px
            +media-breakpoint-down(md)
                width: 16px
    .member__data__context
        .member__level__text
            font-size: 12px
            letter-spacing: 1.2px
            margin-bottom: 3px
            .level
                &--level01
                    color: $color-level01
                &--level02
                    color: $color-level02
                &--level03
                    color: $color-level03
        .aside__member__name
            font-size: 24px
            line-height: 1em
            letter-spacing: 2.4px
            font-weight: bold
            margin-bottom: 5px
            +media-breakpoint-down(md)
                font-size: 20px
                letter-spacing: 1px
    // bonus
    .member__bonus__wrap
        .title
            font-size: 16px
            letter-spacing: 1.6px
            color: $brand-second
            position: relative
            +media-breakpoint-down(md)
                font-size: 13px
            &:after
                content: ""
                width: 100%
                height: 2px
                background-color: $brand-base
                position: absolute
                +all_center
                z-index: -1
                +media-breakpoint-down(md)
                    height: 1px
            span
                position: relative
                padding: 0 14px
                background-color: $gray-light
                +media-breakpoint-down(md)
                    padding: 0 10px
        .expire__date
            font-size: 12px
            letter-spacing: .6px
            color: $gray-base
            position: relative
            &:after
                content: ""
                width: 100%
                height: 2px
                background-color: $brand-base
                position: absolute
                +all_center
                z-index: -1
                +media-breakpoint-down(md)
                    display: none
            .txt
                position: relative
                z-index: 1
                padding: 0 14px
                background-color: $gray-light

    .bonus__value
        font-family: $font-family-heading-custom
        font-size: 32px
        line-height: 1.5em
        font-weight: bold
        color: $brand-second
        letter-spacing: 3.2px
        padding: 8px
        +media-breakpoint-down(md)
            font-size: 24px
            letter-spacing: 2px
            line-height: 1.25em
            padding: 8px 6px 3px

    
    // membercard
    .membercard
        margin-top: 48px
        +media-breakpoint-down(md)
            margin-top: 24px
        +media-breakpoint-down(sm)
            width: calc(100% - 3rem)
            margin-left: auto
            margin-right: auto

    //  member aside menu
    .aside__member__menu
        list-style: none
        padding-left: 0
        margin-bottom: 0
        margin-top: 58px
        +media-breakpoint-down(lg)
            margin-top: 32px
        +media-breakpoint-down(md)
            margin-top: 24px
        +media-breakpoint-down(sm)
            margin-top: 16px
    .aside__member__menu__item
        margin-bottom: 2rem
        +media-breakpoint-down(sm)
            margin-bottom: 14px
        &:not(:last-child)
            +media-breakpoint-down(sm)
                border-bottom: 1px solid rgba($brand-base, .08)
    .aside__member__menu__link
        display: block
        text-align: center
        width: 100%
        letter-spacing: 1.6px
        border-radius: 12px
        background-color: $gray-lightest
        box-shadow: 4px 9px 10px 0 rgba(225, 233, 240, 0.16)
        padding: 18px 14px 14px
        +media-breakpoint-down(sm)
            box-shadow: none
            padding: 10px
            background-color: transparent
            border-radius: 0
            font-size: 14px
        +media-breakpoint-down(xxs)
            font-size: 13px
        &:hover
            +media-breakpoint-up(lg)
                background-color: white
                box-shadow: 4px 9px 13px 0 rgba(225, 233, 240, 0.5)
                +animation_ease
    // member logout
    .btn__aside__logout
        color: $gray-base
        margin-top: 66px
        display: block
        svg
            fill: $gray-base
        &:hover
            +media-breakpoint-up(lg)
                color: $brand-base
                svg
                    fill: $brand-base

.member__main__wrap
    margin-top: 80px
    +media-breakpoint-down(xl)
        margin-top: 72px
    +media-breakpoint-down(lg)
        margin-top: 64px
    +media-breakpoint-down(md)
        margin-top: 48px
    +media-breakpoint-down(ssm)
        margin-top: 32px
    +media-breakpoint-down(xs)
        margin-top: 24px
// member common
.member__content
    padding-left: 16px
    padding-right: 16px
    letter-spacing: 1.6px

.member__title
    min-width: 88px
    font-size: 16px
    margin-right: 32px
    font-weight: 500

.member__text
    letter-spacing: 1.6px

//
// member form styles
// ------------------
.member__form__item
    margin-bottom: 16px
    .form__label
        min-width: 88px
    .form__item, .form__item__control
        margin-bottom: 0
    .form__input__item
        letter-spacing: 1.4px
    .form__item__radio
        margin-right: 32px
    .form__input
        width: 240px
    &--medium
        .form__label
            min-width: 139px

//
// member card styles
// ------------------
.card__member__heading
    font-size: 20px
    line-height: 1.75em
    letter-spacing: 2px
    font-weight: 500
    color: $brand-base
    +media-breakpoint-down(ssm)
        font-size: 18px
    +media-breakpoint-down(xs)
        font-size: 17px
        letter-spacing: 1.4px
    
.member__card
    background-color: white
    border-radius: 12px
    margin-bottom: 32px
    padding: 16px
    +media-breakpoint-down(md)
        margin-bottom: 24px
    .btn
        border-radius: 15px
        +media-breakpoint-down(ssm)
            border-radius: 12px
        +media-breakpoint-down(ssm)
            border-radius: 8px

.card__header
    padding: 16px 0
    font-weight: 500
    letter-spacing: 1.6px
.card__body
    padding: 16px 0
    color: $gray-dark
    letter-spacing: 1.6px

//
// page 會員資料頁 
// ------------------
.member__data__list
    margin-bottom: 28px
.member__data__list__item
    &:not(:last-child)
        margin-right: 64px
        +media-breakpoint-down(xl)
            margin-right: 32px
        +media-breakpoint-down(md)
            margin-right: 0
            margin-bottom: 12px
    .label
        font-weight: 500px
        margin-right: 8px
.member__name
    font-size: 20px
    line-height: 1.75em
    letter-spacing: 2px
    font-weight: bold
    min-width: 174px
    +media-breakpoint-down(lg)
        min-width: 0
    +media-breakpoint-down(md)
        padding-right: 32px

//
// page 會員優惠資訊 
// ------------------
.member__upper__hint
    margin-top: 32px
    letter-spacing: 1.6px
    +media-breakpoint-down(ssm)
        margin-top: 24px
        letter-spacing: 1
    +media-breakpoint-down(xs)
        margin-top: 12px

.member__discount__infomation
    letter-spacing: 1.6px
.member__discount__item
    position: relative
    padding-left: 83px
    padding-bottom: 32px
    +media-breakpoint-down(sm)
        padding-left: 50px
    +media-breakpoint-down(ssm)
        padding-left: 48px
        padding-bottom: 20px
    +media-breakpoint-down(xs)
        padding-left: 32px
    &:not(:first-child)
        margin-top: 48px
        +media-breakpoint-down(sm)
            margin-top: 32px
        +media-breakpoint-down(xs)
            margin-top: 24px
    &:not(:last-child)
        border-bottom: 1px solid $color-cloudy-blue
    .item__icon
        position: absolute
        left: 0
        top: 0
        width: 50px
        +media-breakpoint-down(sm)
            top: 5px
            width: 36px
        +media-breakpoint-down(ssm)
            width: 28px
        +media-breakpoint-down(xs)
            width: 18px


//
// member progress mp__bar__wrap
// ------------------
$mpBarHeight: 30px
$mpBarHeight-ssm: 20px
$mpDotRadius: 10px
$mpDotRadius-ssm: 5px
$mpDotGutter: 50px
$mpDotGutter-ssm: 30px
$mpItemWidth: 120px
$mpItemWidth-xs: 80px
$mpItemWidth-xxs: 40px
.mp__bar__container
    width: 100%
    overflow: hidden
.mp__bar__wrap
    margin-top: 191px
    margin-bottom: 20px
    +media-breakpoint-down(xl)
        margin-top: 180px
    +media-breakpoint-down(lg)
        margin-top: 150px
    +media-breakpoint-down(ssm)
        margin-top: 120px
.mp__bar
    // 球寬 , 間距
    padding-left: calc(#{$mpItemWidth} / 2 - #{$mpDotRadius} - 5px)
    padding-right: calc(#{$mpItemWidth} / 2 - #{$mpDotRadius} - 5px)
    +media-breakpoint-down(ssm)
        padding-left: calc(#{$mpItemWidth} / 2 - #{$mpDotRadius-ssm} - 5px)
        padding-right: calc(#{$mpItemWidth} / 2 - #{$mpDotRadius-ssm} - 5px)
    +media-breakpoint-down(xs)
        padding-left: calc(#{$mpItemWidth-xs} / 2 - #{$mpDotRadius-ssm} - 5px)
        padding-right: calc(#{$mpItemWidth-xs} / 2 - #{$mpDotRadius-ssm} - 5px)
    +media-breakpoint-down(xxs)
        padding-left: calc(#{$mpItemWidth-xxs} / 2 - #{$mpDotRadius-ssm} - 5px)
        padding-right: calc(#{$mpItemWidth-xxs} / 2 - #{$mpDotRadius-ssm} - 5px)
.mp__bar__bg
    width: calc(100% - 10px)
    height: $mpBarHeight
    border-radius: 33px
    position: relative
    margin-left: auto
    margin-right: auto
    +media-breakpoint-down(ssm)
        height: $mpBarHeight-ssm
    &:before
        content: ""
        width: calc(100% + 5px * 2)
        height: 100%
        position: absolute
        left: -5px
        top: 0
        background-color: $border-gray
        border-radius: 33px
.icon__amount__now
    position: absolute
    top: -126px
    background: url(~images/bg/bg-amount-now.png) top center no-repeat
    background-size: contain
    width: 68px
    height: 95px
    text-align: center
    padding-top: 10px
    letter-spacing: 1.6px
    font-size: 16px
    color: white
    transform: translateX(-50%)
    +media-breakpoint-down(lg)
        font-size: 14px
        letter-spacing: 1px
        top: -110px
        width: 60px
        height: 80px
    +media-breakpoint-down(ssm)
        font-size: 12px
        line-height: 1.5em
        letter-spacing: 0
        top: -100px
        width: 58px
        height: 70px
    +media-breakpoint-down(xs)
        top: -90px
.mp__current__bar
    position: absolute
    top: 5px
    left: 0
    height: $mpDotRadius * 2
    border-radius: 33px
    background: rgba(0,40,63,1)
    background: -moz-linear-gradient(left, rgba(0,40,63,1) 0%, rgba(189,219,240,1) 34%, rgba(232,94,83,1) 100%)
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,40,63,1)), color-stop(34%, rgba(189,219,240,1)), color-stop(100%, rgba(232,94,83,1)))
    background: -webkit-linear-gradient(left, rgba(0,40,63,1) 0%, rgba(189,219,240,1) 34%, rgba(232,94,83,1) 100%)
    background: -o-linear-gradient(left, rgba(0,40,63,1) 0%, rgba(189,219,240,1) 34%, rgba(232,94,83,1) 100%)
    background: -ms-linear-gradient(left, rgba(0,40,63,1) 0%, rgba(189,219,240,1) 34%, rgba(232,94,83,1) 100%)
    background: linear-gradient(to right, rgba(0,40,63,1) 0%, rgba(189,219,240,1) 34%, rgba(232,94,83,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00283f', endColorstr='#e85e53', GradientType=1 )
    +media-breakpoint-down(ssm)
        height: $mpDotRadius-ssm * 2
.mp__dot
    position: absolute
    width: calc(#{$mpDotRadius} * 2)
    height: calc(#{$mpDotRadius} * 2)
    border-radius: 40px
    background-color: white
    top: $mpBarHeight * -1 + 5px - $mpDotGutter
    +h_center
    +media-breakpoint-down(ssm)
        width: calc(#{$mpDotRadius-ssm} * 2)
        height: calc(#{$mpDotRadius-ssm} * 2)
        top: $mpBarHeight-ssm * -1 + 5px - $mpDotGutter-ssm
.mp__light
    +size(66px, 66px)
    position: absolute
    border: 1px solid $border-color-level01
    top: - $mpDotGutter - $mpBarHeight / 2
    left: calc(50% - 33px)
    background-color: white
    border-radius: 66px
    opacity: 0
    transform: translateY(-50%)
    +media-breakpoint-down(ssm)
        left: calc(50% - 25px)
        top: - $mpDotGutter-ssm - $mpBarHeight-ssm / 2
        +size(50px, 50px)

    img
        display: block
        width: 60px
        margin: auto
        +media-breakpoint-down(ssm)
            width: 48px
// mp__item
.mp__items
    margin-top: $mpDotGutter
    +media-breakpoint-down(ssm)
        margin-top: $mpDotGutter-ssm
.mp__item
    position: relative
    width: $mpItemWidth
    height: auto
    display: block
    color: #bababa
    text-align: center
    +media-breakpoint-down(xs)
        width: $mpItemWidth-xs
        color: rgba($gray, .75)
    +media-breakpoint-down(xxs)
        width: $mpItemWidth-xxs
    &.current
        color: $brand-second
        .mp__light
            opacity: 1
        .mp__dot
            opacity: 1
    .title
        font-size: 20px
        letter-spacing: 2px
        font-weight: bold
        +media-breakpoint-down(xl)
            font-size: 18px
            letter-spacing: 1px
        +media-breakpoint-down(ssm)
            font-size: 15px
    .icon__level--origin
        width: 30px
        margin-right: 3px
        +media-breakpoint-down(ssm)
            width: 20px
        +media-breakpoint-down(xs)
            display: block
            margin: 0 auto 3px auto
    .hint
        font-size: 18px
        letter-spacing: 1.8px
        margin-top: 10px
        +media-breakpoint-down(xl)
            font-size: 15px
        +media-breakpoint-down(ssm)
            font-size: 13px
            margin-top: 5px
            letter-spacing: 1px
        +media-breakpoint-down(xs)
            letter-spacing: 0
            font-size: 12px
