nav.mega__menu__wrap.js__mega__menu__wrap.mainmenu__list.main__list
	.mega__menu__container.container
		ul.js__mega__menu__nav.d-block.d-lg-flex.align-items-center
			- var mainmenu_items = [{"label":"最新消息","children":[{"href":"news_list.html","label":"最新消息1"},{"href":"news_list.html","label":"最新消息2"},{"href":"news_list.html","label":"最新消息3"}]},{"label":"關於我們","href":"about.html"},{"label":"商品介紹","href":"product.html","children":[{"href":"product_list.html","label":"咖啡飲品"},{"href":"product_list.html","label":"手作麵包"},{"href":"product_list.html","label":"精緻蛋糕"},{"href":"product_list.html","label":"外燴茶點"},{"href":"product_list.html","label":"外燴茶點"},{"href":"product_list.html","label":"義式冰品"}]},{"label":"線上購物","current":true,"children":[{"href":"product_list02.html","label":"咖啡豆"},{"href":"product_list02.html","label":"咖啡禮盒"},{"href":"product_list02.html","label":"精緻蛋糕"},{"href":"product_list02.html","label":"義式冰品","current":true},{"href":"product_list02.html","label":"客製西點"}]},{"label":"會員專區","children":[{"href":"user01.html","label":"會員資料"},{"href":"user03.html","label":"訂單資訊"},{"href":"user03.html","label":"會員優惠"},{"href":"user03.html","label":"點數查詢"}]},{"label":"門市據點","children":[{"href":"store.html","label":"門市據點1"},{"href":"store.html","label":"門市據點2"}]},{"label":"聯絡我們","children":[{"href":"contact.html","label":"聯絡專區"},{"href":"contact.html","label":"人才招募"}]}]
			each mainmenu_item in mainmenu_items
				if mainmenu_item.children
					//- dropdown-menu start
					li.mainmenu__item.dropdown(class=mainmenu_item.current?'current':'')
						a.mainmenu__link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', href=mainmenu_item.href)
							span=mainmenu_item.label
							img(src=basePath+"images/icons/icon-arrow-down-white.png", alt="").icon__arrow
						ul.dropdown-menu.right
							each child in mainmenu_item.children
								li(class=child.current?'current':'').mainmenu__submenu__item
									a.mainmenu__submenu__link(href=child.href)=child.label
					//- dropdown-menu end
				else
					li.mainmenu__item(class=mainmenu_item.current?'current':'')
						a.mainmenu__link(href=mainmenu_item.href)=mainmenu_item.label
			