#js__pageload.pageload
    .pageload__content
        .pageload__logo
            svg(class="stroke_logo ", width='307', height='83', viewBox='0 0 307 83')
                path.path.word(d='M123.5,3.6h16v1.3c-1.5,0-2.7,0.2-3.5,0.6c-0.8,0.4-1.3,1.1-1.3,2.2c0,0.7-0.1,1.2-0.1,1.6\
                c0,0.4,0,0.6,0,0.5v22.1c0,0.9,0.1,1.7,0.3,2.3c0.2,0.6,0.5,1,0.9,1.2c0.4,0.2,0.8,0.4,1.3,0.5c0.5,0.1,1.3,0.2,2.5,0.3v1.3h-16\
                v-1.3c1.4,0,2.5-0.2,3.2-0.4c0.7-0.3,1.2-0.7,1.4-1.3c0.2-0.6,0.3-1.6,0.3-2.9V10c0-1.3-0.1-2.2-0.2-2.8s-0.3-1.1-0.7-1.3\
                c-0.3-0.3-0.8-0.5-1.4-0.6c-0.6-0.1-1.5-0.2-2.7-0.3C123.5,5,123.5,3.6,123.5,3.6z M129.2,9.3v23.9c0,0.8-0.1,1.4-0.4,1.8\
                c-0.3,0.4-0.8,0.8-1.5,1.2c1,0,1.9-0.2,2.5-0.5c0.6-0.3,1-1,1-2.1V8.1c0-1.1-0.2-1.9-0.7-2.4s-1.3-0.8-2.7-0.7\
                c1.2,0.6,1.8,1.9,1.8,3.6c0,0.1,0,0.2,0,0.4C129.3,9,129.3,9.1,129.2,9.3z')
                path.path.word(d='M148.3,3.6h30.5l1.7,7.9h-1.7c-1.2-2.1-2.5-3.6-3.9-4.5s-2.6-1.5-3.8-1.7S168.4,5,166.4,5v27.3\
                c0,1.1,0.2,1.9,0.5,2.4c0.3,0.5,0.9,0.9,1.7,1.1c0.8,0.2,1.8,0.3,3.2,0.4v1.3H155v-1.3c1.4,0,2.5-0.1,3.2-0.3s1.3-0.6,1.7-1.2\
                c0.4-0.6,0.6-1.5,0.6-2.7V5c-1.7,0-3.2,0.2-4.5,0.5s-2.4,0.8-3.2,1.3s-1.6,1.2-2.1,1.8c-0.6,0.6-1.4,1.6-2.5,3h-1.5L148.3,3.6z\
                M152.8,4.9h-3.9l-1,4.1c0.8-1.1,1.5-1.9,2.1-2.4C150.7,6.1,151.6,5.5,152.8,4.9z M162.8,31.3V7.8c0-0.9-0.1-1.6-0.3-2.1\
                c-0.2-0.5-0.6-0.7-1.2-0.8v27.3c0,1-0.1,1.8-0.4,2.4c-0.2,0.6-0.7,1.1-1.3,1.6h0.5c1.2,0,1.9-0.4,2.2-1.1\
                C162.6,34.3,162.8,33,162.8,31.3z M177.8,8.7l-1.1-3.8h-4.5c1.2,0.4,2.2,0.9,3,1.5C176.1,7,176.9,7.8,177.8,8.7z')
                path.path.word(d='M188.6,18.5v-1.6c0.9-0.4,1.7-1.1,2.3-1.8c0.6-0.8,0.9-1.6,0.9-2.5c0-0.7-0.2-1.3-0.5-1.9\
                c-0.4-0.6-0.8-1.2-1.4-1.8c-0.7-0.8-1.2-1.4-1.5-1.8c-0.3-0.4-0.4-0.9-0.4-1.5c0-0.7,0.3-1.4,0.9-1.9c0.6-0.6,1.3-0.8,2.1-0.8\
                c0.7,0,1.4,0.3,2.1,0.8c0.7,0.5,1.2,1.3,1.7,2.2c0.4,1,0.6,2,0.6,3.2c0,2.1-0.6,3.9-1.7,5.5C192.6,16.2,190.9,17.5,188.6,18.5z\
                M192.1,14.8c1-1.2,1.4-2.5,1.4-3.7c0-1-0.2-1.8-0.6-2.3c-1.3-1.6-2.1-2.5-2.3-2.7c-0.2-0.3-0.3-0.5-0.3-0.8\
                c0-0.6,0.3-1.1,0.9-1.5h-0.5c-0.6,0-1.1,0.2-1.4,0.6c-0.3,0.4-0.5,0.8-0.5,1.3c0,0.3,0.1,0.6,0.3,0.9s0.4,0.7,0.8,1.1\
                c0.4,0.4,0.7,0.7,0.9,0.9c1.3,1.4,2,2.7,2,3.8C192.7,12.9,192.5,13.7,192.1,14.8z')
                path.path.word(d='M205,25.2h1.6c0.9,2.5,1.9,4.7,3.2,6.4c1.2,1.7,2.6,3,4.1,3.8s3,1.2,4.6,1.2c2,0,3.7-0.6,5.1-1.9\
                c1.4-1.2,2.1-2.8,2.1-4.8c0-1.8-0.5-3.2-1.4-4.3c-0.9-1-2.1-1.7-3.4-2.1c-1.3-0.4-3-0.8-5.2-1.1c-2.1-0.4-3.7-0.7-4.6-1\
                c-1.4-0.5-2.6-1.1-3.6-2c-1-0.9-1.7-1.8-2.2-3c-0.5-1.2-0.8-2.4-0.8-3.8c0-1.3,0.2-2.5,0.7-3.7c0.4-1.2,1.1-2.2,1.9-3.1\
                c0.8-0.9,1.8-1.6,3-2.2c1.2-0.5,2.5-0.8,3.9-0.8c1,0,2.3,0.1,3.8,0.4c1.5,0.3,2.6,0.4,3.3,0.4c0.9,0,1.7-0.2,2.4-0.6h1.8l1,9.9\
                h-1.7c-1.6-2.9-3.2-5.2-4.9-6.7c-1.7-1.5-3.7-2.3-6.1-2.3c-1.2,0-2.2,0.3-3.2,0.8c-1,0.5-1.8,1.3-2.4,2.2c-0.6,0.9-0.9,2-0.9,3.1\
                c0,1.6,0.5,2.8,1.6,3.7c1.1,0.8,2.7,1.5,4.8,1.9c2.1,0.4,4,0.8,5.7,1.1c1.7,0.3,3,0.7,4,1.2c1.8,0.9,3.2,2.1,4.2,3.7\
                c1,1.6,1.5,3.4,1.5,5.4c0,1.9-0.5,3.7-1.4,5.4c-0.9,1.7-2.2,3-3.9,4c-1.7,1-3.6,1.5-5.6,1.5c-1.2,0-2-0.1-2.6-0.3s-1.6-0.5-3-1\
                s-2.5-0.8-3.3-0.8c-1.3,0-2.3,0.5-3,1.5h-1.4V25.2H205z M205.8,9.9c-0.3,1.2-0.4,2.2-0.4,3c0,0.8,0.1,1.7,0.4,2.6\
                c0.3,0.9,0.7,1.7,1.3,2.4c0.6,0.8,1.2,1.4,1.9,1.9c0.9,0.6,2,1.1,3.1,1.4c1.1,0.3,2.8,0.6,5,0.9c2.2,0.4,3.7,0.7,4.5,1\
                c1.5,0.6,2.7,1.4,3.6,2.6c0.9,1.2,1.3,2.5,1.3,4.1c0,1.2-0.3,2.4-1,3.6c1.3-1.4,2-3,2-4.8c0-1.9-0.5-3.4-1.5-4.5\
                c-1-1.1-2.2-1.9-3.6-2.4c-1.4-0.5-3.4-1-5.9-1.4c-2.5-0.4-3.8-0.7-3.8-0.7c-2.3-0.6-4-1.6-5.2-3.1c-1.2-1.5-1.8-3.1-1.8-5\
                c0-0.4,0-0.6,0-0.9C205.7,10.3,205.7,10.1,205.8,9.9z M205.8,29.7v6.4c0.5-0.6,0.9-1,1.3-1.2c0.4-0.2,1-0.2,1.8-0.2\
                c-0.5-0.6-0.9-1.1-1.1-1.4c-0.2-0.3-0.5-0.7-0.9-1.3C206.5,31.4,206.1,30.7,205.8,29.7z M223.8,9.7L223,5.1\
                c-0.5,0.2-1.1,0.3-1.6,0.3c-0.6,0-1.2-0.1-1.9-0.3c0.6,0.4,1.2,0.9,1.7,1.4c0.5,0.5,1,1.1,1.5,1.8C223.3,9.1,223.7,9.5,223.8,9.7\
                z')
                path.path.word(d='M143,80.6h-19v-1.3c1.3,0,2.4-0.2,3-0.4c0.6-0.2,1.1-0.6,1.4-1.1c0.3-0.5,0.4-1.3,0.4-2.4V51.3\
                c0-1.2-0.4-2-1.2-2.4c-0.8-0.4-2-0.7-3.7-0.8v-1.3h19.8c2.6,0,4.9,0.4,7.1,1.3s4,2,5.6,3.6s2.8,3.4,3.6,5.5s1.3,4.4,1.3,6.8\
                c0,2.4-0.4,4.6-1.3,6.6c-0.9,2-2.1,3.8-3.8,5.3c-1.7,1.5-3.6,2.7-5.9,3.5C148.2,80.2,145.7,80.6,143,80.6z M131.2,75.6V53.4\
                c0-1.9-0.2-3.2-0.5-4c-0.4-0.8-1.3-1.2-2.7-1.2c0.7,0.4,1.1,0.8,1.4,1.3c0.2,0.5,0.3,1.3,0.3,2.4V75c0,1-0.1,1.8-0.2,2.3\
                c-0.1,0.6-0.3,1-0.5,1.3c-0.2,0.3-0.6,0.5-1,0.7c1.2,0,2.1-0.3,2.5-0.9C131,77.8,131.2,76.9,131.2,75.6z M134.9,55v19.4\
                c0,1.4,0.1,2.4,0.3,3c0.2,0.6,0.6,1.1,1.4,1.4c0.7,0.3,1.9,0.5,3.5,0.5c1.7,0,3.3-0.2,4.7-0.5c1.4-0.4,2.7-1,3.9-1.9\
                c1.5-1.1,2.6-2.2,3.5-3.4c0.8-1.2,1.4-2.6,1.8-4.2c0.4-1.6,0.6-3.3,0.6-5.2c0-5.7-1.7-10-5-12.8c-1.3-1.1-2.8-1.9-4.4-2.4\
                c-1.6-0.5-3.5-0.7-5.7-0.7c-1.5,0-2.6,0.2-3.2,0.7c-0.6,0.4-1,1.1-1.1,1.9C134.9,51.5,134.9,52.9,134.9,55z M146.1,79.3\
                c2-0.2,3.9-0.9,5.5-2.1c1.6-1.2,2.9-2.9,3.9-5.1c1-2.2,1.4-4.8,1.4-7.9c0-2.2-0.2-4.2-0.7-6c-0.5-1.8-1.1-3.4-2-4.8\
                c-0.9-1.4-2-2.5-3.2-3.3c-0.7-0.5-1.5-0.9-2.3-1.1s-1.7-0.5-2.6-0.6c6.1,2.4,9.2,7.8,9.2,16c0,2.5-0.3,4.7-1,6.6\
                c-0.6,1.9-1.7,3.6-3,5C149.9,77.3,148.2,78.4,146.1,79.3z')
                path.path.word(d='M187.2,74.7l-2.7-6.9h-11.3l-1.6,4.1c-0.4,1-0.6,2.1-0.6,3.2c0,1.1,0.3,2,1,2.8c0.7,0.8,1.6,1.2,2.8,1.3v1.3\
                h-11.1v-1.3c2.5-0.4,4.5-2.5,6-6.4l8.3-21.3c-0.4-0.8-0.9-1.3-1.4-1.5c-0.5-0.3-1.2-0.4-2.1-0.5v-1.2l5.8-2h2.2l11.1,28.3\
                c0.6,1.6,1.3,2.7,1.9,3.3c0.6,0.6,1.6,1,2.9,1.3v1.3H184v-1.3c1.2-0.1,2.2-0.3,2.8-0.6c0.6-0.3,0.9-0.8,0.9-1.5\
                C187.9,76.6,187.6,75.8,187.2,74.7z M166.1,79.3h4.6c-1-0.8-1.5-1.8-1.5-3c0-0.3,0-0.6,0-0.8c-0.4,0.8-0.9,1.5-1.3,2\
                C167.5,78.2,166.9,78.7,166.1,79.3z M173.6,66.3h10.2l-5.1-12.9L173.6,66.3z M189.3,73.8l-8.5-21.7c-0.4-1.1-0.8-1.9-1.3-2.3\
                c-0.4-0.5-1.1-0.7-1.8-0.7c-0.5,0-0.8,0-1.1,0.1c0.8,0.3,1.3,0.7,1.7,1.3c0.4,0.6,0.8,1.3,1.1,2.2l8.5,21.7\
                c0.5,1.3,0.8,2.3,0.8,3c0,0.5-0.1,0.8-0.3,1s-0.5,0.5-1.1,0.9h0.5c0.8,0,1.3-0.2,1.7-0.6c0.4-0.4,0.6-0.9,0.6-1.4\
                C190.2,76.5,189.9,75.4,189.3,73.8z')
                path.path.word(d='M223.2,46.8h11.1v1.3c-1.2,0.1-2.4,0.8-3.5,2.1c-1.1,1.4-2.2,3.4-3.2,6.1l-9.9,25h-1.4L204,52.1\
                c-0.7-1.8-1.3-2.9-1.8-3.3c-0.5-0.4-1.4-0.7-2.8-0.7v-1.3h14.4v1.3h-0.4c-1.1,0-1.9,0.2-2.5,0.6c-0.6,0.4-0.9,0.9-0.9,1.6\
                c0,0,0.1,0.2,0.2,0.8c0.1,0.6,0.2,1,0.3,1.3l8.7,20.9l6.3-15.8c0.9-2.2,1.3-4,1.3-5.4c0-1.3-0.3-2.3-1-3S224.2,48,223,48v-1.2\
                H223.2z M204.8,51.8L216.6,80c0.5-0.9,0.7-1.5,0.7-1.8c0-0.4-0.2-1.1-0.7-2.1L206.5,52c-0.4-1-0.8-1.8-1.1-2.4\
                c-0.3-0.6-0.7-0.9-1.2-1.2c-0.5-0.3-1.2-0.4-2.1-0.5c0.6,0.2,1.1,0.6,1.4,1.2C203.8,49.7,204.3,50.5,204.8,51.8z M230.4,48.1\
                h-4.7c1.3,0.7,2,2,2.1,3.8C228.4,50.2,229.3,48.9,230.4,48.1z')
                path.path.word(d='M239.4,46.8h16v1.3c-1.5,0-2.7,0.2-3.5,0.6c-0.8,0.4-1.3,1.1-1.3,2.2c0,0.7-0.1,1.2-0.1,1.6s0,0.6,0,0.5\
                v22.1c0,0.9,0.1,1.7,0.3,2.3s0.5,1,0.9,1.2c0.4,0.2,0.8,0.4,1.3,0.5s1.3,0.2,2.5,0.3v1.3h-16v-1.3c1.4,0,2.5-0.2,3.2-0.4\
                c0.7-0.3,1.2-0.7,1.4-1.3c0.2-0.6,0.3-1.6,0.3-2.9V53.1c0-1.3-0.1-2.2-0.2-2.8c-0.1-0.6-0.3-1.1-0.7-1.3\
                c-0.3-0.3-0.8-0.5-1.4-0.6c-0.6-0.1-1.5-0.2-2.7-0.3V46.8z M245.1,52.5v23.9c0,0.8-0.1,1.4-0.4,1.8c-0.3,0.4-0.8,0.8-1.5,1.2\
                c1,0,1.9-0.2,2.5-0.5c0.6-0.3,1-1,1-2.1V51.3c0-1.1-0.2-1.9-0.7-2.4s-1.3-0.8-2.7-0.7c1.2,0.6,1.8,1.9,1.8,3.6c0,0.1,0,0.2,0,0.4\
                C245.2,52.2,245.2,52.3,245.1,52.5z')
                path.path.word(d='M281.2,80.6h-19v-1.3c1.3,0,2.4-0.2,3-0.4c0.6-0.2,1.1-0.6,1.4-1.1c0.3-0.5,0.4-1.3,0.4-2.4V51.3\
                c0-1.2-0.4-2-1.2-2.4c-0.8-0.4-2-0.7-3.7-0.8v-1.3h19.8c2.6,0,4.9,0.4,7.1,1.3s4,2,5.6,3.6s2.8,3.4,3.6,5.5\
                c0.8,2.1,1.3,4.4,1.3,6.8c0,2.4-0.4,4.6-1.3,6.6c-0.9,2-2.1,3.8-3.8,5.3c-1.7,1.5-3.6,2.7-5.9,3.5\
                C286.4,80.2,283.9,80.6,281.2,80.6z M269.5,75.6V53.4c0-1.9-0.2-3.2-0.5-4c-0.4-0.8-1.3-1.2-2.7-1.2c0.7,0.4,1.1,0.8,1.4,1.3\
                c0.2,0.5,0.3,1.3,0.3,2.4V75c0,1-0.1,1.8-0.2,2.3c-0.1,0.6-0.3,1-0.5,1.3c-0.2,0.3-0.6,0.5-1,0.7c1.2,0,2.1-0.3,2.5-0.9\
                C269.2,77.8,269.5,76.9,269.5,75.6z M273.1,55v19.4c0,1.4,0.1,2.4,0.3,3s0.6,1.1,1.4,1.4c0.7,0.3,1.9,0.5,3.5,0.5\
                c1.7,0,3.3-0.2,4.7-0.5c1.4-0.4,2.7-1,3.9-1.9c1.5-1.1,2.6-2.2,3.5-3.4c0.8-1.2,1.4-2.6,1.8-4.2c0.4-1.6,0.6-3.3,0.6-5.2\
                c0-5.7-1.7-10-5-12.8c-1.3-1.1-2.8-1.9-4.4-2.4s-3.5-0.7-5.7-0.7c-1.5,0-2.6,0.2-3.2,0.7c-0.6,0.4-1,1.1-1.1,1.9\
                C273.2,51.5,273.1,52.9,273.1,55z M284.3,79.3c2-0.2,3.9-0.9,5.5-2.1c1.6-1.2,2.9-2.9,3.9-5.1c1-2.2,1.4-4.8,1.4-7.9\
                c0-2.2-0.2-4.2-0.7-6c-0.5-1.8-1.1-3.4-2-4.8c-0.9-1.4-2-2.5-3.2-3.3c-0.7-0.5-1.5-0.9-2.3-1.1c-0.8-0.2-1.7-0.5-2.6-0.6\
                c6.1,2.4,9.2,7.8,9.2,16c0,2.5-0.3,4.7-1,6.6c-0.6,1.9-1.7,3.6-3,5C288.1,77.3,286.4,78.4,284.3,79.3z')
                path.path.word(d='M299.8,77.1c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6c0,2-1.6,3.6-3.6,3.6C301.3,80.6,299.8,79,299.8,77.1z\
                M306.1,77.1c0-1.5-1.2-2.8-2.8-2.8c-1.6,0-2.8,1.2-2.8,2.8c0,1.5,1.2,2.8,2.8,2.8S306.1,78.6,306.1,77.1z')
                path.path.word(d='M303.9,77.1c0.1,0,0.1,0,0.1,0.1c0.1,0.1,0.2,0.2,0.3,0.3c0.1,0.1,0.1,0.2,0.1,0.2c0.2,0.4,0.4,0.7,0.5,1.1\
                c0,0.1,0,0.1,0,0.1c-0.3,0-0.6,0-0.9,0c0,0-0.1,0-0.1-0.1c-0.1-0.3-0.3-0.6-0.4-0.9c-0.1-0.1-0.1-0.2-0.2-0.3s-0.2-0.2-0.4-0.2\
                c-0.1,0-0.2,0-0.3,0l0,0c0,0.3,0,0.5,0,0.8c0,0.2,0,0.4,0,0.6l0,0c-0.3,0-0.6,0-0.9,0l0,0l0,0c0-1.2,0-2.4,0-3.6\
                c0-0.1,0-0.1,0.1-0.1c0.5,0,1,0,1.5,0c0.2,0,0.5,0,0.7,0.1s0.3,0.2,0.5,0.3c0.1,0.1,0.1,0.3,0.2,0.4c0,0.2,0,0.3,0,0.5\
                c-0.1,0.3-0.3,0.5-0.5,0.6C304,77.1,304,77.1,303.9,77.1z M302.7,76.3c0,0.1,0,0.3,0,0.4l0,0c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.2,0\
                c0.2,0,0.3-0.1,0.3-0.3c0-0.1,0-0.2,0-0.2c0-0.2-0.1-0.3-0.3-0.3c-0.1,0-0.1,0-0.2,0s-0.3,0-0.4,0l0,0\
                C302.7,76,302.7,76.2,302.7,76.3z')

                path.path.head(d='M35,51.7c-0.1,0-0.2-0.1-0.2-0.1c-1-0.4-2-0.6-3-0.9c-0.3-0.1-0.6-0.2-1-0.3c-0.7-0.2-1.4-0.4-2.2-0.7\
                c-1.1-0.4-2.3-1.1-3.9-1.4c-0.9-0.2-2-0.6-2.9-1c-1.5-0.5-5-0.5-5.6-0.4c-0.1,0-0.1,0-0.2,0c-0.2,0-0.3-0.1-0.4-0.3\
                c0-0.1,0-0.2-0.1-0.2c0-0.3,0-0.6,0.2-0.9c0.1-0.1,0.1-0.1,0.2-0.2c0.1-0.2,0-0.4-0.3-0.5c-0.2-0.1-0.5-0.1-0.6,0\
                c-0.1,0-0.1,0.1-0.2,0.1c-0.3,0.3-0.4,0.7-0.4,1.2c0,0.4,0.2,0.8,0.5,1.3c0.2,0.4,0.5,0.6,0.9,0.5c0.3,0,0.6-0.1,0.8-0.1\
                c1.1-0.1,2.1-0.1,3.2,0c1.3,0.3,3.3,1.3,5.1,1.7c0.7,0.2,1.4,0.5,2,0.7s1.1,0.3,1.6,0.5c1,0.4,1.8,0.6,2.6,0.9c0,0,0,0,0,0.1\
                c-0.3,0.1-0.5,0-0.7,0.1c-0.5,0.1-1.1-0.1-1.6-0.1c-0.1,0-0.2,0-0.2,0c-0.7,0.1-1.7-0.1-2.5-0.1c-1.7,0-3.4-0.2-5.1-0.5\
                c-0.9-0.1-1.4,0-2.1,0.1c-0.7,0.2-1.4,0.6-2.2,0.8c-1.6,0.5-3.4,1-5.1,1.7c-0.3,0.1-0.5-0.4-0.7-0.9c-0.2-0.7-0.5-1.4-0.7-2\
                c-0.4-1.1-0.6-2.3-0.8-3.2c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.2,0.2-0.3c0.1,0,0.3,0,0.4,0c0.3,0,0.5,0,0.8-0.1\
                c0.8-0.2,1.3-0.5,1.9-0.9c0.7-0.5,1-1,1.1-1.6c0-0.1,0-0.1-0.1-0.2c-0.1-0.2-0.6-0.3-0.8-0.1c-0.1,0.1-0.2,0.1-0.2,0.2\
                c-0.1,0.1-0.1,0.2-0.2,0.4c-0.1,0.2-0.3,0.5-0.5,0.7s-0.4,0.3-0.7,0.5c-0.5,0.3-1,0.3-1.4,0.2c0,0,0,0-0.1,0\
                c-0.6,0.2-1.1,0.4-1.7,0.6c0,1,0.2,2.2,0.7,3.6c0.3,0.9,0.6,1.8,1,2.6c0.2,0.4,0.4,0.9,0.3,1.5c0,0.3,0.1,0.5,0.3,0.7\
                c0.1,0.1,0.2,0.2,0.2,0.3c0.4-0.2,0.5-0.5,0.9-0.6c0-0.1,0.1-0.2,0.3-0.2c0.4-0.2,0.9-0.3,1.4-0.4c1.8-0.5,3.7-1,5.3-1.7\
                c0.3-0.1,0.6-0.2,0.8-0.3c0.7-0.2,1.6-0.2,2.5-0.1c1.9,0.2,3.9,0.4,5.7,0.4c0.6,0,1.1,0,1.6-0.1c0.8-0.1,1.6,0.1,2.3,0.1\
                c0.9,0,1.8,0,2.7,0.1c0.1,0,0.2,0,0.3,0c0.2,0,0.5-0.2,0.6-0.4C35.1,52,35.1,51.8,35,51.7z')
                path.path.head(d='M91.6,64.7c0,1.6-0.3,3-0.9,4.3c-0.8,1.8-2,3.3-3.5,4.6c-1.4,1.1-2.8,2.2-4.5,2.9c-0.9,0.4-1.7,0.7-2.7,0.8\
                c-1,0.1-1.9,0.1-2.8-0.2c-0.1,0-0.3-0.1-0.4-0.2c-0.2-0.1-0.3-0.3-0.2-0.6c0.1-0.2,0.3-0.4,0.5-0.4c0.1,0,0.2,0,0.3,0.1\
                c1.1,0.4,2.3,0.3,3.4,0c0.9-0.3,1.7-0.6,2.5-1.1c1.1-0.6,2.2-1.3,3.2-2.2c1.2-1,2.2-2.1,2.9-3.5c0.5-1,0.9-2.2,1-3.3\
                c0.2-1.7-0.1-3.4-0.7-4.9c-0.4-0.9-1-1.8-1.7-2.5c-0.8-0.8-1.7-1.6-2.7-2.1c-0.3-0.1-0.5-0.3-0.8-0.4c-0.7-0.2-1.4-0.2-2.1,0.2\
                c-0.4,0.2-0.7,0.5-1,0.7c-0.8,0.7-1.5,1.4-1.9,2.3c-0.3,0.6-0.4,1.3-0.5,2c-0.1,1,0.2,2,0.4,2.9c0.3,1,0.6,2,0.9,3.1\
                c0.1,0.5,0.2,1,0.3,1.5c0,0.1,0,0.3,0,0.4c0,0.2-0.1,0.4-0.4,0.4c-0.2,0.1-0.5,0-0.6-0.3c0-0.1-0.1-0.2-0.1-0.3\
                c-0.2-1.5-0.7-3-1.2-4.5c-0.2-0.7-0.3-1.4-0.5-2.1c-0.2-1.1-0.1-2.2,0.3-3.2c0.2-0.5,0.5-1,0.8-1.5c0.6-0.8,1.3-1.6,2.2-2.2\
                c0.2-0.2,0.5-0.3,0.7-0.4c1-0.5,2-0.6,3-0.1c3.2,1.5,5.3,4,6.1,7.4C91.5,63.3,91.6,64.1,91.6,64.7z')
                path.path.head(d='M24.1,67.7c0,0.1,0,0.1,0.1,0.2c0.6,0.5,1.2,1,1.9,1.4c0.2,0.1,0.3,0.2,0.5,0.2c0.9,0.4,1.8,0.3,2.7-0.3\
                c0.1-0.1,0.3-0.2,0.4-0.2c0.2-0.1,0.4,0,0.6,0.1c0.1,0.2,0.2,0.4,0,0.6c-0.1,0.1-0.2,0.2-0.4,0.3c-1,0.6-2.1,0.8-3.2,0.5\
                c-0.5-0.1-1-0.4-1.4-0.6c-0.6-0.4-1.1-0.8-1.6-1.2c-0.6-0.6-1.1-1.1-1.6-1.8c-0.1-0.2-0.3-0.4-0.3-0.6c0-0.1-0.1-0.2-0.1-0.4\
                c-0.2-0.5,0-0.7,0.5-0.8h0.1V65c-0.3-1.2-0.2-2.4,0.3-3.6c0-0.1,0.1-0.2,0.1-0.2c0-0.1,0-0.1-0.1-0.2c-0.1,0-0.2,0-0.3-0.1\
                c-0.3-0.1-0.4-0.3-0.4-0.5s0.2-0.4,0.4-0.4c0.4,0,0.8-0.1,1.2,0c1.4,0,2.7,0.2,4,0.6c1.3,0.4,2.6,0.8,3.9,1.4\
                c1.5,0.7,2.9,1.4,4.3,2.2c0.1,0.1,0.2,0.1,0.3,0.2c0.3,0.2,0.3,0.5,0,0.7c-0.1,0.1-0.3,0.1-0.4,0.2c-1.1,0.5-2.2,0.9-3.3,1.5\
                c-0.7,0.3-1.5,0.7-2.2,1.1c-0.3,0.1-0.5,0.2-0.8,0.3c-1.4,0.5-2.9,0.4-4.3-0.2C24.6,67.9,24.4,67.8,24.1,67.7L24.1,67.7z\
                M24.6,61.6c0,0.2-0.1,0.5-0.1,0.9c0,0.9-0.1,1.8-0.2,2.7c0,0.3-0.1,0.6-0.4,0.9c-0.1,0.1-0.1,0.2,0.1,0.3c0.8,0.5,1.6,0.8,2.5,1\
                c0.6,0.1,1.3,0.1,1.9-0.1c0.4-0.1,0.8-0.2,1.2-0.4c1.6-0.7,3.1-1.4,4.6-2.1c0.1,0,0.2-0.1,0.2-0.1v-0.1c-0.1-0.1-0.2-0.1-0.2-0.1\
                c-1-0.5-2.1-1.1-3.1-1.6c-1.9-0.9-3.9-1.5-6.1-1.8c-0.3,0-0.3,0-0.3,0.3C24.6,61.4,24.6,61.5,24.6,61.6z')
                path.path.head(d='M38.3,60.6c-0.9,0.1-1.7-0.1-2.6-0.3c-0.4-0.1-0.9-0.3-1.3-0.5c-2-0.7-4-1.2-6-1.5c-2.4-0.4-4.9-0.5-7.5-0.7\
                c-0.3,0-0.5,0-0.8-0.1c-0.3,0-0.5-0.2-0.5-0.4c-0.1-0.3,0.1-0.5,0.4-0.6c0.1,0,0.3,0,0.4,0c2.4,0.3,4.7,0.4,6.8,0.6\
                c2.1,0.2,4.1,0.6,6.1,1.3c0.8,0.2,1.5,0.6,2.3,0.8c0.3,0.1,0.5,0.2,0.8,0.3c0.5,0.1,1,0.2,1.5,0.2c0.2,0,0.4,0,0.6,0\
                s0.4,0.1,0.4,0.2c0.1,0.2,0,0.4-0.2,0.5C38.5,60.5,38.4,60.6,38.3,60.6z')
                path.path.head(d='M83.5,63.6c0.5,0,0.9,0.1,1.3,0.3c1.4,0.9,2.3,2.1,2.6,3.8c0.1,0.5,0,1-0.2,1.5c-0.2,0.6-0.7,1.2-1.2,1.6\
                c-0.6,0.5-1.2,0.9-2,1.2c-0.7,0.2-1.5,0.4-2.2,0.2c-0.3,0-0.6,0-0.9-0.1s-0.5-0.5-0.2-0.8c0.1-0.2,0.3-0.2,0.4-0.2\
                c0.2,0,0.5,0,0.7,0.1c0.9,0.1,1.8,0,2.6-0.5c0.5-0.3,0.9-0.6,1.2-1c0.3-0.3,0.5-0.7,0.6-1.1c0.1-0.3,0.1-0.6,0-0.9\
                c-0.1-0.4-0.2-0.8-0.4-1.1c-0.4-0.7-1-1.2-1.7-1.7c-0.4-0.3-0.9-0.4-1.3-0.2c-0.1,0-0.1,0.1-0.2,0.1c-0.2,0-0.5-0.1-0.6-0.3\
                c-0.1-0.2,0-0.4,0.2-0.6c0.1-0.1,0.2-0.1,0.3-0.2C82.9,63.7,83.2,63.6,83.5,63.6z')
                path.path.head(d='M81.4,21.6c-0.1,0-0.3,0-0.4,0c-0.2,0-0.4-0.2-0.4-0.4c0-0.2,0.1-0.4,0.3-0.5s0.3-0.1,0.5-0.1\
                c0.8-0.1,1.6-0.2,2.4-0.5c0.6-0.2,1.2-0.5,1.7-0.9c0.2-0.1,0.4-0.3,0.5-0.5s0.1-0.5-0.1-0.7c-0.1-0.1-0.2-0.2-0.3-0.3\
                s-0.1-0.2-0.1-0.2c0-0.2,0-0.4,0.2-0.5c0.1-0.1,0.3-0.1,0.5,0c0.4,0.3,0.6,0.6,0.7,1.1c0.1,0.7-0.1,1.3-0.6,1.8\
                c-0.4,0.4-0.9,0.7-1.4,1C83.8,21.3,82.6,21.5,81.4,21.6z')
                path.path.head(d='M15.9,74.9c-0.3-0.1-0.5,0.1-0.6,0.3c-0.1,0.2,0,0.5,0.3,0.6c0.9,0.3,1.8,1.5,2.1,2c0.6,1,0.8,2,0.4,3.1\
                c-0.1,0.3,0.1,0.5,0.3,0.6c0.1,0,0.1,0,0.2,0c0.2,0,0.4-0.1,0.5-0.3c0.5-1.4,0.3-2.7-0.5-3.9C17.7,76,16.8,75.2,15.9,74.9z')
                path.path.head(d='M49.7,36.7c-1.5,1.5-2.8,2.4-4.4,3c-0.1,0-0.1,0.1-0.2,0.1c-0.3,0.1-0.6,0.3-0.9,0.4\
                c-0.8,0.4-1.6,0.8-2.5,1.1c-1.3,0.3-2.4,0.5-3.3,0.5c-0.1,0-0.2,0-0.3,0c-1.2,0-2.2-0.3-3-0.8c-1.1-0.7-1.5-1.3-1.3-1.9\
                c0.2-0.6,0.9-1,1.5-1.4c0,0,0,0,0.1,0c0.2-0.1,0.4-0.2,0.6-0.4c0.2-0.1,0.3-0.2,0.5-0.3c1-0.8,1.9-1.6,2.5-2.6\
                c0.2-0.3,0.5-0.3,0.7-0.1c0.2,0.2,0.3,0.4,0.1,0.6c-0.5,0.8-1.2,1.5-2,2.2c-0.3,0.3-0.7,0.6-1.1,0.9c-0.2,0.1-0.4,0.3-0.6,0.4\
                c-0.1,0.1-0.2,0.1-0.4,0.2c-0.3,0.1-0.6,0.3-0.7,0.5c-0.1,0.1-0.1,0.2-0.1,0.4c0.1,0.3,0.5,0.6,0.8,0.8c0.7,0.4,1.7,0.6,2.7,0.6\
                s2-0.2,3.2-0.5c0.7-0.2,1.2-0.5,1.9-0.8c0.2-0.1,0.5-0.2,0.7-0.4h0.1c0,0,0.1,0,0.1-0.1c0.1-0.1,0.1-0.1,0.2-0.1\
                c0.1,0,0.1-0.1,0.2-0.1c0.7-0.4,1.3-0.7,1.7-1.4c0.5-0.7,0.7-1.5,0.8-2.5c0-0.3,0.3-0.5,0.5-0.5l0,0c0.2,0,0.5,0.2,0.5,0.5\
                c0,0.8-0.2,1.5-0.5,2.2c0.3-0.3,0.6-0.6,1-0.9c0.7-0.7,1.3-1.3,1.5-2.3c0.2-0.8,0.1-1.6,0-2.5c0-0.2,0-0.3,0.2-0.4\
                c0.1-0.1,0.3-0.1,0.5,0s0.3,0.2,0.3,0.4C51.6,33.8,51.1,35.4,49.7,36.7z')
                path.path.head(d='M53.6,11.2c1.9-0.9,4.1-0.8,6,0.2c0.1,0,0.2,0.1,0.2,0.1c0.1,0,0.2,0,0.2-0.1c0.2-0.1,0.3-0.3,0.2-0.5\
                c0-0.2-0.1-0.3-0.2-0.4c-2.2-1.2-4.7-1.2-7-0.2c-0.2,0.1-0.2,0.2-0.3,0.3c0,0.2,0.1,0.4,0.2,0.5C53.2,11.2,53.4,11.2,53.6,11.2z')
                path.path.head(d='M81.8,5.5C81.8,5.5,81.8,5.4,81.8,5.5c-1.2-1.7-2.6-3.4-4.8-3.7c-2.4-0.4-4.7,0.7-6.3,1.6\
                c-0.3,0.2-0.6,0.4-1,0.6c-0.7,0.4-1.5,0.8-2.2,1.2c-1.9-2.2-4.2-4.5-7.3-4.5c0,0,0,0-0.1,0c-1.3,0-2.1,0.5-3.1,1.1\
                c-0.2,0.1-0.4,0.2-0.6,0.3c-0.8,0.5-1.7,0.4-2.7,0.3c-0.7-0.1-1.4-0.1-2,0c-0.6,0.1-1.1,0.3-1.7,0.5c-0.9,0.3-1.8,0.7-2.8,0.6\
                C46,3.4,45,2.7,44.1,2c-0.3-0.2-0.6-0.4-0.8-0.6c-1.1-1-2.4-1.4-3.8-1.4h-0.1c-1.4,0-2.6,0.6-3.9,1.2c-1.1,0.6-1.9,0.8-2.9,0.9\
                c-0.8,0.1-1.5,0.1-2.2,0.4C29.1,3,28,3.8,27.1,5C27,5.1,27,5.3,27,5.4c0.1,0.2,0.2,0.3,0.4,0.3c0.2,0,0.4-0.1,0.5-0.2\
                c0.9-1.2,2.1-2,3.5-2.3c0.5-0.1,1-0.2,1.4-0.2c0.8-0.1,1.6-0.2,2.4-0.5c0.3-0.2,0.7-0.3,1-0.5c1.1-0.5,2-1,3.3-1.1\
                c1.7,0,3,0.8,4,1.6l0.3,0.2c0.9,0.7,1.8,1.3,2.9,1.6c1.2,0.3,2.4-0.1,3.5-0.5l0.3-0.1c0.5-0.2,1-0.4,1.6-0.5c0.7-0.1,1.3,0,2,0\
                c0.2,0,0.3,0,0.5,0.1C56,3.5,56.9,2.9,58,2.2c3.2-2,6.5,0.8,8.7,3.3c-0.9,0.5-1.9,0.9-2.9,1.2c-3.5,1.1-6,0.9-7.7-0.7\
                c-0.1-0.1-0.3-0.2-0.5-0.1c-0.3,0.1-0.4,0.3-0.5,0.4c0,0.2,0,0.3,0.1,0.4c1.2,1.1,2.8,1.7,4.7,1.7c0.8,0,1.7-0.1,2.6-0.3\
                c1,1,1.9,1.9,2.8,2.7c0.1,0.1,0.3,0.2,0.4,0.3c0.7,0.7,1.6,1.4,2.5,1.8c1,0.4,2.1,0.4,3.1,0.4c0.1,0,0.1,0,0.2,0\
                c1.2,0,2.2-0.3,3-0.8c0.2-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.4-0.3-0.4c-0.1-0.1-0.3,0-0.4,0.1c-1.4,1-4.5,1-6-0.1\
                c-1.6-1.1-3-2.5-4.4-3.8c1.3-0.4,2.7-1,4.2-1.7c0.7-0.4,1.3-0.8,2-1.1c1.5-0.9,3-1.8,4.7-2.2c1-0.2,2.5-0.3,3.9,0.5\
                c1,0.6,1.7,1.6,2.4,2.5c-0.5,0.2-1.1,0.5-1.6,0.8c-1.9,1-3.9,2-5.9,1.4c-0.2-0.1-0.3,0-0.4,0.1s-0.2,0.3-0.2,0.5\
                c0,0.2,0.2,0.3,0.3,0.4c1.7,0.5,3.3,0,4.6-0.5c0.6-0.3,1.3-0.6,1.9-0.8c0.2-0.1,0.4-0.2,0.6-0.3c0.2-0.1,0.3-0.1,0.5-0.2\
                c0.8-0.4,1.5-0.8,2.4-0.7c0.9,0.1,1.7,0.6,2.4,1.1c0.8,0.5,1.7,1.1,2,2.1c0.3,1.1-0.7,2.1-1.8,2.6c-0.8,0.3-1.9,0.4-2.5-0.5\
                c-0.2-0.3-0.5-0.3-0.7-0.1c-0.2,0.1-0.3,0.4-0.2,0.6c0.4,0.6,1,1,1.7,1.2c0.2,0,0.3,0,0.5,0c0.8,0,1.7-0.3,2.5-0.9\
                c0.9-0.7,1.4-1.6,1.4-2.5s-0.4-1.8-1.2-2.5C85.1,5.8,83.4,5.1,81.8,5.5z')
                path.path.head(d='M111.6,46.5c-0.6-1.5-1.8-2.6-2.9-3.7c-0.9-0.8-1.7-1.7-2.4-2.7c-0.7-1.1-0.9-2.4-1.1-3.7\
                c0-0.3-0.1-0.5-0.1-0.8c-0.2-1.4-0.8-2.6-1.6-3.6c-0.9-1.1-2.1-2.1-3.3-3c0.1,0,0.2,0,0.2-0.1c0.9-0.5,1.5-1.2,1.7-1.9\
                c0.2-0.6,0.1-1.3-0.4-2c-0.9-1.5-2.3-2.7-3.6-3.9c-0.2-0.2-0.4-0.3-0.5-0.5c-0.8-0.7-1.6-1.4-2.4-2c-2.5-2-5-4.1-7-6.7\
                c-0.2-0.3-0.5-0.2-0.7-0.1c-0.2,0.2-0.2,0.4-0.1,0.6c2.1,2.7,4.8,4.9,7.3,7.1l0.2,0.2c1.4,1.1,2.7,2.2,4,3.5l0.2,0.2\
                c0.6,0.6,1.2,1.2,1.6,1.8c0.5,0.7,0.6,1.3,0.3,1.8c-0.2,0.5-0.7,0.7-1.1,1h-0.1c-0.2,0.1-0.2,0.2-0.2,0.4c0,0.1,0,0.1,0,0.2\
                c-0.6-0.4-1.2-0.8-1.8-1.2c-0.6-0.4-1.2-0.8-1.7-1.2c-0.2-0.2-0.5-0.1-0.6,0.1c-0.1,0.2-0.1,0.5,0.1,0.7c0.5,0.4,1.1,0.8,1.6,1.1\
                c0.8,0.5,1.5,1,2.3,1.6c-1.2,0-2.4,0.6-3.1,1.6c-1.1,1.4-1.1,3.2-0.2,5.2c0.4,0.8,0.9,1.6,1.7,2.6l0.1,0.1\
                c0.3,0.4,0.7,0.8,0.9,1.3c0.2,0.4,0.3,0.8,0.2,1c-0.1,0.2-0.2,0.4-0.4,0.5c-0.3,0.1-0.6,0.1-0.9-0.1c-1-0.6-1.9-1.5-2.7-2.3\
                l-0.2-0.2c-0.9-0.9-1.7-1.9-2.5-3c-0.1-0.2-0.3-0.2-0.5-0.2c-0.2,0-0.4,0.1-0.4,0.3c-0.1,0.1,0,0.3,0.1,0.4c1.6,2.2,3.4,4,5.2,5.4\
                c0.5,0.4,1.1,0.8,1.8,0.8c0.2,0,0.4,0,0.6-0.1c0.9-0.3,1.1-1.3,1-2c-0.1-0.9-0.6-1.6-1.2-2.3c-0.9-1.1-1.7-2.2-2.2-3.5\
                c-0.5-1.4-0.2-2.8,0.8-3.7c0.9-0.9,2.3-1.1,3.5-0.6c0.4,0.3,0.8,0.7,1.1,1.1c0.9,1,1.5,2.2,1.8,3.6c0.1,0.3,0.1,0.6,0.1,0.9\
                c0.1,0.9,0.3,1.9,0.7,2.8c0.7,1.6,1.9,2.8,3.1,4.1c0.4,0.4,0.8,0.8,1.2,1.2c0.9,1,2.1,2.3,1.5,3.7c-0.6,1.5-2.3,2.6-3.2,3.1\
                c-0.3,0.1-0.3,0.4-0.2,0.6c0.1,0.2,0.2,0.3,0.4,0.3c0.1,0,0.2,0,0.2-0.1C110.4,51.2,112.6,48.9,111.6,46.5z')
                path.path.head(d='M37.8,7.4c0.1-0.1,0.1-0.3,0.1-0.4c-0.1-0.2-0.2-0.3-0.4-0.3s-0.4,0-0.5,0.2c-1,1.3-2.5,2.2-4.1,2.6\
                c-1.7,0.4-3.1-0.1-4.7-0.5l-0.4-0.1c-1-0.3-1.9-0.4-2.8-0.3c0-0.1-0.1-0.2-0.2-0.2c-0.5-0.3-0.9-0.6-1.2-1c-0.5-0.5-1-1-1.7-1.2\
                c-1.1-0.4-2-0.1-2.9,0.3c-0.2,0.1-0.5,0.2-0.7,0.3C16.5,7.4,15,7,13.4,6.2c-1-0.5-2.2-0.9-3.5-0.7c-2.3,0.5-3.7,2.6-3.4,5\
                c0,0.2,0,0.5,0.1,0.7c0,0.4,0.1,0.8,0.1,1.3c-1.1,0.4-2.2,1.2-3.2,2.4c-0.3,0.4-0.5,0.8-0.7,1.2c-0.1,0-0.3,0-0.4,0.1\
                c-0.2,0.2-0.4,0.4-0.6,0.6C1,17.5,0.1,18.3,0,19.4c-0.1,1.2,0.2,2.8,0.8,4c0.6,1.3,1.6,1.9,2.6,2.4c0.7,0.4,0.8,0.7,1,1.3\
                c0,0.2,0.1,0.3,0.2,0.5c0.2,0.6,0.5,1.1,0.9,1.6c0.7,0.9,1.7,1.6,2.6,2.3c-1.2,1-2.9,2.9-2.3,5.2c0.5,1.7,2.1,3,3.5,4.2\
                c0.3,0.2,0.5,0.4,0.8,0.6c-0.2,0.7-0.7,1.3-1.1,1.9c-0.6,0.8-1.2,1.6-1.2,2.6c0,1,0.4,1.8,0.8,2.6v0.1c0.5,0.9,0.8,2,1.1,3.3\
                c0.9,4,0.4,8.3-1.5,13.4c-0.8,2.1-1.7,4.2-2.8,6.2c-0.4,0.7-0.8,1.4-1.2,2c-0.5,0.7-0.9,1.4-1.3,2.2c-0.6,1.1-0.7,2.3-0.3,3.3\
                c1.2,2.9,5.6,3.1,7.7,3.1l0,0c0.3,0,0.5-0.2,0.5-0.5c0-0.2-0.2-0.5-0.5-0.5c-1.9-0.1-6-0.2-6.8-2.6C3.2,78,3.4,77,3.8,76.2\
                c0.4-0.7,0.8-1.4,1.3-2.1c0.6-1,1.2-2,1.8-3.1c0.9-1.7,1.7-3.6,2.4-5.4c1.7-4.6,2.3-8.3,1.8-11.9c-0.1-1.1-0.4-2.2-0.7-3.4\
                c-0.2-0.7-0.5-1.3-0.7-1.9c-0.2-0.4-0.4-0.9-0.6-1.3c-0.5-1.4,0.2-2.4,0.9-3.4c0.4-0.6,0.9-1.2,1.1-2c0.1,0,0.1-0.1,0.2-0.1\
                c0.1-0.1,0.1-0.3,0-0.5c-0.7-1.2-0.2-2.6,1.4-4.1c0.9-0.8,1.3-1.4,0.7-2.5c-0.8-1.5-2.3-2.5-3.8-3.4c-0.7-0.4-1.4-0.9-2-1.4\
                c-1.1-0.9-1.8-1.9-2.2-3.3c-0.1-0.3-0.2-0.8-0.5-1.1c-0.3-0.3-0.6-0.4-0.9-0.5c-0.2-0.1-0.4-0.1-0.5-0.2c-1.5-0.8-2-2.6-2.2-3.9\
                c-0.1-0.8-0.1-1.5,0.4-2.1c0.3-0.4,0.7-0.8,1.1-1.2c0,0,0,0,0.1-0.1c0,0.4,0.1,0.8,0.3,1.2c0.5,1.5,1.6,2.7,2.5,3.7\
                c0.8,0.9,1.7,1.7,2.9,1.8c0.2,1,0.9,1.7,1.7,2.3c0.2,0.2,0.4,0.3,0.5,0.5c0.5,0.4,0.7,0.8,0.8,1.2c0,0.2,0,0.3,0.1,0.5\
                c0,0.2,0,0.4,0.1,0.6c0.2,0.8,0.7,1.4,1.2,1.9l0.2,0.2c0.9,1,1.9,2,3.3,2c0.1,0,0.1,0,0.2,0c1.3-0.1,2.5-0.8,3.1-1.8l0,0\
                c0.7,0.3,1.6,0.5,2.5,0.5c0.5,0,1,0,1.4-0.1c1.1-0.2,2-0.9,2.9-1.6c0.3-0.2,0.5-0.4,0.8-0.6c0.2-0.1,0.2-0.3,0.2-0.4\
                c0-0.2-0.1-0.4-0.3-0.4c-0.1-0.1-0.3,0-0.4,0c-0.3,0.2-0.5,0.4-0.8,0.6c-0.6,0.5-1.2,0.9-1.9,1.3c-1,0.5-2.7,0.4-3.8,0.1\
                c-2-0.6-4.4-3.5-4.2-5.6c0-0.3-0.1-0.5-0.4-0.5s-0.5,0.1-0.6,0.5c-0.2,2.2,1.7,4.7,3.7,6c-0.7,1-2,1.5-3.1,1.1\
                c-0.5-0.2-1-0.7-1.4-1.1c-0.1-0.1-0.2-0.2-0.2-0.3L14,30.6c-0.5-0.5-1-1-1.2-1.7c-0.1-0.2-0.1-0.5-0.1-0.7c0-0.3,0-0.6-0.2-0.9\
                c-0.1-0.3-0.3-0.7-0.6-1c-0.2-0.3-0.5-0.5-0.8-0.8c-0.7-0.6-1.4-1.2-1.4-2.2c0,0,0,0,0-0.1c0,0,0,0,0-0.1C9.2,23.1,9,23,8.9,23\
                l0,0H8.8c-1.1-0.4-2.5-1.2-2.8-2.6c-0.3-1.5,0.9-2.7,1.9-3.6c0.2,0.3,0.5,0.7,0.8,0.9c0.1,0.1,0.2,0.1,0.3,0.1s0.1,0,0.2,0\
                c0.2-0.1,0.3-0.2,0.3-0.4c0-0.1,0-0.3-0.2-0.4c-1.6-1.3-1.9-3.8-2.1-5.9c0-0.2,0-0.5-0.1-0.7C7.2,9,7.5,8,8.4,7.2s2.1-1.1,3.3-0.7\
                c0.5,0.2,1,0.4,1.5,0.6c0.6,0.3,1.2,0.6,1.9,0.7C16.2,8,17.3,8,18.4,7.6c0.2-0.1,0.5-0.2,0.7-0.3c0.9-0.3,1.8-0.6,2.7,0\
                c0.4,0.3,0.8,0.6,1.1,0.9c0.2,0.2,0.5,0.4,0.7,0.6c-1.4,0.4-2.7,1.2-3.7,2.4c-0.2,0.2-0.1,0.6,0.1,0.7c0.1,0.1,0.2,0.1,0.3,0.1\
                c0.1,0,0.2-0.1,0.3-0.2c1.1-1.4,2.7-2.2,4.5-2.3c1.1-0.1,2.1,0.2,3.1,0.5c0.7,0.2,1.4,0.4,2.1,0.5C33.2,10.9,36,9.7,37.8,7.4z\
                M5,20.3c-0.4-0.5-0.7-1-1-1.6c-0.7-1.4-0.6-2.5,0.3-3.5c0.8-0.9,1.6-1.5,2.4-1.8c0.1,0.9,0.4,1.7,0.7,2.5l0,0\
                C6.2,17.1,4.8,18.5,5,20.3z M11.8,34.3c0.5,0.5,1,1.1,0.5,1.8c-0.1,0.1-0.2,0.3-0.4,0.4c-0.1,0.1-0.2,0.2-0.3,0.2\
                c-0.6,0.5-0.9,1-1.2,1.5c-0.4,0.6-0.6,1.3-0.6,2c-1.1-0.9-2.2-1.8-2.8-3C5.9,35,7.7,33,8.9,32C9.9,32.7,11,33.4,11.8,34.3z')

                path.path.head(d='M37.8,37.1c-0.3,0.3-0.7,0.6-1.1,0.9c-0.4-0.1-0.9-0.2-1.3-0.3c-1.9-0.6-3.7-1.8-4.9-2.9\
                c-2.9-2.5-4.4-6.3-4.5-10.1c0-0.6,1-0.6,1,0c0,3.3,1.3,6.5,3.6,8.8c1.1,1.1,2.3,1.9,3.7,2.5c0.7,0.3,1.5,0.6,2.3,0.8\
                C36.9,37,37.4,37.1,37.8,37.1z')
                path.path.head(d='M53.7,36.6c-0.7,1.5-0.8,3.2-0.3,4.8c0.6,1.8,1.9,2.7,3.1,4.2c0.4,0.6,1.2-0.2,0.8-0.8\
                c-0.9-1.1-2-1.8-2.6-3.1c-0.6-1.4-0.6-3,0-4.4C54.9,36.5,54,35.9,53.7,36.6L53.7,36.6z')
                path.path.head(d='M58.2,41c-3.1,2.4-1.6,7.4-0.2,10.3c0.3,0.6,1.3,0.1,1-0.6c-1.2-2.5-2.7-6.8,0-8.9\
                C59.6,41.4,58.8,40.6,58.2,41L58.2,41z')
                path.path.head(d='M59.9,48.4c-2.3,3.1-4.6,7.4-1.7,10.9c0.3,0.4,1,0.1,1-0.4c-0.1-1.2,0.4-2.2,1.5-2.8\
                c-0.2-0.3-0.5-0.6-0.7-0.9c-2.7,2.5-2.3,6.6,0.7,8.7c0.4,0.3,0.9-0.2,0.8-0.6c-0.4-1.8,0.6-3.3,2.2-4.1c1.1-0.6,2.4-0.5,3.5-1.1\
                c1.3-0.7,1.9-2.4,0.7-3.4c-0.5-0.5-1.3,0.3-0.8,0.8c1.3,1.1-1,1.9-1.7,2c-0.5,0.1-0.9,0.2-1.3,0.3c-0.8,0.3-1.6,0.7-2.2,1.2\
                c-1.3,1.2-1.8,2.9-1.5,4.6c0.3-0.2,0.5-0.4,0.8-0.6c-2.4-1.7-2.6-4.9-0.5-6.9c0.5-0.4-0.1-1.2-0.7-0.9c-1.4,0.8-2.2,2.2-2.1,3.8\
                c0.3-0.1,0.6-0.3,1-0.4c-2.5-3.1-0.1-6.9,1.9-9.6C61.3,48.4,60.3,47.9,59.9,48.4L59.9,48.4z')
                path.path.head(d='M105.4,46.1c0.1,3.9,1.9,7.3,2.8,11c0.4,1.9,0.6,3.9,0.2,5.7c-0.5,2.1-2.1,3.4-3.6,4.9c-2,2-3.3,4.3-2.7,7.2\
                c0.2,1.2,0.8,2.4,1.6,3.3c0.1,0.1,0.5,0.4,0.5,0.5c0.5,1.8-1.1,1-1.6,0.7c-1-0.6-1.8-1.5-2.3-2.5c-0.3-0.6-1.3-0.2-1,0.4\
                c0.7,1.5,2,2.9,3.6,3.4c1.1,0.3,2.5,0.1,2.8-1.1c0.1-0.6-0.1-1-0.5-1.5c-0.7-0.9-1.3-1.4-1.7-2.4c-0.8-2.1-0.4-4.4,1-6.1\
                c1.2-1.5,2.9-2.6,4-4.3c1.1-1.7,1.4-3.7,1.3-5.7c-0.3-4.8-3.1-8.9-3.2-13.7C106.6,45.2,105.4,45.4,105.4,46.1L105.4,46.1z')
                path.path.head(d='M104.9,68.6c1.1-3.8,1-7.6-0.5-11.3c-0.3-0.7-1.3-0.3-1,0.4c1.3,3.3,1.5,6.9,0.5,10.4\
                C103.7,68.8,104.7,69.3,104.9,68.6L104.9,68.6z')
                path.path.head(d='M99,52.3c1.3,2.5,1.4,5.5,0.1,8c-0.6,1.1-2.5,3.3-0.2,3.9c2.2,0.6,3.6-1.7,4.4-3.4c1.2-2.6,1.5-5.5,1.3-8.3\
                c-0.1-0.7-1.2-0.6-1.1,0.1c0.2,2.4,0,4.8-0.9,7c-0.4,1-0.9,2.4-1.8,3.1c-0.5,0.6-1,0.6-1.4,0.1c-0.5-0.2-0.5-0.5,0-0.9\
                c0.2-0.3,0.4-0.6,0.6-0.9c1.7-2.8,1.7-6.4,0.2-9.3C99.7,51.3,98.7,51.7,99,52.3L99,52.3z')
                path.path.head(d='M75.8,57.7c3.1-2.2,7.3-8.7,11.7-5.6c1.8,1.3,3,3.6,4,5.5c1.1,2.1,2,4.4,2.6,6.8c0.7,3.1-0.7,5-2.7,7.1\
                c-1.5,1.7-3.1,3.4-4.7,5c-1.5,1.5-3.3,3.1-5.5,3.6c-2.1,0.5-4.6-0.1-5.7-2.1c-0.4-0.6-1.3-0.1-1,0.6c1.7,2.9,5.4,3.4,8.3,2.2\
                c4-1.7,7-5.9,9.8-9.1c1.3-1.4,2.6-3,2.7-5c0.2-2.2-0.8-4.5-1.5-6.5c-0.8-2.1-1.9-4.2-3.1-6.1c-1-1.5-2.1-3-3.8-3.6\
                c-4.9-1.9-8.3,3.9-11.7,6.2C74.6,57.1,75.2,58.1,75.8,57.7L75.8,57.7z')
                path.path.head(d='M90.2,74.3c0.8,1,1.9,1.9,2.6,3c0.7,1,0.5,1.4-0.4,1.9c-0.5,0.3-1.1,0.6-1.7,0.8c-0.7,0.2-0.4,1.3,0.3,1.1\
                c1.1-0.4,3.3-1.2,3.5-2.7c0.1-0.7-0.3-1.3-0.7-1.8c-0.9-1.1-1.8-2.1-2.8-3.2C90.6,73,89.8,73.8,90.2,74.3L90.2,74.3z')
                path.path.head(d='M66.9,60.4c-2.9-0.4-4,2.8-4,5.2c-0.1,2.1-0.2,3.9-1.2,5.7c-0.8,1.4-2,2.7-2.6,4.1c-0.4,0.8-0.3,2,0.5,2.5\
                c0.9,0.7,2.3,0.2,3.3-0.2c2.5-1,4.4-3.3,5-5.9c0.2-0.7-0.9-1-1.1-0.3c-0.5,2.1-1.8,3.9-3.7,4.9c-0.4,0.2-1,0.5-1.4,0.6\
                c-0.4,0.2-0.7,0.1-1-0.2c-0.8-0.2-0.9-0.7-0.2-1.4c0.5-0.9,1.3-1.8,1.8-2.7c0.9-1.6,1.6-3.3,1.8-5.1c0.2-2-0.3-6.5,3-6.1\
                C67.6,61.6,67.6,60.5,66.9,60.4L66.9,60.4z')
                path.path.head(d='M64.1,77c3,1.1,6.2-1.7,7.8-3.9c0.4-0.6-0.5-1.1-1-0.6c-1.3,1.8-4.1,4.2-6.5,3.4\
                C63.7,75.7,63.4,76.7,64.1,77L64.1,77z')

                //- g(transform='translate(-123.659 -2925.771)')
                //-     path.path.word(d='M6527.367,2931.9h16.075v1.328a9.554,9.554,0,0,0-3.512.592,2.3,2.3,0,0,0-1.341,2.184c-.032.675-.062,1.21-.1,1.6s-.048.567-.048.519v22.255a6.9,6.9,0,0,0,.3,2.269,2.3,2.3,0,0,0,.855,1.207,3.472,3.472,0,0,0,1.28.5c.481.088,1.336.18,2.559.278v1.327h-16.075v-1.327a9.809,9.809,0,0,0,3.246-.448,2.247,2.247,0,0,0,1.424-1.352,9.716,9.716,0,0,0,.326-2.957v-21.556a16.388,16.388,0,0,0-.181-2.86,2.2,2.2,0,0,0-.687-1.339,2.993,2.993,0,0,0-1.365-.567q-.855-.157-2.763-.326Zm5.793,5.721v24.042a3.036,3.036,0,0,1-.434,1.811,4.675,4.675,0,0,1-1.5,1.159,6.275,6.275,0,0,0,2.536-.52,2.062,2.062,0,0,0,.965-2.063v-25.611a3.8,3.8,0,0,0-.676-2.461,3.233,3.233,0,0,0-2.679-.75q1.833.966,1.833,3.669,0,.193-.012.361C6533.188,2937.369,6533.176,2937.49,6533.16,2937.619Z', transform='translate(-6279.685 -2.53)', fill='#fff')
                //-     path.path.word(d='M6550.047,2931.9h30.681l1.738,7.966h-1.738a14.883,14.883,0,0,0-3.887-4.562,9.262,9.262,0,0,0-3.825-1.738,34.468,34.468,0,0,0-4.7-.338v27.446a4.735,4.735,0,0,0,.506,2.425,2.663,2.663,0,0,0,1.667,1.147,15.051,15.051,0,0,0,3.234.387v1.327h-16.921v-1.327a15.77,15.77,0,0,0,3.222-.327,2.672,2.672,0,0,0,1.689-1.158,5.219,5.219,0,0,0,.568-2.764v-27.156a19.16,19.16,0,0,0-4.538.519,10.917,10.917,0,0,0-3.234,1.34,10.678,10.678,0,0,0-2.16,1.8q-.858.955-2.523,2.981h-1.472Zm4.491,1.328h-3.911l-.94,4.1a15.933,15.933,0,0,1,2.148-2.4A14.342,14.342,0,0,1,6554.539,2933.225Zm10.089,26.6V2936.1a5.209,5.209,0,0,0-.324-2.1,1.357,1.357,0,0,0-1.221-.773v27.446a6.468,6.468,0,0,1-.362,2.39,3.536,3.536,0,0,1-1.351,1.569h.53q1.762,0,2.245-1.112A10.087,10.087,0,0,0,6564.627,2959.826Zm15.111-22.738-1.087-3.863h-4.537a10.325,10.325,0,0,1,3.065,1.5A18.694,18.694,0,0,1,6579.739,2937.088Z', transform='translate(-6277.405 -2.53)', fill='#fff')
                //-     path.path.word(d='M6586.463,2946.927v-1.569a6.918,6.918,0,0,0,2.354-1.823,3.79,3.79,0,0,0,.953-2.474,3.525,3.525,0,0,0-.531-1.9,9.963,9.963,0,0,0-1.448-1.773,16.607,16.607,0,0,1-1.544-1.786,2.667,2.667,0,0,1,.459-3.453,2.98,2.98,0,0,1,2.124-.844,3.431,3.431,0,0,1,2.111.785,5.667,5.667,0,0,1,1.679,2.219,7.615,7.615,0,0,1,.65,3.176,9.317,9.317,0,0,1-1.7,5.55A11.993,11.993,0,0,1,6586.463,2946.927Zm3.5-3.645a6.093,6.093,0,0,0,1.448-3.765,3.645,3.645,0,0,0-.652-2.318q-1.98-2.34-2.307-2.752a1.3,1.3,0,0,1-.325-.8,1.684,1.684,0,0,1,.943-1.5h-.531a1.784,1.784,0,0,0-1.437.58,1.955,1.955,0,0,0-.5,1.3,2,2,0,0,0,.268.952,5.26,5.26,0,0,0,.809,1.075c.362.387.663.7.9.941a5.893,5.893,0,0,1,1.98,3.862A8.006,8.006,0,0,1,6589.964,2943.282Z', transform='translate(-6273.336 -2.593)', fill='#fff')
                //-     path.path.word(d='M6601.246,2953.759h1.593a24.9,24.9,0,0,0,3.2,6.409,13.141,13.141,0,0,0,4.08,3.85,9.22,9.22,0,0,0,4.623,1.255,7.579,7.579,0,0,0,5.165-1.883,6.13,6.13,0,0,0,2.148-4.828,6.052,6.052,0,0,0-1.425-4.285,7.679,7.679,0,0,0-3.4-2.148,40.078,40.078,0,0,0-5.214-1.146,32.383,32.383,0,0,1-4.585-.99,10.83,10.83,0,0,1-3.573-1.991,8.227,8.227,0,0,1-2.231-3.041,9.536,9.536,0,0,1-.761-3.8,10.383,10.383,0,0,1,.677-3.717,9.961,9.961,0,0,1,1.906-3.162,8.839,8.839,0,0,1,3-2.173,9.53,9.53,0,0,1,3.945-.8,20.567,20.567,0,0,1,3.851.447,19.6,19.6,0,0,0,3.318.445,5.413,5.413,0,0,0,2.463-.58h1.833l1.04,9.922h-1.69a24.593,24.593,0,0,0-4.959-6.771,8.833,8.833,0,0,0-6.1-2.33,6.693,6.693,0,0,0-3.233.808,6.429,6.429,0,0,0-2.4,2.234,5.738,5.738,0,0,0-.9,3.138,4.4,4.4,0,0,0,1.642,3.692,11.687,11.687,0,0,0,4.864,1.932q3.221.651,5.769,1.11a16.032,16.032,0,0,1,4.043,1.182,10.327,10.327,0,0,1,4.273,3.743,9.843,9.843,0,0,1,1.521,5.407,10.938,10.938,0,0,1-1.4,5.408,10.668,10.668,0,0,1-3.935,4.019,10.841,10.841,0,0,1-5.647,1.508,10.021,10.021,0,0,1-2.657-.265q-.892-.267-3.062-1.039a10.938,10.938,0,0,0-3.333-.771,3.668,3.668,0,0,0-3.065,1.472h-1.376Zm.8-15.424a14.278,14.278,0,0,0-.41,2.969,8.007,8.007,0,0,0,.434,2.571,8.868,8.868,0,0,0,1.279,2.438,7.917,7.917,0,0,0,1.907,1.87,9.277,9.277,0,0,0,3.138,1.364q1.715.4,5.009.942a24.694,24.694,0,0,1,4.551,1.049,7.6,7.6,0,0,1,3.607,2.584,6.641,6.641,0,0,1,1.293,4.078,8.045,8.045,0,0,1-.992,3.67,6.691,6.691,0,0,0,1.98-4.8,6.469,6.469,0,0,0-1.46-4.478,8.835,8.835,0,0,0-3.621-2.415,37,37,0,0,0-5.9-1.448q-3.741-.661-3.836-.687a9.535,9.535,0,0,1-5.2-3.089,7.842,7.842,0,0,1-1.773-5.068c0-.354,0-.654-.012-.894A5.59,5.59,0,0,1,6602.043,2938.334Zm0,19.914v6.445a3.729,3.729,0,0,1,1.291-1.183,4.294,4.294,0,0,1,1.821-.218c-.529-.626-.913-1.089-1.146-1.387a12.988,12.988,0,0,1-.868-1.328A17.361,17.361,0,0,1,6602.043,2958.249Zm18.2-20.107-.8-4.61a5,5,0,0,1-1.593.266,7.449,7.449,0,0,1-1.883-.266,9.152,9.152,0,0,1,1.688,1.4,20.065,20.065,0,0,1,1.522,1.859A15.113,15.113,0,0,0,6620.242,2938.141Z', transform='translate(-6271.703 -2.593)', fill='#fff')
                //-     path.path.word(d='M6546.943,3005.058H6527.8v-1.327a13.082,13.082,0,0,0,3.042-.375,2.245,2.245,0,0,0,1.436-1.123,5.425,5.425,0,0,0,.422-2.414v-24.283a2.492,2.492,0,0,0-1.158-2.413,9.653,9.653,0,0,0-3.741-.8V2971h19.938a19.482,19.482,0,0,1,7.156,1.281,16.339,16.339,0,0,1,5.624,3.608,16.1,16.1,0,0,1,3.633,5.515,18.236,18.236,0,0,1,1.28,6.856,16.784,16.784,0,0,1-1.316,6.674,15.435,15.435,0,0,1-3.777,5.347,17.387,17.387,0,0,1-5.9,3.525A21.706,21.706,0,0,1,6546.943,3005.058Zm-11.852-5.093v-22.3a10.787,10.787,0,0,0-.531-4.043q-.53-1.171-2.751-1.2a2.727,2.727,0,0,1,1.364,1.316,6.644,6.644,0,0,1,.326,2.4v23.221a12.525,12.525,0,0,1-.17,2.343,3.076,3.076,0,0,1-.506,1.279,2.7,2.7,0,0,1-1.014.748,3.162,3.162,0,0,0,2.559-.881A4.558,4.558,0,0,0,6535.092,2999.965Zm3.692-20.662v19.479a11.446,11.446,0,0,0,.291,3.053,2.259,2.259,0,0,0,1.375,1.424,9.533,9.533,0,0,0,3.525.472,18.649,18.649,0,0,0,4.705-.543,11.918,11.918,0,0,0,3.959-1.9,13.959,13.959,0,0,0,3.477-3.439,12.667,12.667,0,0,0,1.821-4.2,22.341,22.341,0,0,0,.569-5.25q0-8.618-5.047-12.913a12.017,12.017,0,0,0-4.44-2.438,20.268,20.268,0,0,0-5.745-.725,5.722,5.722,0,0,0-3.2.664,2.713,2.713,0,0,0-1.11,1.907A35.788,35.788,0,0,0,6538.784,2979.3Zm11.273,24.428a11.093,11.093,0,0,0,5.551-2.125,12.172,12.172,0,0,0,3.9-5.141,20.042,20.042,0,0,0,1.436-7.967,25.061,25.061,0,0,0-.687-6.083,15.974,15.974,0,0,0-2.017-4.815,10.8,10.8,0,0,0-3.233-3.3,9.094,9.094,0,0,0-2.317-1.134,21.9,21.9,0,0,0-2.631-.653q9.243,3.645,9.243,16.125a20.746,20.746,0,0,1-.976,6.639,12.958,12.958,0,0,1-3.055,5.008A15.88,15.88,0,0,1,6550.058,3003.731Z', transform='translate(-6279.638 1.717)', fill='#fff')
                //-     path.path.word(d='M6587.374,2999.153l-2.7-6.9h-11.417l-1.593,4.1a8.69,8.69,0,0,0-.629,3.258,4.318,4.318,0,0,0,1.027,2.849,3.726,3.726,0,0,0,2.86,1.3v1.327h-11.178v-1.327q3.743-.556,6.035-6.446l8.354-21.387a3.914,3.914,0,0,0-1.378-1.532,5.786,5.786,0,0,0-2.123-.543v-1.183l5.793-1.979h2.221l11.177,28.507a8.924,8.924,0,0,0,1.93,3.271,6.529,6.529,0,0,0,2.946,1.292v1.327h-14.339v-1.327a10.533,10.533,0,0,0,2.788-.58,1.47,1.47,0,0,0,.929-1.5A6.665,6.665,0,0,0,6587.374,2999.153Zm-21.049,4.611h4.634a3.62,3.62,0,0,1-1.521-2.97,4.961,4.961,0,0,1,.049-.8,14.308,14.308,0,0,1-1.315,2.052A9.5,9.5,0,0,1,6566.325,3003.764Zm7.507-13.06h10.235l-5.141-13.01Zm15.738,7.556-8.617-21.845a6.931,6.931,0,0,0-1.3-2.329,2.493,2.493,0,0,0-1.859-.688,5.282,5.282,0,0,0-1.134.1,3.82,3.82,0,0,1,1.749,1.279,9.894,9.894,0,0,1,1.123,2.2l8.544,21.845a8.62,8.62,0,0,1,.8,3.018,1.562,1.562,0,0,1-.267,1.013,7.424,7.424,0,0,1-1.062.918h.531a2.4,2.4,0,0,0,1.751-.6,1.928,1.928,0,0,0,.615-1.423A10.883,10.883,0,0,0,6589.57,2998.26Z', transform='translate(-6275.733 1.684)', fill='#fff')
                //-     path.path.word(d='M6620.1,2971h11.129v1.328a4.936,4.936,0,0,0-3.525,2.136,24.268,24.268,0,0,0-3.259,6.119l-9.993,25.128h-1.328l-12.31-29.329a10.037,10.037,0,0,0-1.785-3.319,4.853,4.853,0,0,0-2.849-.736V2971h14.53v1.328h-.41a4.458,4.458,0,0,0-2.485.58,1.816,1.816,0,0,0-.87,1.593c0-.049.052.226.156.822a6.593,6.593,0,0,0,.352,1.351l8.785,21.024,6.325-15.883a15.091,15.091,0,0,0,1.353-5.382,4.278,4.278,0,0,0-1-3.03,3.664,3.664,0,0,0-2.813-1.074Zm-18.538,5.046,11.853,28.363a4.825,4.825,0,0,0,.7-1.859,6.141,6.141,0,0,0-.7-2.076l-10.113-24.235a20.361,20.361,0,0,0-1.136-2.389,3.146,3.146,0,0,0-1.23-1.22,5.386,5.386,0,0,0-2.1-.494,2.874,2.874,0,0,1,1.424,1.16A17.33,17.33,0,0,1,6601.56,2976.045Zm25.756-3.718h-4.755a4.323,4.323,0,0,1,2.076,3.814A8.9,8.9,0,0,1,6627.315,2972.326Z', transform='translate(-6272.211 1.717)', fill='#fff')
                //-     path.path.word(d='M6632.436,2971h16.075v1.328a9.569,9.569,0,0,0-3.512.592,2.3,2.3,0,0,0-1.339,2.184c-.033.675-.064,1.211-.1,1.6s-.049.568-.049.52v22.255a6.928,6.928,0,0,0,.3,2.269,2.3,2.3,0,0,0,.856,1.206,3.47,3.47,0,0,0,1.281.5q.722.133,2.557.278v1.327h-16.075v-1.327a9.848,9.848,0,0,0,3.246-.447,2.251,2.251,0,0,0,1.424-1.353,9.65,9.65,0,0,0,.326-2.957v-21.556a16.2,16.2,0,0,0-.182-2.859,2.186,2.186,0,0,0-.687-1.34,3,3,0,0,0-1.364-.566q-.857-.158-2.764-.327Zm5.793,5.721v24.041a3.024,3.024,0,0,1-.435,1.811,4.631,4.631,0,0,1-1.5,1.16,6.245,6.245,0,0,0,2.535-.52,2.063,2.063,0,0,0,.965-2.063v-25.611a3.8,3.8,0,0,0-.676-2.461,3.231,3.231,0,0,0-2.679-.749q1.833.966,1.834,3.67c0,.128,0,.249-.012.361S6638.244,2976.591,6638.229,2976.72Z', transform='translate(-6268.273 1.717)', fill='#fff')
                //-     path.path.word(d='M6672.2,3005.058h-19.142v-1.327a13.074,13.074,0,0,0,3.041-.375,2.237,2.237,0,0,0,1.436-1.123,5.4,5.4,0,0,0,.423-2.414v-24.283a2.493,2.493,0,0,0-1.157-2.413,9.663,9.663,0,0,0-3.742-.8V2971H6673a19.482,19.482,0,0,1,7.156,1.281,16.362,16.362,0,0,1,5.625,3.608,16.127,16.127,0,0,1,3.632,5.515,18.236,18.236,0,0,1,1.28,6.856,16.784,16.784,0,0,1-1.316,6.674,15.448,15.448,0,0,1-3.777,5.347,17.372,17.372,0,0,1-5.9,3.525A21.7,21.7,0,0,1,6672.2,3005.058Zm-11.852-5.093v-22.3a10.787,10.787,0,0,0-.531-4.043q-.532-1.171-2.752-1.2a2.72,2.72,0,0,1,1.363,1.316,6.6,6.6,0,0,1,.326,2.4v23.221a12.639,12.639,0,0,1-.168,2.343,3.081,3.081,0,0,1-.509,1.279,2.663,2.663,0,0,1-1.013.748,3.16,3.16,0,0,0,2.559-.881A4.557,4.557,0,0,0,6660.351,2999.965Zm3.692-20.662v19.479a11.446,11.446,0,0,0,.291,3.053,2.256,2.256,0,0,0,1.376,1.424,9.514,9.514,0,0,0,3.523.472,18.652,18.652,0,0,0,4.706-.543,11.94,11.94,0,0,0,3.96-1.9,13.987,13.987,0,0,0,3.476-3.439,12.709,12.709,0,0,0,1.822-4.2,22.449,22.449,0,0,0,.567-5.25q0-8.618-5.045-12.913a12.033,12.033,0,0,0-4.442-2.438,20.256,20.256,0,0,0-5.744-.725,5.72,5.72,0,0,0-3.2.664,2.714,2.714,0,0,0-1.111,1.907A35.845,35.845,0,0,0,6664.043,2979.3Zm11.273,24.428a11.1,11.1,0,0,0,5.552-2.125,12.178,12.178,0,0,0,3.9-5.141,20.043,20.043,0,0,0,1.435-7.967,25.062,25.062,0,0,0-.687-6.083,16.048,16.048,0,0,0-2.016-4.815,10.822,10.822,0,0,0-3.234-3.3,9.109,9.109,0,0,0-2.317-1.134,21.9,21.9,0,0,0-2.631-.653q9.245,3.645,9.245,16.125a20.716,20.716,0,0,1-.979,6.639,12.966,12.966,0,0,1-3.053,5.008A15.9,15.9,0,0,1,6675.316,3003.731Z', transform='translate(-6266.033 1.717)', fill='#fff')
                //-     path.path.word(d='M299.4,77c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6c0,2-1.6,3.6-3.6,3.6C300.9,80.5,299.4,78.9,299.4,77z\
                //-     M305.7,77c0-1.5-1.2-2.8-2.8-2.8c-1.6,0-2.8,1.2-2.8,2.8c0,1.5,1.2,2.8,2.8,2.8C304.5,79.8,305.7,78.5,305.7,77z')
                //-     path.path.word(d='M303.5,77c0.1,0,0.1,0,0.1,0.1c0.1,0.1,0.2,0.2,0.3,0.3c0.1,0.1,0.1,0.2,0.1,0.2c0.2,0.4,0.4,0.7,0.5,1.1\
                //-     c0,0.1,0,0.1,0,0.1c-0.3,0-0.6,0-0.9,0c0,0-0.1,0-0.1-0.1c-0.1-0.3-0.3-0.6-0.4-0.9c-0.1-0.1-0.1-0.2-0.2-0.3\
                //-     c-0.1-0.1-0.2-0.2-0.4-0.2c-0.1,0-0.2,0-0.3,0c0,0,0,0,0,0c0,0.3,0,0.5,0,0.8c0,0.2,0,0.4,0,0.6c0,0,0,0,0,0c-0.3,0-0.6,0-0.9,0\
                //-     c0,0,0,0,0,0c0,0,0,0,0,0c0-1.2,0-2.4,0-3.6c0-0.1,0-0.1,0.1-0.1c0.5,0,1,0,1.5,0c0.2,0,0.5,0,0.7,0.1c0.2,0.1,0.3,0.2,0.5,0.3\
                //-     c0.1,0.1,0.1,0.3,0.2,0.4c0,0.2,0,0.3,0,0.5c-0.1,0.3-0.3,0.5-0.5,0.6C303.6,77,303.6,77,303.5,77z M302.3,76.2c0,0.1,0,0.3,0,0.4\
                //-     c0,0,0,0,0,0c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.2,0c0.2,0,0.3-0.1,0.3-0.3c0-0.1,0-0.2,0-0.2c0-0.2-0.1-0.3-0.3-0.3\
                //-     c-0.1,0-0.1,0-0.2,0c-0.1,0-0.3,0-0.4,0c0,0,0,0,0,0C302.3,75.9,302.3,76.1,302.3,76.2z')                    
                //-     path.path.head(d='M6449.789,2976.207a1.075,1.075,0,0,0-.232-.113,20.913,20.913,0,0,0-3.031-.907c-.314-.077-.628-.171-.961-.257-.7-.182-1.42-.407-2.219-.691a30.607,30.607,0,0,0-3.893-1.427,26.445,26.445,0,0,1-2.961-.959,19.375,19.375,0,0,0-5.683-.391c-.071.007-.143.011-.217.011a.372.372,0,0,1-.392-.28.874.874,0,0,1-.052-.233,1.342,1.342,0,0,1,.221-.888,1.981,1.981,0,0,0,.17-.224c.087-.17-.028-.359-.292-.486a.644.644,0,0,0-.638.009,1.165,1.165,0,0,0-.157.137,1.4,1.4,0,0,0-.4,1.2,3.218,3.218,0,0,0,.471,1.322.838.838,0,0,0,.894.519c.29-.03.567-.08.844-.116a12.388,12.388,0,0,1,3.225.022c1.305.168,3.338,1.133,5.154,1.539.721.161,1.387.492,2,.676.587.177,1.124.325,1.587.512.958.387,1.792.626,2.6.879.021.007.017.042.031.083a2.779,2.779,0,0,1-.708.073c-.525.061-1.062-.1-1.614-.085a1.771,1.771,0,0,0-.242.015,17.838,17.838,0,0,1-2.522-.131,39.826,39.826,0,0,1-5.163-.5,5.223,5.223,0,0,0-2.108.148c-.724.157-1.446.6-2.21.836-1.648.508-3.441,1.032-5.1,1.673-.309.12-.525-.4-.677-.866-.229-.71-.48-1.374-.717-2.01a19.112,19.112,0,0,1-.818-3.236,1.249,1.249,0,0,1-.015-.181.261.261,0,0,1,.221-.262,3.283,3.283,0,0,1,.442-.012,2.8,2.8,0,0,0,.793-.113,5.451,5.451,0,0,0,1.87-.9,2.277,2.277,0,0,0,1.073-1.619.3.3,0,0,0-.062-.21.711.711,0,0,0-.821-.115.541.541,0,0,0-.194.192,1.97,1.97,0,0,0-.155.354,1.939,1.939,0,0,1-.479.693,2.428,2.428,0,0,1-.714.5,2.046,2.046,0,0,1-1.438.235.618.618,0,0,1-.069.027c-.582.163-1.148.368-1.711.584a14.955,14.955,0,0,0,.672,3.632,21.59,21.59,0,0,0,.975,2.656,3.044,3.044,0,0,1,.317,1.534.7.7,0,0,0,.253.659.724.724,0,0,1,.248.274c.362-.156.513-.481.892-.591.039-.121.125-.186.287-.244.441-.158.906-.287,1.365-.419a50.673,50.673,0,0,0,5.376-1.7,7.948,7.948,0,0,1,.842-.3,6.867,6.867,0,0,1,2.553-.115,56.878,56.878,0,0,0,5.7.365c.563,0,1.1-.014,1.639-.058.833-.068,1.593.1,2.325.08a16.008,16.008,0,0,1,2.674.131,1.561,1.561,0,0,0,.34.029.882.882,0,0,0,.62-.4C6449.954,2976.541,6449.948,2976.322,6449.789,2976.207Z', transform='translate(-6291.049 1.453)', fill='#fff')
                //-     path.path.head(d='M6500.018,2988.238a10.574,10.574,0,0,1-.877,4.31,12.322,12.322,0,0,1-3.479,4.605,20.4,20.4,0,0,1-4.483,2.935,9.146,9.146,0,0,1-2.687.852,6.213,6.213,0,0,1-2.853-.187,2.944,2.944,0,0,1-.42-.167.473.473,0,0,1-.247-.572.511.511,0,0,1,.521-.352,1.413,1.413,0,0,1,.331.076,5.559,5.559,0,0,0,3.394-.046,12.416,12.416,0,0,0,2.484-1.087,20.543,20.543,0,0,0,3.234-2.176,11.489,11.489,0,0,0,2.934-3.555,10.293,10.293,0,0,0,1.015-3.338,9.332,9.332,0,0,0-.729-4.973,8.88,8.88,0,0,0-1.666-2.544,10.278,10.278,0,0,0-2.686-2.139,5.24,5.24,0,0,0-.824-.373,2.416,2.416,0,0,0-2.121.2,7.424,7.424,0,0,0-.993.747,7.608,7.608,0,0,0-1.932,2.342,4.918,4.918,0,0,0-.481,1.963,9.153,9.153,0,0,0,.425,2.954c.291,1.035.618,2.059.905,3.094.142.508.232,1.03.336,1.547a1.538,1.538,0,0,1,.018.394.443.443,0,0,1-.358.449.509.509,0,0,1-.578-.252.859.859,0,0,1-.089-.265,34.843,34.843,0,0,0-1.167-4.544,16.607,16.607,0,0,1-.458-2.1,6.431,6.431,0,0,1,.3-3.231,5.538,5.538,0,0,1,.823-1.477,10.991,10.991,0,0,1,2.183-2.2,6.334,6.334,0,0,1,.718-.451,3.193,3.193,0,0,1,3.044-.1,11,11,0,0,1,6.178,7.448A8.324,8.324,0,0,1,6500.018,2988.238Z', transform='translate(-6284.292 2.503)', fill='#fff')
                //-     path.path.head(d='M6437.6,2990.771c-.03.088.041.133.089.179a8.448,8.448,0,0,0,1.874,1.388,4.9,4.9,0,0,0,.513.225,2.9,2.9,0,0,0,2.709-.276,2.789,2.789,0,0,1,.4-.223.461.461,0,0,1,.558.131.5.5,0,0,1,.01.628,1.378,1.378,0,0,1-.386.327,3.79,3.79,0,0,1-3.246.491,5.674,5.674,0,0,1-1.445-.638,9.08,9.08,0,0,1-1.583-1.24,19.565,19.565,0,0,1-1.638-1.764.9.9,0,0,1-.261-.6.95.95,0,0,0-.1-.373c-.165-.486-.02-.7.529-.79a.439.439,0,0,0,.1-.04c.01-.033.034-.07.025-.1a5.556,5.556,0,0,1,.286-3.595,2.037,2.037,0,0,0,.1-.25.132.132,0,0,0-.118-.165c-.115-.026-.234-.03-.349-.062a.584.584,0,0,1-.446-.545.423.423,0,0,1,.438-.417c.408-.031.816-.053,1.222-.045a17.151,17.151,0,0,1,4.061.589,25.7,25.7,0,0,1,3.895,1.406c1.485.658,2.894,1.451,4.32,2.228a1.91,1.91,0,0,1,.28.178c.314.249.311.53-.02.74a2.748,2.748,0,0,1-.435.208q-1.646.688-3.294,1.463c-.75.351-1.5.714-2.261,1.076-.254.12-.512.232-.776.332a5.611,5.611,0,0,1-4.281-.16c-.239-.1-.477-.213-.716-.318C6437.636,2990.75,6437.615,2990.764,6437.6,2990.771Zm.51-6.115a8.628,8.628,0,0,0-.077.871,22.006,22.006,0,0,1-.241,2.735,1.309,1.309,0,0,1-.387.878c-.126.115-.1.213.056.31a7.407,7.407,0,0,0,2.545,1.009,4.036,4.036,0,0,0,1.893-.087,10.815,10.815,0,0,0,1.161-.406c1.6-.656,3.109-1.426,4.642-2.091a1.112,1.112,0,0,0,.229-.129.078.078,0,0,0-.007-.131,1.677,1.677,0,0,0-.234-.144c-1.032-.551-2.063-1.094-3.135-1.573a21.382,21.382,0,0,0-6.137-1.776c-.281-.034-.332.008-.325.28C6438.092,2984.456,6438.1,2984.51,6438.108,2984.656Z', transform='translate(-6289.714 3.022)', fill='#fff')
                //-     path.path.head(d='M6451.965,2983.93a6.511,6.511,0,0,1-2.585-.344c-.448-.144-.89-.3-1.33-.464a30.1,30.1,0,0,0-6.034-1.494c-2.432-.353-4.906-.47-7.565-.669-.26-.02-.525-.037-.791-.07a.589.589,0,0,1-.539-.42.416.416,0,0,1,.39-.573,2.041,2.041,0,0,1,.428.009c2.4.268,4.685.378,6.866.631a31.657,31.657,0,0,1,6.132,1.259c.774.248,1.517.573,2.287.836.27.092.54.179.816.256a5.054,5.054,0,0,0,1.475.206c.208-.007.417-.01.623-.007.237,0,.38.083.442.23a.391.391,0,0,1-.194.493A.994.994,0,0,1,6451.965,2983.93Z', transform='translate(-6289.923 2.683)', fill='#fff')
                //-     path.path.head(d='M6491.465,2986.29a2.252,2.252,0,0,1,1.328.34,5.391,5.391,0,0,1,2.6,3.789,2.8,2.8,0,0,1-.234,1.492,4,4,0,0,1-1.186,1.626,5.933,5.933,0,0,1-1.983,1.175,4.686,4.686,0,0,1-2.226.234,4.576,4.576,0,0,1-.892-.134.484.484,0,0,1-.25-.773.453.453,0,0,1,.439-.2c.244.022.489.044.73.082a3.822,3.822,0,0,0,2.658-.532,5.61,5.61,0,0,0,1.228-.989,2.624,2.624,0,0,0,.612-1.133,1.959,1.959,0,0,0,.031-.894,3.46,3.46,0,0,0-.384-1.116,4.871,4.871,0,0,0-1.662-1.665,1.435,1.435,0,0,0-1.352-.161,1.131,1.131,0,0,1-.215.068.517.517,0,0,1-.565-.28.481.481,0,0,1,.172-.6,1.417,1.417,0,0,1,.295-.164A1.875,1.875,0,0,1,6491.465,2986.29Z', transform='translate(-6283.904 3.378)', fill='#fff')
                //-     path.path.head(d='M6489.353,2948.686a3.8,3.8,0,0,1-.437-.025.469.469,0,0,1-.4-.411.517.517,0,0,1,.284-.51,1.283,1.283,0,0,1,.494-.1,10.258,10.258,0,0,0,2.374-.472,5.886,5.886,0,0,0,1.737-.921,1.666,1.666,0,0,0,.481-.545.535.535,0,0,0-.071-.675c-.088-.1-.194-.178-.276-.28a.6.6,0,0,1-.122-.25.489.489,0,0,1,.192-.5.437.437,0,0,1,.527-.006,1.55,1.55,0,0,1,.7,1.112,2.114,2.114,0,0,1-.582,1.816,4.222,4.222,0,0,1-1.434.983A10.429,10.429,0,0,1,6489.353,2948.686Z', transform='translate(-6283.904 -1.225)', fill='#fff')
                //-     path.path.head(d='M6430,2996.486a.44.44,0,0,0-.583.292.491.491,0,0,0,.309.643,5.373,5.373,0,0,1,2.14,2.039,3.375,3.375,0,0,1,.371,3.163.44.44,0,0,0,.3.579.6.6,0,0,0,.177.028.485.485,0,0,0,.474-.334,4.267,4.267,0,0,0-.472-3.939A5.75,5.75,0,0,0,6430,2996.486Z', transform='translate(-6290.325 4.482)', fill='#fff')
                //-     path.path.head(d='M6462.119,2962.551a12.2,12.2,0,0,1-4.412,2.985c-.053.027-.1.06-.153.085-.294.146-.583.294-.871.446a10.852,10.852,0,0,1-2.546,1.075,14.422,14.422,0,0,1-3.342.46c-.109,0-.212,0-.315-.007a6.007,6.007,0,0,1-3.036-.851c-1.065-.675-1.516-1.32-1.337-1.919s.91-1.019,1.532-1.362l.069-.04c.229-.129.447-.251.607-.364s.313-.232.465-.348a11.071,11.071,0,0,0,2.487-2.567.5.5,0,0,1,.715-.13.44.44,0,0,1,.125.639,11.541,11.541,0,0,1-1.991,2.23q-.52.456-1.135.906c-.178.13-.367.262-.56.394-.1.067-.241.14-.382.215a2.249,2.249,0,0,0-.688.464.44.44,0,0,0-.089.354c.072.325.549.606.807.758a5.349,5.349,0,0,0,2.765.642,13.64,13.64,0,0,0,3.223-.467,8.01,8.01,0,0,0,1.866-.814c.226-.119.455-.241.689-.357l.072-.037.137-.07a.459.459,0,0,1,.218-.139c.069-.027.135-.053.205-.077a4.251,4.251,0,0,0,1.707-1.412,4.814,4.814,0,0,0,.774-2.5.491.491,0,0,1,.508-.473h.023a.455.455,0,0,1,.453.483,5.968,5.968,0,0,1-.512,2.209c.324-.261.651-.555,1-.883a4.679,4.679,0,0,0,1.554-2.318,7.609,7.609,0,0,0,.037-2.466.416.416,0,0,1,.165-.4.517.517,0,0,1,.517-.04.5.5,0,0,1,.3.414A5.827,5.827,0,0,1,6462.119,2962.551Z', transform='translate(-6288.514 0.176)', fill='#fff')
                //-     path.path.head(d='M6464.068,2938.937a6.778,6.778,0,0,1,6.06.175.5.5,0,0,0,.236.062.473.473,0,0,0,.25-.074.529.529,0,0,0,.251-.461.443.443,0,0,0-.248-.38,7.842,7.842,0,0,0-7.026-.182.419.419,0,0,0-.259.348.523.523,0,0,0,.229.468A.5.5,0,0,0,6464.068,2938.937Z', transform='translate(-6286.64 -1.939)', fill='#fff')
                //-     path.path.head(d='M6495.008,2934.175a.483.483,0,0,0-.034-.071c-1.221-1.666-2.6-3.323-4.8-3.679-2.426-.4-4.761.722-6.311,1.594q-.489.276-.973.553c-.751.43-1.489.843-2.232,1.236-1.925-2.177-4.234-4.486-7.329-4.486h-.059a5.862,5.862,0,0,0-3.115,1.095c-.181.106-.367.215-.56.323a4.323,4.323,0,0,1-2.7.269,6.818,6.818,0,0,0-2.051-.013,12.126,12.126,0,0,0-1.709.521,7.129,7.129,0,0,1-2.794.6,5.955,5.955,0,0,1-3.116-1.557c-.275-.213-.562-.431-.845-.626a6.762,6.762,0,0,0-3.886-1.28h-.083a8.491,8.491,0,0,0-3.881,1.236,7.178,7.178,0,0,1-2.964.9,8.376,8.376,0,0,0-2.231.393,7.1,7.1,0,0,0-3.372,2.526.42.42,0,0,0-.063.427.531.531,0,0,0,.426.3.512.512,0,0,0,.473-.206,6,6,0,0,1,3.5-2.3,12.928,12.928,0,0,1,1.426-.208,7.554,7.554,0,0,0,2.436-.545c.334-.151.66-.316.975-.474a7.435,7.435,0,0,1,3.283-1.062,6.473,6.473,0,0,1,4.052,1.571l.269.2a7.776,7.776,0,0,0,2.882,1.592,6.5,6.5,0,0,0,3.546-.468l.33-.115a10.8,10.8,0,0,1,1.592-.469,6.3,6.3,0,0,1,2.033.047c.168.022.336.044.508.063a4.75,4.75,0,0,0,3.378-1.072c3.258-2.058,6.51.8,8.745,3.287a20.7,20.7,0,0,1-2.939,1.206c-3.477,1.094-6.018.857-7.772-.725a.481.481,0,0,0-.48-.106.528.528,0,0,0-.355.384.438.438,0,0,0,.147.426,6.854,6.854,0,0,0,4.748,1.69,11.958,11.958,0,0,0,2.6-.312c.967.994,1.9,1.88,2.854,2.7q.2.17.4.348a9.651,9.651,0,0,0,2.521,1.787,8.373,8.373,0,0,0,3.145.44h.16a5.019,5.019,0,0,0,2.985-.814.49.49,0,0,0,.214-.455.528.528,0,0,0-.289-.434.428.428,0,0,0-.438.051,6.329,6.329,0,0,1-6.045-.054,28.947,28.947,0,0,1-4.405-3.855,24.236,24.236,0,0,0,4.2-1.741c.679-.354,1.353-.759,2-1.151a15.747,15.747,0,0,1,4.717-2.176,5.478,5.478,0,0,1,3.9.486,8.819,8.819,0,0,1,2.442,2.545c-.53.231-1.065.5-1.629.784-1.94,1-3.944,2.023-5.954,1.394a.442.442,0,0,0-.448.091.536.536,0,0,0-.152.5.472.472,0,0,0,.331.353,6.672,6.672,0,0,0,4.618-.545c.631-.269,1.258-.565,1.864-.855.214-.1.428-.2.642-.3.153-.072.308-.148.463-.225a4.551,4.551,0,0,1,2.4-.687,5.693,5.693,0,0,1,2.452,1.116,4.024,4.024,0,0,1,1.982,2.121c.263,1.079-.725,2.14-1.788,2.588a1.9,1.9,0,0,1-2.471-.5.488.488,0,0,0-.691-.148.461.461,0,0,0-.157.652,2.466,2.466,0,0,0,1.683,1.162,3,3,0,0,0,.5.043,4.129,4.129,0,0,0,2.47-.918,3.322,3.322,0,0,0,1.42-2.484,3.181,3.181,0,0,0-1.241-2.487C6498.363,2934.447,6496.608,2933.8,6495.008,2934.175Z', transform='translate(-6289.187 -2.882)', fill='#fff')
                //-     path.path.head(d='M6518.93,2974.182a11.93,11.93,0,0,0-2.919-3.692,15.343,15.343,0,0,1-2.391-2.713,9.337,9.337,0,0,1-1.13-3.691c-.041-.26-.082-.521-.129-.784a7.748,7.748,0,0,0-1.623-3.635,17.284,17.284,0,0,0-3.279-2.976.479.479,0,0,0,.231-.062,3.29,3.29,0,0,0,1.726-1.886,2.593,2.593,0,0,0-.354-2.012,16.282,16.282,0,0,0-3.639-3.879q-.275-.233-.537-.461c-.8-.695-1.636-1.385-2.443-2.051a42.8,42.8,0,0,1-6.993-6.732.531.531,0,0,0-.751-.087.416.416,0,0,0-.082.609,45.4,45.4,0,0,0,7.391,7.125l.219.181c1.378,1.137,2.718,2.262,3.989,3.509l.193.188a12.091,12.091,0,0,1,1.642,1.837,1.761,1.761,0,0,1,.332,1.812,2.4,2.4,0,0,1-1.117.957l-.067.037a.453.453,0,0,0-.245.4.522.522,0,0,0,.048.184c-.592-.42-1.19-.831-1.788-1.231-.572-.382-1.163-.78-1.716-1.172a.43.43,0,0,0-.628.109.518.518,0,0,0,.111.729c.54.382,1.108.766,1.658,1.137.769.519,1.543,1.05,2.3,1.607a4.165,4.165,0,0,0-3.159,1.593c-1.087,1.413-1.146,3.226-.171,5.244a12.622,12.622,0,0,0,1.72,2.578l.122.145a6.426,6.426,0,0,1,.942,1.34,1.576,1.576,0,0,1,.2,1.032.7.7,0,0,1-.4.5,1.056,1.056,0,0,1-.9-.09,13.454,13.454,0,0,1-2.755-2.306l-.171-.171a26.52,26.52,0,0,1-2.561-2.978.5.5,0,0,0-.472-.2.527.527,0,0,0-.425.3.416.416,0,0,0,.062.427,25.837,25.837,0,0,0,5.247,5.388,3.247,3.247,0,0,0,1.81.783,1.528,1.528,0,0,0,.556-.1,1.853,1.853,0,0,0,.993-2.027,4.727,4.727,0,0,0-1.241-2.363,12.078,12.078,0,0,1-2.2-3.5,3.459,3.459,0,0,1,.807-3.725,3.26,3.26,0,0,1,3.569-.6,15.1,15.1,0,0,1,1.126,1.1,7.035,7.035,0,0,1,1.77,3.649c.051.3.1.6.139.891a10.87,10.87,0,0,0,.679,2.817,13.982,13.982,0,0,0,3.159,4.077c.4.4.806.808,1.187,1.223.881.962,2.089,2.281,1.475,3.724a7.315,7.315,0,0,1-3.194,3.084.464.464,0,0,0-.181.648.511.511,0,0,0,.435.27.487.487,0,0,0,.239-.064C6517.751,2978.884,6519.96,2976.6,6518.93,2974.182Z', transform='translate(-6283.252 -1.714)', fill='#fff')
                //-     path.path.head(d='M6453.454,2935.59a.4.4,0,0,0,.069-.415.537.537,0,0,0-.9-.1,7.191,7.191,0,0,1-4.138,2.586,9.154,9.154,0,0,1-4.691-.513l-.381-.11a7.944,7.944,0,0,0-2.863-.275.479.479,0,0,0-.187-.21,7.224,7.224,0,0,1-1.249-1,5.733,5.733,0,0,0-1.732-1.244,3.873,3.873,0,0,0-2.933.3c-.235.089-.475.181-.718.259a6.24,6.24,0,0,1-4.861-.607,5.5,5.5,0,0,0-3.514-.659,4.458,4.458,0,0,0-3.442,5.034c.025.232.05.473.072.72.041.414.089.849.143,1.289a7.213,7.213,0,0,0-3.175,2.381,3.861,3.861,0,0,0-.654,1.165.442.442,0,0,0-.376.145c-.177.189-.379.381-.591.584a4.889,4.889,0,0,0-1.81,2.706,7.868,7.868,0,0,0,.808,4.043,5.251,5.251,0,0,0,2.576,2.366,1.6,1.6,0,0,1,.99,1.274c.045.157.094.33.161.524a5.791,5.791,0,0,0,.918,1.642,10.946,10.946,0,0,0,2.648,2.285c-1.236,1.044-2.918,2.958-2.288,5.281.474,1.755,2.069,3.059,3.477,4.212.271.22.526.435.776.647a5.809,5.809,0,0,1-1.113,1.935,4.642,4.642,0,0,0-1.243,2.652,5.774,5.774,0,0,0,.788,2.655l.032.066a15.1,15.1,0,0,1,1.1,3.295c.907,4.029.434,8.32-1.486,13.5a49.656,49.656,0,0,1-2.845,6.278c-.372.69-.8,1.368-1.222,2.024-.456.714-.925,1.454-1.322,2.212a4.023,4.023,0,0,0-.26,3.323c1.188,2.923,5.6,3.071,7.717,3.142h.02a.454.454,0,0,0,.464-.456.488.488,0,0,0-.476-.519c-1.948-.064-6-.2-6.854-2.64a3.12,3.12,0,0,1,.3-2.475c.4-.716.841-1.429,1.265-2.118.611-.992,1.243-2.02,1.788-3.085a51.246,51.246,0,0,0,2.368-5.41c1.729-4.666,2.3-8.363,1.849-11.988a23.212,23.212,0,0,0-.691-3.372,12.7,12.7,0,0,0-.746-1.888c-.2-.437-.409-.888-.575-1.352-.513-1.43.19-2.394.936-3.414a6.663,6.663,0,0,0,1.127-2.02.5.5,0,0,0,.156-.149.461.461,0,0,0,0-.474c-.694-1.228-.222-2.587,1.442-4.153.865-.814,1.345-1.387.73-2.508a10.3,10.3,0,0,0-3.808-3.437,21.3,21.3,0,0,1-2.021-1.4,6.261,6.261,0,0,1-2.215-3.351,2.565,2.565,0,0,0-.545-1.126,2.306,2.306,0,0,0-.938-.514,3.851,3.851,0,0,1-.536-.221c-1.51-.819-2.032-2.607-2.205-3.962a2.55,2.55,0,0,1,.388-2.157c.345-.418.737-.818,1.118-1.206l.054-.055a4.353,4.353,0,0,0,.265,1.207,11.8,11.8,0,0,0,2.487,3.7,4.4,4.4,0,0,0,2.942,1.768,4.285,4.285,0,0,0,1.67,2.34c.177.157.355.315.523.477a2.425,2.425,0,0,1,.792,1.254,3.986,3.986,0,0,1,.063.519,3.645,3.645,0,0,0,.081.606,4.491,4.491,0,0,0,1.246,1.937l.226.238c.922.982,1.873,1.995,3.293,1.995.068,0,.139,0,.21-.007a3.869,3.869,0,0,0,3.1-1.771h0a6.729,6.729,0,0,0,2.521.458,7.085,7.085,0,0,0,1.441-.144,7.743,7.743,0,0,0,2.925-1.63c.269-.2.53-.4.788-.582a.487.487,0,0,0,.214-.452.525.525,0,0,0-.292-.428.425.425,0,0,0-.436.05c-.271.188-.541.389-.812.591a13.351,13.351,0,0,1-1.911,1.261,5.684,5.684,0,0,1-3.78.083c-1.975-.624-4.43-3.542-4.235-5.67a.427.427,0,0,0-.407-.482.52.52,0,0,0-.576.458c-.2,2.166,1.676,4.757,3.683,6.023a2.825,2.825,0,0,1-3.131,1.156,4.149,4.149,0,0,1-1.363-1.069c-.085-.088-.168-.172-.248-.253l-.213-.209a4.5,4.5,0,0,1-1.255-1.661,3.232,3.232,0,0,1-.117-.749,3.13,3.13,0,0,0-.162-.9,3.277,3.277,0,0,0-.641-1,8.16,8.16,0,0,0-.831-.765c-.714-.6-1.453-1.225-1.417-2.19a.4.4,0,0,0-.013-.061.217.217,0,0,0-.009-.062.436.436,0,0,0-.324-.333l0-.03-.083.011c-1.137-.407-2.512-1.181-2.782-2.584-.283-1.469.9-2.67,1.952-3.66a4.368,4.368,0,0,0,.84.918.512.512,0,0,0,.318.113.545.545,0,0,0,.191-.036.524.524,0,0,0,.335-.392.411.411,0,0,0-.169-.394c-1.611-1.277-1.862-3.834-2.063-5.89-.022-.234-.045-.462-.068-.682a3.48,3.48,0,0,1,1.057-3.215,3.424,3.424,0,0,1,3.344-.735,10.518,10.518,0,0,1,1.466.608,8.589,8.589,0,0,0,1.907.724,6.485,6.485,0,0,0,3.333-.185c.238-.077.47-.166.7-.255a2.815,2.815,0,0,1,2.757-.093,7.888,7.888,0,0,1,1.11.909c.225.208.457.414.7.609a7.184,7.184,0,0,0-3.741,2.382.513.513,0,0,0,.085.731.46.46,0,0,0,.289.11.437.437,0,0,0,.339-.17,6.39,6.39,0,0,1,4.494-2.355,8.527,8.527,0,0,1,3.122.54,13.481,13.481,0,0,0,2.11.517A8.187,8.187,0,0,0,6453.454,2935.59Zm-32.9,12.955a8.812,8.812,0,0,1-1.007-1.584,2.917,2.917,0,0,1,.316-3.5,6.349,6.349,0,0,1,2.41-1.834,9.715,9.715,0,0,0,.734,2.48c-.009.009-.022.009-.031.018C6421.694,2945.336,6420.362,2946.765,6420.555,2948.545Zm6.81,14.061c.456.516.975,1.1.483,1.785a2.32,2.32,0,0,1-.4.381c-.094.076-.185.152-.256.222a7.123,7.123,0,0,0-1.229,1.492,3.928,3.928,0,0,0-.574,1.978,10.728,10.728,0,0,1-2.834-3c-1.145-2.172.672-4.126,1.925-5.137A13.64,13.64,0,0,1,6427.364,2962.605Z', transform='translate(-6291.835 -2.354)', fill='#fff')
                //-     path.path.head(d='M6450.887,2963.556q-.52.456-1.135.905a8.528,8.528,0,0,1-1.342-.327,14.822,14.822,0,0,1-4.92-2.881,13.638,13.638,0,0,1-4.512-10.14.488.488,0,0,1,.976,0,12.467,12.467,0,0,0,7.318,11.45,12.355,12.355,0,0,0,2.279.821A6.2,6.2,0,0,0,6450.887,2963.556Z', transform='translate(-6289.285 -0.494)', fill='#fff')
                //-     path.path.head(d='M6464.164,2961.884a6.786,6.786,0,0,0-.341,4.787c.571,1.852,1.939,2.731,3.075,4.179.447.57,1.238-.232.8-.8-.866-1.1-2.015-1.82-2.585-3.156a5.567,5.567,0,0,1,.026-4.447c.287-.657-.683-1.23-.972-.567Z', transform='translate(-6286.617 0.696)', fill='#fff')
                //-     path.path.head(d='M6468.413,2965.8c-3.153,2.451-1.614,7.431-.158,10.338.325.647,1.3.079.972-.568-1.238-2.473-2.732-6.864-.018-8.974.57-.444-.23-1.236-.8-.8Z', transform='translate(-6286.287 1.138)', fill='#fff')
                //-     path.path.head(d='M6470.059,2972.547c-2.313,3.167-4.6,7.43-1.7,11a.568.568,0,0,0,.961-.4,2.768,2.768,0,0,1,1.533-2.843l-.682-.884a5.54,5.54,0,0,0,.707,8.747c.433.3.922-.192.825-.635a3.771,3.771,0,0,1,2.2-4.174c1.109-.563,2.408-.516,3.5-1.094,1.262-.666,1.929-2.427.722-3.469-.547-.47-1.346.323-.8.8,1.308,1.126-.994,1.895-1.682,2.056-.453.107-.9.184-1.348.33a6.211,6.211,0,0,0-2.2,1.25,4.716,4.716,0,0,0-1.48,4.6l.826-.636a4.4,4.4,0,0,1-.479-6.979c.477-.451-.13-1.177-.683-.885a3.831,3.831,0,0,0-2.091,3.816l.96-.4c-2.522-3.1-.064-6.977,1.871-9.63.429-.585-.548-1.149-.97-.569Z', transform='translate(-6286.241 1.859)', fill='#fff')
                //-     path.path.head(d='M6511.685,2970.427c.121,3.891,1.951,7.312,2.809,11.042a12.181,12.181,0,0,1,.153,5.773c-.547,2.1-2.072,3.442-3.574,4.885-2.051,1.971-3.328,4.36-2.755,7.268a7.129,7.129,0,0,0,1.576,3.3c.114.131.47.384.516.538.539,1.772-1.1,1-1.591.732a5.444,5.444,0,0,1-2.266-2.506c-.309-.652-1.356-.236-1.044.42a6.386,6.386,0,0,0,3.633,3.461c1.08.345,2.52.145,2.82-1.15a1.641,1.641,0,0,0-.478-1.48,9.33,9.33,0,0,1-1.75-2.437,6.112,6.112,0,0,1,1.006-6.17c1.257-1.522,2.958-2.635,4.02-4.325a9.552,9.552,0,0,0,1.261-5.7c-.279-4.78-3.072-8.985-3.219-13.789-.022-.723-1.14-.582-1.118.139Z', transform='translate(-6282.065 1.588)', fill='#fff')
                //-     path.path.head(d='M6510.783,2991.922a17.373,17.373,0,0,0-.475-11.338.564.564,0,0,0-1.045.42,16.116,16.116,0,0,1,.491,10.464c-.2.686.828,1.147,1.03.454Z', transform='translate(-6281.655 2.721)', fill='#fff')
                //-     path.path.head(d='M6505.361,2976.129a8.585,8.585,0,0,1,.06,8.051c-.611,1.146-2.489,3.284-.223,3.94,2.219.641,3.664-1.686,4.407-3.378a16.792,16.792,0,0,0,1.278-8.393.564.564,0,0,0-1.118.138,15.65,15.65,0,0,1-.886,7.06,6.921,6.921,0,0,1-1.8,3.069q-.8.906-1.372.123-.787-.321-.042-.862c.194-.286.4-.56.571-.858a9.634,9.634,0,0,0,.173-9.309c-.335-.635-1.384-.221-1.046.42Z', transform='translate(-6282.21 2.195)', fill='#fff')
                //-     path.path.head(d='M6484.3,2981.651c3.156-2.166,7.3-8.787,11.753-5.679,1.818,1.269,3.009,3.629,4,5.549a29.885,29.885,0,0,1,2.6,6.845c.736,3.106-.673,5-2.687,7.187-1.559,1.689-3.087,3.414-4.7,5.052-1.528,1.555-3.3,3.13-5.49,3.627a5.15,5.15,0,0,1-5.724-2.093.562.562,0,0,0-.971.567c1.66,2.879,5.441,3.407,8.315,2.163,4.039-1.746,7.02-5.949,9.9-9.108,1.327-1.454,2.574-3.008,2.723-5.046.162-2.209-.757-4.553-1.554-6.569a33.629,33.629,0,0,0-3.146-6.094,8.591,8.591,0,0,0-3.807-3.624c-4.972-1.908-8.362,3.9-11.795,6.25-.594.407-.032,1.384.567.972Z', transform='translate(-6284.502 2.049)', fill='#fff')
                //-     path.path.head(d='M6497.3,2996.115a29.84,29.84,0,0,1,2.6,3.033c.665,1.039.473,1.382-.4,1.953a8.35,8.35,0,0,1-1.71.837c-.673.25-.383,1.337.3,1.085,1.149-.424,3.312-1.247,3.523-2.681a2.338,2.338,0,0,0-.741-1.787c-.9-1.1-1.848-2.157-2.771-3.235-.472-.551-1.265.248-.8.8Z', transform='translate(-6282.966 4.338)', fill='#fff')
                //-     path.path.head(d='M6476.875,2983.412c-2.955-.36-3.988,2.865-4.061,5.214a12.307,12.307,0,0,1-1.2,5.77c-.758,1.435-2.009,2.684-2.633,4.166a2.067,2.067,0,0,0,.484,2.545c.942.66,2.354.188,3.3-.2a8.447,8.447,0,0,0,4.993-5.924c.165-.7-.921-1.006-1.085-.3a7.36,7.36,0,0,1-3.761,4.926,5.274,5.274,0,0,1-1.458.554.773.773,0,0,1-1-.241q-1.2-.3-.179-1.381c.511-.944,1.269-1.788,1.824-2.712a11.693,11.693,0,0,0,1.8-5.137c.153-2.029-.345-6.562,2.981-6.155.717.088.711-1.039,0-1.126Z', transform='translate(-6286.05 3.063)', fill='#fff')
                //-     path.path.head(d='M6473.595,2998.882c2.969,1.069,6.2-1.695,7.814-3.9.43-.585-.547-1.147-.971-.569-1.326,1.811-4.093,4.267-6.544,3.384-.684-.245-.978.842-.3,1.085Z', transform='translate(-6285.567 4.234)', fill='#fff')
                    
        .pageload__word.mt-1.mt-ssm-3.text-center Loading...