//- todo: pagination
//- 最多顯示 3個數字，如：[1 2 3], [3, 4, 5], [4, 5 ,6], etc. 
//- 當前頁的class .current，如下a.page__link.current
//- 此版pagesToShow 只能是奇數
- var paginationParam
- paginationParam = {"baseUrl":"","currentPage":2,"pagesToShow":3,"totalPage":8}

if (paginationParam.currentPage - ((paginationParam.pagesToShow-1)/2) < 1)
    -var firstPage = 1
else
    -var firstPage = paginationParam.currentPage - ((paginationParam.pagesToShow-1)/2)
if ((paginationParam.currentPage + ((paginationParam.pagesToShow-1)/2)) > paginationParam.totalPage)
    -var lastPage=paginationParam.totalPage
else
    - lastPage = paginationParam.currentPage + ((paginationParam.pagesToShow-1)/2)

if (((lastPage - firstPage)+1) < paginationParam.pagesToShow)
    if (firstPage===1)
        - lastPage = ((firstPage+paginationParam.pagesToShow)-1) > paginationParam.totalPage ? paginationParam.totalPage : (firstPage+paginationParam.pagesToShow)-1
    else if (lastPage===paginationParam.totalPage)
        - firstPage = ((lastPage-paginationParam.pagesToShow)+1) < 1 ? 1 : (lastPage-paginationParam.pagesToShow)+1
    
if paginationParam.totalPage > 1
    nav(aria-label='Page navigation').d-flex.justify-content-center.mt-3.mt-lg-0
        ul.pagination.d-flex.align-items-center
            if paginationParam.currentPage > 1
                li.page__item
                    a.page__arrow(href='#', aria-label='Previous')
                        img(src=basePath+"images/icons/icon-arrow-left-base.png", alt="<", aria-hidden='true')
            - var i = firstPage
            while i <= lastPage
                li.page__item
                    a.page__link(href='#', class=paginationParam.currentPage===i ? 'current' : null)=i
                - i++
            if paginationParam.currentPage < paginationParam.totalPage
                li.page__item
                    a.page__arrow(href='#', aria-label='Next')
                        img(src=basePath+"images/icons/icon-arrow-right-base.png", alt=">", aria-hidden='true')