-var cname="IT'S DAVID | 職人手作．西點．麵包．咖啡飲品．義式冰淇淋"
-var uploadPath="../../dist/upload_files/"
-var basePath="../../dist/" 
-var locale="zh-Hant" 

//- seo 預設字
-var seoText = "IT'S DAVID 職人手作．西點．麵包．咖啡飲品．義式冰淇淋"
-var imgAlt = "圖暫時讀不到... by IT'S DAVID"

//- 校稿不重覆
-var datetime_token = '20200320'