extends ../layout/default.pug
block page_variables
    -var pageloader = true
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/about.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/about.js?v="+datetime_token)
block view
    .video__wrap
        .embed-responsive.embed-responsive-19by10.lazyload
            iframe(class="lazyload" data-src='https://www.youtube.com/embed/5Peo-ivmupE'+'?enablejsapi=1;rel=0&amp;controls=0;modestbranding=1', allow="autoplay", frameborder='0').js__video.js__youtube.embed-responsive-item.w-100 
        .video__loading video loading...

    .about__page__wrap
        section.about__section
            .container.container--cc
                h1.page__heading--cc.d-flex.align-items-center
                    span.mr-2.mr-xl-4 關於我們
                    span.en ABOUT US
                .about__content
                    h2.heading--cc.text-center
                        span ABOUT US
                    .about__context
                        .editor__wrap
                            p IT'S DAVID佇立在生活周遭讓大家追求生活的同時，也能停下腳步
                            p 跳脫羈絆且凝重的氛圍，在寧靜的IT'S DAVID享受悠閒的自由時光。
        section.about__section.mb-4.mb-sm-5.mb-lg-0
            .container.container--cc
                h2.page__heading--cc.d-flex.flex-wrap.align-items-center
                    span.mr-2.mr-xl-4 會議室空間
                    span.en CONFERENCE ROOM
            .container
                .about__itemslider__wrap.js__itemslider__wrap.itemslider__wrap
                    .about__itemslider.itemslider.js__itemslider.owl-carousel.owl-theme
                        - var storeItems = [{"img":"store/pic-store-list01.jpg","name":"建工門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"台中門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"台北門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"台北門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"日本門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"美國門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"美國門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"美國門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"美國門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"美國門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"美國門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"美國門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"美國門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"美國門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"高雄門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"}]
                        each store_item in storeItems
                            .store__item.item
                                .pic.d-block
                                    img(src=uploadPath+store_item.img, alt=imgAlt).d-block.w-100
                                .store__info.text-center
                                    .store__address.d-flex.align-items-center.justify-content-center
                                        .title=store_item.name
                                        a(href=store_item.map, target="_blank").address=store_item.address
                                    .store__opening=store_item.opening
                                    a(href="tel:"+store_item.phone).store__phone.btn.btn__base.mt-3=store_item.phone