extends ../layout/default.pug
block page_variables
    -var pageloader = true
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/contact.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/contact.js?v="+datetime_token)
block view
    //- breadcrumb
    .breadcrumb__wrap
        .container
            nav(aria-label='breadcrumb')
                ul.breadcrumb.d-flex.flex-wrap
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 首頁
                    li.breadcrumb__item(aria-current='page') 聯絡我們
    .innerpage
        .container.container--cc
            h1.page__heading--cc.d-flex.align-items-center
                span.mr-2.mr-xl-4 聯絡我們
                span.en Contact Us
        .page__upper
            .container.container--cc
                .page__upper__wrap.d-block.px-3
                    .upper__description
                        p 需要協助？有任何問題？歡迎先看看我們的【
                            a(href="qa.html").text-third 常見問題
                            | 】，為你快速解答！
                        p 關於商品及其他問題，可透過以下表單，請留下正確的聯絡方式，我們將盡速提供協助！
                    .contact__info.mt-2.mt-xl-4
                        p.d-flex.align-items-center.pt-0.pt-xl-2.text--small
                            img(src=basePath+"images/icons/icon-mail.png", alt="").mr-2
                            span.subtitle.mr-2 客服信箱
                            a(href="mailto:itsdavid haha@abc.com") itsdavid haha@abc.com
        .contact__wrap
            .container.container--cc
                .contact__form
                    .form__row.d-block.d-lg-flex.justify-content-between
                        .form__inline__item.form__item.form__select__item.form__item__medium.d-block.d-ssm-flex.align-items-center
                            label.form__label.text-left.text-ssm-right.mb-2.mb-ssm-0.pl-2.pl-ssm-0 聯絡目的
                            -var purposeItems = ['客服專區', '加盟專區', '海外代理', '異業合作', '企業採購']
                            select.form__select
                                option(value='hide') 客服專區
                                each item in purposeItems
                                    option(value='cityItem')=item
                        .form__inline__item.form__item.form__item__medium.d-block.d-ssm-flex.align-items-center
                            label.form__label.text-left.text-ssm-right.mb-2.mb-ssm-0.pl-2.pl-ssm-0 姓名
                                .icon__require *
                            .form__control__item
                                input.form__input(type="text", placeholder="請輸入姓名")
                        .form__inline__item.form__item.form__item__medium.d-block.d-ssm-flex.align-items-center
                            label.form__label.text-left.text-ssm-right.mb-2.mb-ssm-0.pl-2.pl-ssm-0 聯絡電話
                                .icon__require *
                            .form__control__item
                                input.form__input(type="text", placeholder="請輸入聯絡電話")
                    .form__row
                        .form__item.d-block.d-ssm-flex.align-items-center.w-100.has--error
                            label.form__label.text-left.text-ssm-right.mb-2.mb-ssm-0.pl-2.pl-ssm-0 Email
                                .icon__require *
                            .form__control__item
                                input.form__input(type="text", placeholder="請輸入Email")
                    .form__row
                        .form__item.d-block.d-ssm-flex.align-items-center.w-100
                            label.form__label.text-left.text-ssm-right.mb-2.mb-ssm-0.pl-2.pl-ssm-0 主旨
                                .icon__require *
                            .form__control__item
                                input.form__input(type="text", placeholder="請輸入主旨")
                    .form__row.mb-0
                        .form__item.d-block.d-ssm-flex.align-items-center.w-100.has--error
                            label.form__label.text-left.text-ssm-right.mb-2.mb-ssm-0.pl-2.pl-ssm-0 內容
                                .icon__require *
                            .form__control__item
                                textarea.form__textarea(placeholder="請輸入內容")
                    .form__row.mb-0
                        .form__item.d-block.d-ssm-flex.align-items-center.w-100
                            label.d-none.d-ssm-block.form__label.text-left.text-ssm-right.mb-2.mb-ssm-0.pl-2.pl-ssm-0
                            .form__hint *欄位皆為必填
                    .form__message.p-3
                        .text-center.text--small.text-second 必填欄位需填
                .btn__wrap.d-flex.justify-content-center
                    #js__form__submit.btn.form__btn__base 送出
                    