extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/forget.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/forget.js?v="+datetime_token)
block view
    //- breadcrumb
    .breadcrumb__wrap
        .container
            nav(aria-label='breadcrumb')
                ul.breadcrumb.d-flex.flex-wrap
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 首頁
                    li.breadcrumb__item(aria-current='page') 忘記密碼
    .innerpage
        .container.container--cc
            .innerpage__middle
                h1.page__heading--cc.d-flex.align-items-center
                    span.mr-2.mr-xl-4 忘記密碼  
                    span.en FORGET PASSWORD
                .forget__wrap
                    p 請輸入您的手機號碼，系統將寄送簡訊密碼，請使用新密碼登入。
                    .basic__form.forget__form
                        .form__row.mb-0
                            .form__item.d-block.d-lg-flex.align-items-center.w-100
                                label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 手機號碼
                                .form__control__item.form__mr
                                    input.form__input(type="text", placeholder="請輸入手機號碼")
                                button#js__send__pw.btn.form__btn__base.form__mr.mt-3.mt-lg-0 發送新密碼
                                a(href="login.html").link.form__ml.mt-3.mt-lg-0
                                    span 取消，回上一頁登入會員
                        .form__row
                            .form__item.d-block.d-lg-flex.align-items-center.w-100
                                label.form__label.text-left.mb-0.pl-lg-0.d-none.d-lg-block
                                .form__message 密碼已發送，登入後請盡快更改密碼。
                    .basic__form.forget__form#js__forget__login__form
                        .form__row.mb-0
                            .form__item.d-block.d-lg-flex.align-items-center.w-100
                                label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 新密碼
                                .form__control__item.form__mr.meg--inside.has--error
                                    input.form__input(type="password", placeholder="請輸入新密碼")
                                    .form__message--inside
                                        span 驗證碼錯誤
                                .btn.form__btn__base.form__mr.mt-3.mt-lg-0 登入
                    
                    