extends ../layout/default.pug
block page_variables
    -var pageloader = true
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/index.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/index.js?v="+datetime_token)
block view
    //- imgslider: for slider
    .banner__wrap.bnslider__wrap.js__imgslider__wrap
        .banner.bngslider.js__bnslider.owl-carousel.owl-theme
            //- todo: 建議尺寸 1920x778, ratio height/width*100 = 778/1920 *100
            -var bnItems = [{"img":"home/homebanner01.jpg"},{"img":"home/homebanner02.jpg"},{"img":"home/homebanner03.jpg"},{"img":"home/homebanner04.jpg"}]
            each bnItem in bnItems
                .banner__item.pic
                    img(src=uploadPath+bnItem.img alt=imgAlt)
    .idx__about
        .container
            h2.text-center.idx__about__subtitle.d-flex.align-items-center.justify-content-center.w-100
                span 職人手作
                span.dot •
                span 西點
                span.dot •
                span 麵包
                span.dot •
                span 咖啡飲品
                span.dot •
                span 義式冰淇淋
            h1.heading--cc.text-center
                span.pr-3.pr-sm-4.pr-xl-5.mr-0.mr-xl-4 COFFEE
                span BREAD

    .idx__news
        .container
            h2.idx__news__heading.d-flex.align-items-center
                span.mr-2.mr-xl-4 最新消息
                span.en NEWS
            .idx__news__slider.js__imgslider__wrap.imgslider__wrap
                .imgslider.js__imgslider.owl-carousel.owl-theme
                    //- 512x384
                    - var newsItems = [{"img":"news/pic-news-list01.jpg", "link":"news_detail.html"},{"img":"news/pic-news-list02.jpg", "link":"news_detail.html"},{"img":"news/pic-news-list03.jpg", "link":"news_detail.html"},{"img":"news/pic-news-list02.jpg", "link":"news_detail.html"},{"img":"news/pic-news-list02.jpg", "link":"news_detail.html"},{"img":"news/pic-news-list03.jpg", "link":"news_detail.html"}]
                    each newsItem in newsItems
                        a(href=newsItem.link).idx__news__item.pic
                            img(src=uploadPath+newsItem.img, alt=imgAlt)
    .idx__extra
        .container
            h2.idx__extra__heading.text-center
                span.d-inline-flex.align-items-center.justify-content-center
                    span.mr-3 更多資訊
                    span.en MORE INFO
            .idx__extra__content.d-block.d-md-flex.justify-content-between
                //- 930, mr - 14
                .idx__extra__grid01
                    .idx__extra__grid01__row.d-block.d-sm-flex.justify-content-between
                        .idx__extra__grid01__2
                            a(href="store.html").idx__extra__item.lazyload
                                img(class="lazyload" data-src=uploadPath+"home/idx-extra-01.jpg", alt="").idx__extra__img
                                .idx__extra__text.d-flex.align-items-center
                                    .text 門市據點
                                    img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                        .idx__extra__grid01__1
                            a(href="product.html").idx__extra__item.lazyload
                                img(class="lazyload" data-src=uploadPath+"home/idx-extra-02.jpg", alt="").idx__extra__img
                                .idx__extra__text.d-flex.align-items-center
                                    .text 商品介紹
                                    img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                    .idx__extra__grid01__row.d-block.d-sm-flex.justify-content-between
                        .idx__extra__grid01__1
                            a(href="contact.html").idx__extra__item.lazyload
                                img(class="lazyload" data-src=uploadPath+"home/idx-extra-03.jpg", alt="").idx__extra__img
                                .idx__extra__text.d-flex.align-items-center
                                    .text 聯絡我們
                                    img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                        .idx__extra__grid01__2
                            a(href="user01.html").idx__extra__item.lazyload
                                img(class="lazyload" data-src=uploadPath+"home/idx-extra-04.jpg", alt="").idx__extra__img
                                .idx__extra__text.d-flex.align-items-center
                                    .text 會員專區
                                    img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                //- 656
                .idx__extra__grid02
                    a(href="about.html").idx__extra__item.lazyload
                        img(class="lazyload" data-src=uploadPath+"home/idx-extra-05.jpg", alt="").idx__extra__img
                        .idx__extra__text.d-flex.align-items-center
                            .text 關於我們
                            img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow