extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/login.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/login.js?v="+datetime_token)
block view
    //- breadcrumb
    .breadcrumb__wrap
        .container
            nav(aria-label='breadcrumb')
                ul.breadcrumb.d-flex.flex-wrap
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 首頁
                    li.breadcrumb__item(aria-current='page') 會員登入
    .innerpage
        .container.container--cc
            h1.page__heading--cc.d-flex.align-items-center
                span.mr-2.mr-xl-4 會員登入
                span.en MEMBER LOGIN
        .page__upper
            .container.container--cc
                .page__upper__wrap.d-block.d-lg-flex.justify-content-between.align-items-center.px-3
                    .upper__description
                        p 登入會員拿更多好禮!!
                        p 累積點數折現金 / 會員專屬優惠卷 / 修改個人帳戶及更多功能。
                    .d-flex.d-lg-block.align-items-center.text-lg-center.mt-4.mt-lg-0
                        .text-tealish.ml-0.ml-lg-4 還不是會員嗎？!
                        a(href="register01.html").btn.form__btn__base.ml-3.ml-lg-4.mt-1.mt-lg-0 註冊會員

        .container.container--cc
            .login__wrap.d-block.d-sm-flex.flex-wrap
                .login__item__wrap.login__form__wrap
                    .login__form.basic__form
                        .form__row
                            .form__item.d-block.d-lg-flex.align-items-center.w-100
                                label.form__label.text-left.text-lg-right.mb-2.mb-lg-0.pl-2.pl-lg-0 帳號
                                .form__control__item
                                    input.form__input(type="text", placeholder="請輸入帳號")
                        .form__row
                            .form__item.d-block.d-lg-flex.align-items-center.w-100.has--error
                                label.form__label.text-left.text-lg-right.mb-2.mb-lg-0.pl-2.pl-lg-0 密碼
                                .form__control__item
                                    input.form__input(type="password", placeholder="請輸入密碼")
                        .form__row.mb-0
                            .form__btn__item.form__item.d-block.d-lg-flex.align-items-center
                                label.d-none.d-lg-block.form__label.text-left.text-lg-right.mb-2.mb-lg-0.pl-2.pl-lg-0
                                .form__btn__wrap
                                    .d-flex.justify-content-between
                                        label.form__item__control.form__item__checkbox 保持登入
                                            input(type='checkbox')
                                            span.checkmark
                                        a(href="forget.html").link
                                            span 忘記密碼
                                    #js__form__submit.btn.form__btn__base.w-100 登入 LOGIN
                                    .form__message.py-2
                                        .text-center.text--small.text-second 密碼錯誤
                .login__or.d-flex.align-items-center.justify-content-center
                    .text or
                .login__item__wrap.social__login__wrap.d-flex.flex-column.align-items-start.align-items-md-end.justify-content-center
                    .social__login__item.social__login__fb.d-flex.align-items-center
                        .social__login__icon.pic
                            img(src=basePath+"images/icons/icon-login-fb.svg", alt="")
                        button.btn__social__login.btn__social__login--fb.text-center FB  登入 / 註冊
                    .social__login__item.social__login__fb.d-flex.align-items-center
                        .social__login__icon.pic
                            img(src=basePath+"images/icons/icon-login-line.svg", alt="")
                        button.btn__social__login.btn__social__login--line.text-center LINE 登入 / 註冊