extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/news_detail.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/news_detail.js?v="+datetime_token)
block view
    //- breadcrumb
    .breadcrumb__wrap
        .container
            nav(aria-label='breadcrumb')
                ul.breadcrumb.d-flex.flex-wrap
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 首頁
                    li.breadcrumb__item(aria-current='page') 最新消息
    .innerpage
        .container
            .d-flex.justify-content-between
                .aside__menu__wrap.d-none.d-md-block
                    aside
                        .aside__title.page__heading--cc.d-flex.align-items-center
                            span 最新消息
                        ul.aside__menu
                            - var newsCates = [{"href":"news_list.html","label":"最新消息1"},{"href":"news_list.html","label":"最新消息2"},{"href":"news_list.html","label":"最新消息3"},{"href":"news_list.html","label":"最新消息4"},{"href":"news_list.html","label":"最新消息5"}]
                            each newsCate in newsCates
                                li.aside__menu__item
                                    a(href=newsCate.href).aside__menu__link=newsCate.label
                        
                .innerpage__right
                    h3.page__heading--cc.d-flex.align-items-center
                        span.mr-2.mr-xl-4 最新消息
                        span.en NEWS
                    .detail__wrap
                        .news__detail__content.detail__content.d-block.mx-auto
                            .news__detail__heading__wrap.detail__heading__wrap.d-flex.align-items-center
                                .date.d-flex.flex-column.justify-content-end
                                    .day 0302
                                    .year 2020
                                h1.detail__heading 最新消息標題 最新消息標題 最新消息標題  最多20個字

                            .detail__pic.pic
                                img(src=uploadPath+"news/pic-news-main.jpg", alt=imgAlt).d-block.mx-auto
                            .news__detail__editor.editor__wrap.text-center
                                //- todo
                                //- 編輯器內
                                div(style="width: 784px; margin-right: auto; margin-left: auto; margin-top: 16px")
                                    p(style="font-weight: bold; margin-bottom: 32px;") 最新消息內為假文字——之位亞；同然草這東心，是無的，銀方手已要做型萬。
                                    p(style="color: #333; margin-bottom: 32px;") 法一得不不奇生民已校往度此電元共的風情聲細完間便市牛成持子高岸會意一我規推了國斯切大獎，子飛遊？東不決員灣較除世媽先、形指費還作形我沒；果解用畫命類在華似，組空怎室到愛立如我怎小路上、否小行久，決自。
                                    p(style="font-weight: bold; margin-bottom: 32px;") 化人來高產。
                                    p(style="color: #333; margin-bottom: 32px;") 水院小自。度藝麼，是金操為在不勢談比制作族自球。一眼是定，少個那地！毒已麼嚴叫城越電不費不過消又校果比養其常。許看現和活學還一如近基歷家件東。好市風神。在食論容不指現然出備真故。各不好錢他我人卻門神話何因環於市是輕小這容，生雄的河！上布力身即城連光深校走示，全腳葉們過與著廣縣是時定師成就四經來陸友然的表通論管木話河放是息、都容一認沒？的居便不創的動陸！否氣西一天中？了地路意灣時的明歡……快治來但的智要開長學省國人參人力軍面意在國功好路具名而相他生故兒好正……增國臉據要，直拉無畫歌以不像我詩不創早知更然？是死縣。好對與。
                                    p(style="color: #333; margin-bottom: 32px;") 取加早狀成每命行？立下喜半總隨是形和國用的前程陽麗發是我？
                                img(src=uploadPath+"news/pic-news-example01.jpg", alt=imgAlt, style="margin-top: 32px; margin-bottom: 32px;")
                                p(style="font-weight: bold; margin-top: 32px;") 最新消息內為假文字——之位亞；同然草這東心，是無的，銀方手已要做型萬。



                    .btn__back__wrap.d-flex.justify-content-center.w-100
                        .btn.btn__h__base.btn__back.d-inline-flex.align-items-center.pointer(onclick="window.history.back()")
                            span.icon__arrow__back.mr-2
                            span 返回 BACK