extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/news_list.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/news_list.js?v="+datetime_token)
block view
    //- breadcrumb
    .breadcrumb__wrap
        .container
            nav(aria-label='breadcrumb')
                ul.breadcrumb.d-flex.flex-wrap
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 首頁
                    li.breadcrumb__item(aria-current='page') 最新消息
    .innerpage
        .container
            .d-flex.justify-content-between
                .aside__menu__wrap.d-none.d-md-block
                    aside
                        .aside__title.page__heading--cc.d-flex.align-items-center
                            span 最新消息
                        ul.aside__menu
                            - var newsCates = [{"href":"news_list.html","label":"最新消息1"},{"href":"news_list.html","label":"最新消息2"},{"href":"news_list.html","label":"最新消息3"},{"href":"news_list.html","label":"最新消息4"},{"href":"news_list.html","label":"最新消息5"}]
                            each newsCate in newsCates
                                li.aside__menu__item
                                    a(href=newsCate.href).aside__menu__link=newsCate.label
                        
                .innerpage__right
                    h1.page__heading--cc.d-flex.align-items-center
                        span.mr-2.mr-xl-4 最新消息
                        span.en NEWS
                    .list__wrap
                        .row
                            - var newsItems =[{"year":"2020","date":"0302","title":"最多20個字 太多會變成...最新消息標題 最新消息標題 最新消息標題 最新消息標題 最新消息標題 最新消息標題 最新消息標題 最新消息標題 最新消息標題","img":"news/pic-news-list01.jpg","link":"news_detail.html"},{"year":"2020","date":"0303","title":"最新消息標題 最新消息標題","img":"news/pic-news-list02.jpg","link":"news_detail.html"},{"year":"2020","date":"0302","title":"最新消息標題 最新消息標題 最新消息標題","img":"news/pic-news-list03.jpg","link":"news_detail.html"},{"year":"2020","date":"0302","title":"最多20個字 太多會變成...最新消息標題 最新消息標題 最新消息標題","img":"news/pic-news-list02.jpg","link":"news_detail.html"},{"year":"2020","date":"0302","title":"最多20個字 太多會變成...最新消息標題 最新消息標題 最新消息標題","img":"news/pic-news-list01.jpg","link":"news_detail.html"},{"year":"2020","date":"0302","title":"最多20個字 太多會變成...最新消息標題 最新消息標題 最新消息標題","img":"news/pic-news-list03.jpg","link":"news_detail.html"}]
                            each news_item in newsItems
                                .col-12.col-md-6.mb-3.mb-xl-4
                                    a(href=news_item.link).list__item.item
                                        .pic.d-block
                                            img(class="lazyload" data-src=uploadPath+news_item.img, alt=imgAlt).d-block.w-100
                                        .item__info.d-flex.align-items-center.mt-4
                                            .date.d-flex.flex-column.justify-content-end
                                                .day=news_item.date
                                                .year=news_item.year
                                            .title=news_item.title
                                        
                        
                        //- pagination
                        include ../components/pagination.pug