extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/product.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/product.js?v="+datetime_token)
block view
    //- breadcrumb
    .breadcrumb__wrap
        .container
            nav(aria-label='breadcrumb')
                ul.breadcrumb.d-flex.flex-wrap
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 首頁
                    li.breadcrumb__item(aria-current='page') 最新消息
    .innerpage
        .container.container-cc
            .product__boxes.w-100
                .product__box__row.d-block.d-md-flex.align-items-start.justify-content-between
                    //- todo 圖片建議尺寸: 728 × 420(長的), 420 × 420(方的)
                    //- todo 文字敘述字數不能太多
                    .product__box.product__box__7
                        a(href="product_list.html").product__box__link
                        .pic.product__box__pic
                            img(src=uploadPath+"products/pic-product01.jpg", alt=imgAlt)
                        .product__box__info.d-flex.flex-column.align-items-center.justify-content-center
                            .pre__title
                                span 精緻蛋糕
                                img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                            .product__box__brief.d-flex.flex-column.align-items-center.justify-content-center
                                .title
                                    span 精緻蛋糕
                                    img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                                .content
                                    p 是一種源自於義大利的甜點，是歐洲冰淇淋唯一的分類；以它的多種口味、手工製作跟營養價值聞名。與美式冰淇淋之不同處極多。
                    .product__box.product__box__4
                        a(href="product_list.html").product__box__link
                        .pic.product__box__pic
                            img(src=uploadPath+"products/pic-product02.jpg", alt=imgAlt)
                        .product__box__info.d-flex.flex-column.align-items-center.justify-content-center
                            .pre__title
                                span 活動餐盒
                                img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                            .product__box__brief.d-flex.flex-column.align-items-center.justify-content-center
                                .title
                                    span 活動餐盒
                                    img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                                .content
                                    p 是一種源自於義大利的甜點，是歐洲冰淇淋唯一的分類；以它的多種口味、手工製作跟營養價值聞名。與美式冰淇淋之不同處極多。
                    .product__box.product__box__4
                        a(href="product_list.html").product__box__link
                        .pic.product__box__pic
                            img(src=uploadPath+"products/pic-product03.jpg", alt=imgAlt)
                        .product__box__info.d-flex.flex-column.align-items-center.justify-content-center
                            .pre__title
                                span 義式冰品
                                img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                            .product__box__brief.d-flex.flex-column.align-items-center.justify-content-center
                                .title
                                    span 義式冰品
                                    img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                                .content
                                    p 是一種源自於義大利的甜點，是歐洲冰淇淋唯一的分類；以它的多種口味、手工製作跟營養價值聞名。與美式冰淇淋之不同處極多。
                .product__box__row.d-block.d-md-flex.align-items-start.justify-content-between
                    .product__box.product__box__4
                        a(href="product_list.html").product__box__link
                        .pic.product__box__pic
                            img(src=uploadPath+"products/pic-product04.jpg", alt=imgAlt)
                        .product__box__info.d-flex.flex-column.align-items-center.justify-content-center
                            .pre__title
                                span 外燴茶點
                                img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                            .product__box__brief.d-flex.flex-column.align-items-center.justify-content-center
                                .title
                                    span 外燴茶點
                                    img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                                .content
                                    p 是一種源自於義大利的甜點，是歐洲冰淇淋唯一的分類；以它的多種口味、手工製作跟營養價值聞名。與美式冰淇淋之不同處極多。
                    .product__box.product__box__4
                        a(href="product_list.html").product__box__link
                        .pic.product__box__pic
                            img(src=uploadPath+"products/pic-product05.jpg", alt=imgAlt)
                        .product__box__info.d-flex.flex-column.align-items-center.justify-content-center
                            .pre__title
                                span 咖啡飲品
                                img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                            .product__box__brief.d-flex.flex-column.align-items-center.justify-content-center
                                .title
                                    span 咖啡飲品
                                    img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                                .content
                                    p 是一種源自於義大利的甜點，是歐洲冰淇淋唯一的分類；以它的多種口味、手工製作跟營養價值聞名。與美式冰淇淋之不同處極多。
                    .product__box.product__box__7
                        a(href="product_list.html").product__box__link
                        .pic.product__box__pic
                            img(src=uploadPath+"products/pic-product06.jpg", alt=imgAlt)
                        .product__box__info.d-flex.flex-column.align-items-center.justify-content-center
                            .pre__title
                                span 手作麵包
                                img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                            .product__box__brief.d-flex.flex-column.align-items-center.justify-content-center
                                .title
                                    span 手作麵包
                                    img(src=basePath+"images/icons/icon-arrow-right-white.png", alt=">").icon__arrow
                                .content
                                    p 是一種源自於義大利的甜點，是歐洲冰淇淋唯一的分類；以它的多種口味、手工製作跟營養價值聞名。與美式冰淇淋之不同處極多。
