extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/product_list.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/product_list.js?v="+datetime_token)
block view
    //- breadcrumb
    .breadcrumb__wrap
        .container
            nav(aria-label='breadcrumb')
                ul.breadcrumb.d-flex.flex-wrap
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 首頁
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 線上購物
                    li.breadcrumb__item(aria-current='page') 咖啡禮盒
    .innerpage
        .container
            .d-flex.justify-content-between
                .aside__menu__wrap.d-none.d-md-block
                    aside
                        .aside__title.page__heading--cc.d-flex.align-items-center
                            span 線上購物
                        ul.aside__menu
                            - var productCates = [{"href":"product_list02.html","label":"咖啡豆"},{"href":"product_list02.html","label":"咖啡禮盒"},{"href":"product_list02.html","label":"精緻蛋糕"},{"href":"product_list02.html","label":"義式冰品"},{"href":"product_list02.html","label":"客製西點"}]
                            each productCate in productCates
                                li.aside__menu__item
                                    a(href=productCate.href).aside__menu__link=productCate.label
                        
                .innerpage__right
                    h1.page__heading--cc.d-flex.align-items-center
                        span.mr-2.mr-xl-4 商品介紹  
                        span.en PRODUCT
                    .product__option__bar.d-flex.align-items-center.justify-content-center.justify-content-ssm-end.w-100
                        .option.option--limited.d-flex.align-items-center
                            img(src=basePath+"images/icons/icon-limit.svg", alt="")
                            span.txt.pl-2 門市限定
                        .option.option--iceable.d-flex.align-items-center
                            img(src=basePath+"images/icons/icon-iceable.svg", alt="")
                            span.txt.pl-2 可作冷飲
                        .option.option--hottable.d-flex.align-items-center
                            img(src=basePath+"images/icons/icon-hottable.svg", alt="")
                            span.txt.pl-2 可作熱飲
                    .product__list01__wrap.product__list__wrap
                        .row
                            - var productItems = [{"imgurl":"products/pic-product-list01.jpg","title":"超級重烘焙拿鐵","spec":[{"size":"M","price":120},{"size":"L","price":170}],"option":[{"title":"可作冷飲","icon":"iceable"},{"title":"可作熱飲","icon":"hottable"},{"title":"門市限定","icon":"is-limit"}]},{"imgurl":"products/pic-product-list01.jpg","title":"敲好喝拿鐵","spec":[{"size":"M","price":88},{"size":"L","price":99}],"option":[{"title":"可作熱飲","icon":"hottable"},{"title":"門市限定","icon":"is-limit"}]},{"imgurl":"products/pic-product-list01.jpg","title":"拿鐵","spec":[{"size":"M","price":55},{"size":"L","price":75}],"option":[{"title":"可作熱飲","icon":"hottable"},{"title":"門市限定","icon":"is-limit"}]},{"imgurl":"products/pic-product-list01.jpg","title":"拿鐵","spec":[{"size":"M","price":55},{"size":"L","price":75}],"option":[{"title":"可作冷飲","icon":"iceable"},{"title":"可作熱飲","icon":"hottable"}]},{"imgurl":"products/pic-product-list01.jpg","title":"拿鐵","spec":[{"size":"M","price":55},{"size":"L","price":75}],"option":[{"title":"可作冷飲","icon":"iceable"},{"title":"可作熱飲","icon":"hottable"}]},{"imgurl":"products/pic-product-list01.jpg","title":"拿鐵","spec":[{"size":"M","price":55},{"size":"L","price":75}],"option":[{"title":"可作冷飲","icon":"iceable"},{"title":"可作熱飲","icon":"hottable"}]},{"imgurl":"products/pic-product-list01.jpg","title":"拿鐵","spec":[{"size":"M","price":55},{"size":"L","price":75}],"option":[{"title":"可作冷飲","icon":"iceable"},{"title":"可作熱飲","icon":"hottable"}]},{"imgurl":"products/pic-product-list01.jpg","title":"拿鐵","spec":[{"size":"M","price":55},{"size":"L","price":75}],"option":[{"title":"可作冷飲","icon":"iceable"},{"title":"可作熱飲","icon":"hottable"}]},{"imgurl":"products/pic-product-list01.jpg","title":"拿鐵","spec":[{"size":"M","price":55},{"size":"L","price":75}],"option":[{"title":"可作冷飲","icon":"iceable"},{"title":"可作熱飲","icon":"hottable"}]}]
                            each product_item in productItems
                                .col-12.col-md-6.col-lg-4
                                    .product__list__item.item.detail__boxes__wrap
                                        .pic.d-block
                                            img(class="lazyload" data-src=uploadPath+product_item.imgurl, alt=imgAlt).d-block.mx-auto
                                        if product_item.option
                                            .item__options.d-flex.align-items-center.justify-content-center.mt-3
                                                each option in product_item.option
                                                    .item__options__item(class=option.icon)
                                        .item__info.text-center
                                            .product__title.px-1.px-xl-3=product_item.title
                                            .spec.pt-2.pt-md-3
                                                each specItem in product_item.spec
                                                    .spec__item.d-flex.align-item-end.justify-content-between.mx-auto.px-3
                                                        .spec__name=specItem.size
                                                        .price="NT$"+specItem.price
                                        .btn__box.d-flex.align-items-center.justify-content-center
                                            .btn.btn__base 詳細資訊
                                        .detail__boxes
                                            .detail__box
                                                .subtitle 產品介紹
                                                .context
                                                    p RE,GJ ELRG N;.LWE3G
                                                    p .L,3WRKGB.KVNE.;FL
                                                    p ;NK’RTBTRETB
                                                    p ERTBVKN3RWVGT
                                            .detail__box
                                                .subtitle 產品成分
                                                .context
                                                    p RE,GJ ELRG N;.LWE3G
                                                    p .L,3WRKGB.KVNE.;FL
                                                    p ;NK’RTBTRETB
                                                    p ERTBVKN3RWVGT
                                        .js__btn__close.btn__box__close.pointer
                                            img(src=basePath+"images/icons/icon-close.png", alt="x")

                        #js__close__all__box.bg__product__box
                        
                        //- pagination
                        include ../components/pagination.pug