extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/product_list02.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/product_list02.js?v="+datetime_token)
block view
    //- breadcrumb
    .breadcrumb__wrap
        .container
            nav(aria-label='breadcrumb')
                ul.breadcrumb.d-flex.flex-wrap
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 首頁
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 線上購物
                    li.breadcrumb__item(aria-current='page') 咖啡禮盒
    .innerpage
        .container
            .d-flex.justify-content-between
                .aside__menu__wrap.d-none.d-md-block
                    aside
                        .aside__title.page__heading--cc.d-flex.align-items-center
                            span 線上購物
                        ul.aside__menu
                            - var productCates = [{"href":"product_list02.html","label":"咖啡豆"},{"href":"product_list02.html","label":"咖啡禮盒"},{"href":"product_list02.html","label":"精緻蛋糕"},{"href":"product_list02.html","label":"義式冰品"},{"href":"product_list02.html","label":"客製西點"}]
                            each productCate in productCates
                                li.aside__menu__item
                                    a(href=productCate.href).aside__menu__link=productCate.label
                        
                .innerpage__right
                    h1.page__heading--cc.d-flex.align-items-center
                        span.mr-2.mr-xl-4 商品介紹  
                        span.en PRODUCT
                    .product__list__wrap
                        .row
                            //- todo 建議尺寸： 相同尺寸
                            - var productItems = [{"imgurl":"products/pic-product-list02.jpg","title":"咖啡咖啡咖啡雙響","price":220,"link":"product_detail.html"},{"imgurl":"products/pic-product-list02.jpg","title":"咖啡雙響套組","price":2200,"link":"product_detail.html"},{"imgurl":"products/pic-product-list02.jpg","title":"咖啡雙響套組","price":2200,"link":"product_detail.html"},{"imgurl":"products/pic-product-list02.jpg","title":"咖啡雙響套組","price":2200,"link":"product_detail.html"},{"imgurl":"products/pic-product-list02.jpg","title":"咖啡雙響套組","price":2200,"link":"product_detail.html"},{"imgurl":"products/pic-product-list02.jpg","title":"咖啡雙響套組","price":2200,"link":"product_detail.html"},{"imgurl":"products/pic-product-list02.jpg","title":"咖啡雙響套組","price":2200,"link":"product_detail.html"},{"imgurl":"products/pic-product-list02.jpg","title":"咖啡雙響套組","price":2200,"link":"product_detail.html"},{"imgurl":"products/pic-product-list02.jpg","title":"咖啡雙響套組","price":2200,"link":"product_detail.html"}]
                            each product_item in productItems
                                .col-12.col-md-6.col-lg-4
                                    .product__list__item.item
                                        .pic.d-block
                                            img(class="lazyload" data-src=uploadPath+product_item.imgurl, alt=imgAlt).d-block.mx-auto
                                        .item__info.text-center
                                            .product__title.px-1.px-xl-3=product_item.title
                                            .price="NT$"+product_item.price
                                        .btn__box.d-flex.align-items-center.justify-content-center
                                            .btn.btn__base.mr-2.mr-ssm-3 加入購物車
                                            a(href="product_detail.html").btn.btn__gray 詳細資訊

                        //- pagination
                        include ../components/pagination.pug