extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/qa.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/qa.js?v="+datetime_token)
block view
    //- breadcrumb
    .breadcrumb__wrap
        .container
            nav(aria-label='breadcrumb')
                ul.breadcrumb.d-flex.flex-wrap
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 首頁
                    li.breadcrumb__item(aria-current='page') 常見問題
    .innerpage
        .container
            .d-block.d-md-flex.justify-content-between
                .aside__menu__wrap.d-block
                    aside
                        .js__aside__trigger.aside__title.page__heading--cc.d-flex.align-items-center
                            span 常見問題
                        ul.aside__menu
                            - var qaCates = [{"href":"qa.html","label":"購物相關"},{"href":"qa.html","label":"會員問題"},{"href":"qa.html","label":"如何集點"},{"href":"qa.html","label":"運送相關"},{"href":"qa.html","label":"其他問題"}]
                            each qaCate in qaCates
                                li.aside__menu__item
                                    a(href=qaCate.href).aside__menu__link=qaCate.label
                        
                .innerpage__right
                    h1.page__heading--cc.d-flex.align-items-center
                        span.mr-2.mr-xl-4 常見問題  
                        span.en Q & A
                    .accordion__list.qa__list
                        - var qaItems = [{"label":"常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題","content":"<p>常見問題 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文</p>"},{"label":"長長的標題常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題 常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題 常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題 ","content":"<p>常見問題 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文</p><p>常見問題 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文</p>"},{"label":"常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題","content":"<p>常見問題 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文</p>"},{"label":"常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題","content":"<p>常見問題 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文</p>"},{"label":"常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題","content":"<p>常見問題 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文</p>"},{"label":"常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題","content":"<p>常見問題 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文</p>"},{"label":"常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題","content":"<p>常見問題 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文</p>"},{"label":"常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題","content":"<p>常見問題 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文</p>"},{"label":"常見問題 常見問題標題 常見問題標題 常見問題標題  常見問題標題  常見問題標題","content":"<p>常見問題 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文 常見問題內文</p>"}]
                        each qa_item in qaItems
                            .accordion__item.qa__item
                                .js__accordion__trigger.accordion__item__label.qa__question.animation
                                    .txt=qa_item.label
                                .accordion__item__content.qa__answer
                                    //- 編輯器
                                    .editor__wrap.qa__answer__editor!=qa_item.content

                    //- pagination
                    include ../components/pagination.pug