extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/register03.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/register03.js?v="+datetime_token)
block view
    .member__zone
        //- breadcrumb
        .breadcrumb__wrap
            .container
                nav(aria-label='breadcrumb')
                    ul.breadcrumb.d-flex.flex-wrap
                        li.breadcrumb__item
                            a(href='./index.html').breadcrumb__link
                                span 首頁
                        li.breadcrumb__item(aria-current='page') 註冊會員
        .innerpage
            .container.container--cc
                .innerpage__middle
                    h1.page__heading--cc.d-flex.align-items-center
                        span.mr-2.mr-xl-4 註冊會員  
                        span.en REGISTER
                    .register__wrap
                        .register__steps__wrap
                            .container
                                .row
                                    .col.step__item.active
                                        .step__label.py-3 STEP1
                                        .step__title.py-3 手機驗證
                                        .step__line
                                    .col.step__item.active
                                        .step__label.py-3 STEP2
                                        .step__title.py-3 基本資料
                                        .step__line
                                    .col.step__item.current
                                        .step__label.py-3 FINISH
                                        .step__title.py-3 完成了
                                        .step__line
                        .register__finish__wrap.d-flex.justify-content-center
                            #js__register__finish__pic.register__finish__pic
                                .register__finish__text.overflow-hidden
                                    span 恭喜你！ 註冊完成
                                img(src=basePath+"images/register/pic-register-finish.svg", alt="")
