extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/register02.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/register02.js?v="+datetime_token)
block view
    .member__zone
        //- breadcrumb
        .breadcrumb__wrap
            .container
                nav(aria-label='breadcrumb')
                    ul.breadcrumb.d-flex.flex-wrap
                        li.breadcrumb__item
                            a(href='./index.html').breadcrumb__link
                                span 首頁
                        li.breadcrumb__item(aria-current='page') 註冊會員
        .innerpage
            .container.container--cc
                .innerpage__middle
                    h1.page__heading--cc.d-flex.align-items-center
                        span.mr-2.mr-xl-4 註冊會員  
                        span.en REGISTER
                    .register__wrap
                        .register__steps__wrap
                            .container
                                .row
                                    .col.step__item.active
                                        .step__label.py-3 STEP1
                                        .step__title.py-3 手機驗證
                                        .step__line
                                    .col.step__item.current
                                        .step__label.py-3 STEP2
                                        .step__title.py-3 基本資料
                                        .step__line
                                    .col.step__item
                                        .step__label.py-3 FINISH
                                        .step__title.py-3 完成了
                                        .step__line
                        .registor__form__wrap
                            .basic__form.register__form.register__data__form
                                .form__row
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100
                                        label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 姓名
                                        .form__control__item
                                            input.form__input(type="text", placeholder="請輸入姓名")
                                .form__row
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100
                                        label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 出生日期
                                        .basic__select__wrap
                                            .row.no-gutters
                                                .col
                                                    .basic__select.mr-2
                                                        select
                                                            option(value='0') 年
                                                            option(value='1') 2022
                                                            option(value='2') 2011
                                                            option(value='3') 2022
                                                            option(value='4') 4202
                                                .col
                                                    .basic__select.mr-2
                                                        select
                                                            option 月
                                                            -var m = 12;
                                                            - for (var i = 1; i <= m; i++)
                                                                option=i
                                                .col
                                                    .basic__select.mr-2
                                                        select
                                                            option 日
                                                            -var n = 31;
                                                            - for (var j = 1; j <= n; j++)
                                                                option=j
                                            
                                .form__row
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100
                                            label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 性別
                                            .d-flex.align-items-center(v-if="editing.form_data")
                                                label.form__item__control.form__item__radio.mr-3.mb-0
                                                    span 男
                                                    input(type='radio', name='radio_sex', v-model="form_data.sex", value="m")
                                                    span.checkmark
                                                label.form__item__control.form__item__radio.mb-0
                                                    span 女
                                                    input(type='radio', name='radio_sex', v-model="form_data.sex", value="f")
                                                    span.checkmark
                                .form__row
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100
                                        label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 電子信箱
                                        .form__control__item
                                            input.form__input(type="email", placeholder="請輸入電子信箱")
                                .form__row
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100
                                        label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 通訊地址
                                        .form__control__item
                                            input.form__input(type="text", placeholder="請輸入通訊地址")
                                .form__row
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100
                                        label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 密碼
                                        .form__control__item
                                            input.form__input(type="password", placeholder="請輸入密碼")
                                .form__row.mb-0
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100.has--error
                                        label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 密碼確認
                                        .form__control__item
                                            input.form__input(type="password", placeholder="請輸入密碼")
                                .form__row
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100.has--error
                                        label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0.d-none.d-lg-block
                                        .form__message
                                            .text--small.text-second ※ 請注意「姓名」、「性別」、「出生日期」等欄位，註冊完成後均無法修改請謹慎填寫
                                .form__row.mb-0
                                    .form__btn__item.form__item.d-block.d-lg-flex.align-items-center
                                        label.d-none.d-lg-block.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0
                                        .form__btn__wrap
                                            .d-flex.justify-content-between
                                                label.form__item__control.form__item__checkbox
                                                    .text
                                                        span 我同意
                                                        a(href="#", target="_blank").text-third 服務條款
                                                        | 及
                                                        a(href="#", target="_blank").text-third 隱私權政策
                                                    input(type='checkbox')
                                                    span.checkmark
                                            a(href="register03.html")#js__form__submit.btn.form__btn__base.w-100 下一步
                                            .form__message.py-2
                                                .text-center.text--small.text-second 密碼錯誤