extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/register01.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/register01.js?v="+datetime_token)
block view
    .member__zone
        //- breadcrumb
        .breadcrumb__wrap
            .container
                nav(aria-label='breadcrumb')
                    ul.breadcrumb.d-flex.flex-wrap
                        li.breadcrumb__item
                            a(href='./index.html').breadcrumb__link
                                span 首頁
                        li.breadcrumb__item(aria-current='page') 註冊會員
        .innerpage
            .container.container--cc
                .innerpage__middle
                    h1.page__heading--cc.d-flex.align-items-center
                        span.mr-2.mr-xl-4 註冊會員  
                        span.en REGISTER
                    .register__wrap
                        .register__steps__wrap
                            .container
                                .row
                                    .col.step__item.current
                                        .step__label.py-3 STEP1
                                        .step__title.py-3 手機驗證
                                        .step__line
                                    .col.step__item
                                        .step__label.py-3 STEP2
                                        .step__title.py-3 基本資料
                                        .step__line
                                    .col.step__item
                                        .step__label.py-3 FINISH
                                        .step__title.py-3 完成了
                                        .step__line
                        .registor__form__wrap
                            .basic__form.register__form.register__mobile__form
                                .form__row.mb-0
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100
                                        label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 手機號碼
                                        .form__control__item.form__mr
                                            input.form__input(type="text", placeholder="請輸入手機號碼")
                                        button#js__send__pw.btn.form__btn__base.form__mr.mt-3.mt-lg-0 發送驗證碼
                                .form__row
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100
                                        label.form__label.text-left.mb-0.pl-lg-0.d-none.d-lg-block
                                        .form__message 系統將於1分鐘內寄送簡訊密碼，請輸入您的手機驗證碼。
                            //- p#js__waiting__message.waiting__message(style="display: none;")
                            //-     span 請稍等
                            //-     span#js__countdown__second.px-2 60
                            //-     span 秒
                            .basic__form.register__form#js__forget__login__form.register__mobile__form
                                .form__row
                                    .form__item.d-block.d-lg-flex.align-items-center.w-100
                                        label.form__label.text-left.mb-2.mb-lg-0.pl-2.pl-lg-0 驗證碼
                                        .form__control__item.form__mr.meg--inside.has--error
                                            input.form__input(type="text", placeholder="請輸入驗證碼")
                                            .form__message--inside
                                                span 驗證碼錯誤
                                        a(href="register02.html").btn.form__btn__base.form__mr.mt-3.mt-lg-0 送出，前往下一步
                            