extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/store.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/store.js?v="+datetime_token)
block view
    //- breadcrumb
    .breadcrumb__wrap
        .container
            nav(aria-label='breadcrumb')
                ul.breadcrumb.d-flex.flex-wrap
                    li.breadcrumb__item
                        a(href='./index.html').breadcrumb__link
                            span 首頁
                    li.breadcrumb__item(aria-current='page') 門市據點
    .innerpage
        .container.container--cc
            h1.page__heading--cc.d-flex.align-items-center
                span.mr-2.mr-xl-4 門市資訊
                span.en STORE INFO
        .page__upper
            .container.container--cc
                .page__upper__wrap.d-block.d-lg-flex.justify-content-between.align-items-center
                    .store__filters.px-3.d-flex.flex-wrap
                        .store__filter__list.store__address__filter
                            .filter__subtitle 依門市地址
                            #app__selector.form__row.pl-1.pl-ssm-2.pl-lg-0
                                .form__item.form__select__item.mr-3(v-cloak)
                                    //- County
                                    .select-custom
                                        .select-styled(:class="citySelect?'active':''", @click="citySelect=!citySelect, areaSelect=false") {{cityId}}
                                        ul.select-options(:class="citySelect?'d-block':'d-none'")
                                            li(v-for="city in cities", @click="choose('city', city)") {{city.name}}
                                .form__item.form__select__item.mr-3(v-cloak)
                                    //- area
                                    .select-custom
                                        .select-styled(:class="areaSelect?'active':''", @click="areaSelect=!areaSelect, citySelect=false") {{areaId}}
                                        ul.select-options(:class="areaSelect?'d-block':'d-none'")
                                            li(v-for="area in areas", @click="choose('area', area)") {{area.name}}
                        .store__filter__list.store__type__filter.mt-2.mt-ssm-3.mt-lg-0
                            .filter__subtitle 選擇門市型態
                            .form__item__wrap.form__item__checkbox__wrap.d-flex.flex-wrap.align-items-start.pl-1.pl-ssm-2.pl-lg-0
                                label.form__item__control.form__item__checkbox 免費WIFI
                                    input(type='checkbox')
                                    span.checkmark
                                label.form__item__control.form__item__checkbox 會議型空間租借
                                    input(type='checkbox')
                                    span.checkmark
                                label.form__item__control.form__item__checkbox 座位30席以上
                                    input(type='checkbox')
                                    span.checkmark

                    .btn.form__btn__base.ml-3.ml-lg-4.mt-4.mt-lg-0 搜尋

        .store__list__wrap
            .container.container--cc
                .row
                    - var storeItems =[{"img":"store/pic-store-list01.jpg","name":"建工門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"台中門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"台北門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"},{"img":"store/pic-store-list01.jpg","name":"台北門市","address":"高雄市三民區建工路406號","map":"https://goo.gl/maps/VhXxREyMzny2sMw47","opening":"08:00 - 22:00","phone":"07-389-7998"}]
                    each store_item in storeItems
                        .col-12.col-sm-6.mb-3.mb-xl-4
                            .store__item.item
                                .pic.d-block
                                    img(class="lazyload" data-src=uploadPath+store_item.img, alt=imgAlt).d-block.w-100
                                .store__info.text-center
                                    .store__address.d-flex.align-items-center.justify-content-center
                                        .title=store_item.name
                                        a(href=store_item.map, target="_blank").address=store_item.address
                                    .store__opening=store_item.opening
                                    a(href="tel:"+store_item.phone).store__phone.btn.btn__base.mt-3=store_item.phone
            
            //- pagination
            include ../components/pagination.pug