extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/user01.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/user01.js?v="+datetime_token)
block view
    .member__zone
        .breadcrumb__wrap
            .container
                nav(aria-label='breadcrumb')
                    ul.breadcrumb.d-flex.flex-wrap
                        li.breadcrumb__item
                            a(href='./index.html').breadcrumb__link
                                span 首頁
                        li.breadcrumb__item
                            a(href='./user01.html').breadcrumb__link
                                span 會員專區
                        li.breadcrumb__item(aria-current='page') 會員優惠
        .innerpage
            .container
                .d-block.d-md-flex.justify-content-between
                    .aside__member__wrap.d-block
                        .js__aside__trigger.aside__title.page__heading--cc.d-flex.align-items-center.d-md-none
                            span 會員選單
                        aside.member__aside
                            .aside__member__info__wrap
                                .aside__member__data.d-flex.align-items-center.justify-content-center.justify-content-md-start
                                    .member__level__pic.d-flex.align-items-center.justify-content-center.pic
                                        //- 一般會員無圖
                                        img(src=basePath+"images/icons/icon-member-level03.png", alt=imgAlt)
                                    .member__data__context.text-left
                                        .member__level__text
                                            spna.level.level--level03 鑽石
                                            spna.txt 。會員
                                        .aside__member__name Jungle Hung
                                .member__bonus__wrap
                                    .title
                                        span 會員點數
                                    .bonus__value 3350680
                                    .expire__date
                                        span.txt (點數到期日：109/12/31)
                                .membercard.pic
                                    img(src=basePath+"images/member/pic-card01.png", alt=imgAlt)

                            //- member aside menu
                            ul.aside__member__menu
                                - var memberMenus = [{"href":"user01.html","label":"會員資料"},{"href":"user03.html","label":"訂單資訊"},{"href":"user03.html","label":"會員優惠"},{"href":"user03.html","label":"點數查詢"}]
                                each memberMenu in memberMenus
                                    li.aside__member__menu__item
                                        a(href=memberMenu.href).aside__member__menu__link=memberMenu.label
                            .btn__aside__logout.pointer.d-none.d-md-flex.align-items-center.justify-content-center
                                svg(width='26', height='24').mr-2
                                    path(d='M17.922,18.375V20.25A3.754,3.754,0,0,1,14.172,24H4.75A3.754,3.754,0,0,1,1,20.25V3.75A3.754,3.754,0,0,1,4.75,0h9.422a3.754,3.754,0,0,1,3.75,3.75V5.625a.938.938,0,0,1-1.875,0V3.75a1.877,1.877,0,0,0-1.875-1.875H4.75A1.877,1.877,0,0,0,2.875,3.75v16.5A1.877,1.877,0,0,0,4.75,22.125h9.422a1.877,1.877,0,0,0,1.875-1.875V18.375a.938.938,0,0,1,1.875,0Zm6.392-7.985-2.1-2.1a.937.937,0,0,0-1.326,1.326l1.493,1.493H11.125a.938.938,0,0,0,0,1.875H22.382l-1.493,1.493A.937.937,0,1,0,22.214,15.8l2.1-2.1A2.346,2.346,0,0,0,24.314,10.39Z')
                                .txt 登出
                            
                    .innerpage__right
                        h3.page__heading--cc.d-flex.align-items-center
                            span.mr-2.mr-xl-4 會員優惠
                            span.en MEMBER DISCOUNT 
                        .member__upper__hint.d-flex.justify-content-start.justify-content-ssm-end.w-100
                            p.mb-0 ＊當年度11-12月消費金額可累計至明年＊
                        //- member progress
                        -var progressPercentage = 48 //進度百分比, 純數字
                        .mp__bar__container
                            .mp__bar__wrap
                                .mp__bar.w-100
                                    .mp__bar__bg
                                        .icon__amount__now(style="left: "+progressPercentage+"%;") 消費
                                            br
                                            | 金額
                                        .mp__current__bar(style="width: "+progressPercentage+"%;")
                                .mp__items.d-flex.align-items-start.w-100.justify-content-between
                                    .mp__item.d-flex.justify-content-center
                                        .mp__item__content
                                            .title
                                                span.text.d-block.mt-4.mt-ssm-0 一般會員
                                        .mp__dot
                                    //- todo, 達到的進度加上 .current
                                    .mp__item.d-flex.justify-content-center.current
                                        .mp__item__content
                                            .title
                                                img(src=basePath+"images/icons/icon-member-level01.png", alt="").icon__level--origin
                                                span.text 白銀VIP
                                            .hint 消費滿3000
                                        .mp__dot
                                        .mp__light.d-flex.align-items-center.justify-content-center(style="border-color: #e1e1e1; box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.85)")
                                            img(src=basePath+"images/icons/icon-member-level01-light.png", alt="")
                                    .mp__item.d-flex.justify-content-centerr
                                        .mp__item__content
                                            .title
                                                img(src=basePath+"images/icons/icon-member-level02.png", alt="").icon__level--origin
                                                span.text 黃金VIP
                                            .hint 消費滿8000
                                        .mp__dot
                                        .mp__light.d-flex.align-items-center.justify-content-center(style="border-color: #ffad70; box-shadow: 0 0 10px 0 rgba(255, 243, 221, 0.85);")
                                            img(src=basePath+"images/icons/icon-member-level02-light.png", alt="")
                                    .mp__item.d-flex.justify-content-centerr
                                        .mp__item__content
                                            .title
                                                img(src=basePath+"images/icons/icon-member-level03.png", alt="").icon__level--origin
                                                span.text 鑽石VIP
                                            .hint 消費滿15000
                                        .mp__dot
                                        .mp__light.d-flex.align-items-center.justify-content-center(style="border-color: #24bcad; box-shadow: 0 0 10px 0 rgba(191, 255, 249, 0.8);")
                                            img(src=basePath+"images/icons/icon-member-level03-light.png", alt="")

                        .member__main__wrap
                            .member__card.card
                                .card__header.d-flex.align-items-center.justify-content-between
                                    .card__member__heading 會員優惠說明
                                .card__body
                                    .member__discount__infomation
                                        .member__discount__item
                                            img(src=uploadPath+"icon-gift.png", alt="").item__icon
                                            .card__member__heading.mb-3 大衛入會禮
                                            .member__discount__content
                                                .editor__wrap
                                                    p 贈送
                                                        span(style="color: #e85e53") 666
                                                        | 點
                                        .member__discount__item
                                            img(src=uploadPath+"icon-member-diamond.png", alt="").item__icon
                                            .card__member__heading.mb-3 VIP階級
                                            .member__discount__content
                                                .editor__wrap
                                                    p
                                                        img(src=uploadPath+"icon-member-level01.png", alt="", style="width: 30px; margin-right: 6px;")
                                                        span 白銀VIP:消費滿3000元，送3張咖啡
                                                            span(style="color: #e85e53") 全品項
                                                            | 兌換券
                                                    p
                                                        img(src=uploadPath+"icon-member-level02.png", alt="", style="width: 30px; margin-right: 6px;")
                                                        span 黃金VIP:消費滿8000元，送3張咖啡
                                                            span(style="color: #e85e53") 全品項
                                                                | 兌換券 & 3張
                                                            span(style="color: #e85e53") 全品項95折
                                                            | 優惠券
                                                    p
                                                        img(src=uploadPath+"icon-member-level03.png", alt="", style="width: 30px; margin-right: 6px;")
                                                        span 鑽石VIP:消費滿15000元，送10杯咖啡
                                                            span(style="color: #e85e53") 全品項
                                                                | 兌換券 & 5張
                                                            span(style="color: #e85e53") 全品項9折
                                                            | 優惠券
                                                    .card__member__heading.mb-3(style="margin-top: 32px;") 使用說明
                                                    ol(style="padding-left: 1.75em;")
                                                        li(style="margin-bottom: 1em;") 消費達到該階級，立即發放兌換(優惠)券，次日即可使用
                                                        li(style="margin-bottom: 1em;") 每張券使用期限為發放日開始計算3個月
                                                        li(style="margin-bottom: 1em;") 優惠不得與其他優惠合併使用
                                        .member__discount__item
                                            img(src=uploadPath+"icon-birth-cake.png", alt="").item__icon
                                            .card__member__heading.mb-3 大衛生日禮
                                            .member__discount__content
                                                .editor__wrap
                                                    p 生日當月1號送1張
                                                        span(style="color: #e85e53") 全品項85折
                                                        | 優惠券，不得寄杯寄蛋糕等,此券不可轉贈
                                        .member__discount__item
                                            img(src=uploadPath+"icon-papers.png", alt="").item__icon
                                            .card__member__heading.mb-3 大衛問卷禮
                                            .member__discount__content
                                                .editor__wrap
                                                    p 贈送
                                                        span(style="color: #e85e53") 200
                                                        | 點
                                        .member__discount__item
                                            img(src=uploadPath+"icon-share.png", alt="").item__icon
                                            .card__member__heading.mb-3 大衛分享禮
                                            .member__discount__content
                                                .editor__wrap
                                                    ol(style="padding-left: 1.75em;")
                                                        li(style="margin-bottom: 1em;") 會員分享折價券給非會員，成功加入會員並消費即可折抵
                                                        li 贈送者獲得
                                                            span(style="color: #e85e53") 250
                                                            | 點