extends ../layout/default.pug
block styles
    link(rel="stylesheet", type="text/css", href=basePath+"css/vendor.css?v="+datetime_token)
    link(rel="stylesheet", type="text/css", href=basePath+"css/user01.css?v="+datetime_token)
block scripts
    script(src=basePath+"js/vendor.js?v="+datetime_token)
    script(src=basePath+"js/global.js?v="+datetime_token)
    script(src=basePath+"js/user01.js?v="+datetime_token)
block view
    .member__zone
        .breadcrumb__wrap
            .container
                nav(aria-label='breadcrumb')
                    ul.breadcrumb.d-flex.flex-wrap
                        li.breadcrumb__item
                            a(href='./index.html').breadcrumb__link
                                span 首頁
                        li.breadcrumb__item
                            a(href='./user01.html').breadcrumb__link
                                span 會員專區
                        li.breadcrumb__item(aria-current='page') 會員資料
        .innerpage
            .container
                .d-block.d-md-flex.justify-content-between
                    .aside__member__wrap.d-block
                        .js__aside__trigger.aside__title.page__heading--cc.d-flex.align-items-center.d-md-none
                            span 會員選單
                        aside.member__aside
                            .aside__member__info__wrap
                                .aside__member__data.d-flex.align-items-center.justify-content-center.justify-content-md-start
                                    .member__level__pic.d-flex.align-items-center.justify-content-center.pic
                                        //- 一般會員無圖
                                        img(src=basePath+"images/icons/icon-member-level03.png", alt=imgAlt)
                                    .member__data__context.text-left
                                        .member__level__text
                                            spna.level.level--level03 鑽石
                                            spna.txt 。會員
                                        .aside__member__name Jungle Hung
                                .member__bonus__wrap
                                    .title
                                        span 會員點數
                                    .bonus__value 3350680
                                    .expire__date
                                        span.txt (點數到期日：109/12/31)
                                .membercard.pic
                                    img(src=basePath+"images/member/pic-card01.png", alt=imgAlt)

                            //- member aside menu
                            ul.aside__member__menu
                                - var memberMenus = [{"href":"user01.html","label":"會員資料"},{"href":"user03.html","label":"訂單資訊"},{"href":"user03.html","label":"會員優惠"},{"href":"user03.html","label":"點數查詢"}]
                                each memberMenu in memberMenus
                                    li.aside__member__menu__item
                                        a(href=memberMenu.href).aside__member__menu__link=memberMenu.label
                            .btn__aside__logout.pointer.d-none.d-md-flex.align-items-center.justify-content-center
                                svg(width='26', height='24').mr-2
                                    path(d='M17.922,18.375V20.25A3.754,3.754,0,0,1,14.172,24H4.75A3.754,3.754,0,0,1,1,20.25V3.75A3.754,3.754,0,0,1,4.75,0h9.422a3.754,3.754,0,0,1,3.75,3.75V5.625a.938.938,0,0,1-1.875,0V3.75a1.877,1.877,0,0,0-1.875-1.875H4.75A1.877,1.877,0,0,0,2.875,3.75v16.5A1.877,1.877,0,0,0,4.75,22.125h9.422a1.877,1.877,0,0,0,1.875-1.875V18.375a.938.938,0,0,1,1.875,0Zm6.392-7.985-2.1-2.1a.937.937,0,0,0-1.326,1.326l1.493,1.493H11.125a.938.938,0,0,0,0,1.875H22.382l-1.493,1.493A.937.937,0,1,0,22.214,15.8l2.1-2.1A2.346,2.346,0,0,0,24.314,10.39Z')
                                .txt 登出
                            
                    .innerpage__right
                        h3.page__heading--cc.d-flex.align-items-center
                            span.mr-2.mr-xl-4 會員資料
                            span.en MEMBER
                        .member__main__wrap
                            #app__member
                                .member__data__list.member__content.d-block.d-md-flex.align-items-center
                                    .member__data__list__item.member__name Jungle Hung
                                    .d-block.d-lg-flex.align-items-center
                                        .member__data__list__item.member__account
                                            span.label 帳號：
                                            span.text aaa@gmail.com
                                        .member__data__list__item.member__phone
                                            span.label 電話：
                                            span.text 0912345612
                                
                                .member__card.card
                                    .card__header.d-flex.align-items-center.justify-content-between
                                        .card__member__heading 基本資料
                                        .card__btns__wrap.pl-2.mr-0.mr-xl-3(v-cloak)
                                            .btn.btn__h__base(v-if="!editing.form_data", @click="editing.form_data=!editing.form_data") 修改
                                            .btn.btn__h__base.mr-2.mr-sm-3(v-if="editing.form_data", @click="editing.form_data=!editing.form_data") 取消
                                            .btn.btn__h__base(v-if="editing.form_data", @click.prevent="userDataSubmit") 確定修改
                                    .card__body(v-cloak)
                                        .form__item__wrap.member__item.member__form__item.d-block.d-ssm-flex.align-items-center.mt-2.mt-ssm-0
                                            label.form__label.member__title 姓名：
                                            .member__text(v-if="!editing.form_data") {{form_data.name}}
                                            .form__item(v-if="editing.form_data")
                                                .form__control__item
                                                    input.form__input(type="text", v-model="form_data.name")
                                        .form__item__wrap.member__item.member__form__item.d-block.d-ssm-flex.align-items-center.mt-2.mt-ssm-0
                                            label.form__label.member__title 性別：
                                            .member__text(v-if="!editing.form_data") {{gender()}}
                                            .d-flex.align-items-center(v-if="editing.form_data")
                                                label.form__item__control.form__item__radio
                                                    span 男
                                                    input(type='radio', name='radio_sex', v-model="form_data.sex", value="m")
                                                    span.checkmark
                                                label.form__item__control.form__item__radio
                                                    span 女
                                                    input(type='radio', name='radio_sex', v-model="form_data.sex", value="f")
                                                    span.checkmark
                                        .form__item__wrap.member__item.member__form__item.d-block.d-ssm-flex.align-items-center.mt-2.mt-ssm-0
                                            label.form__label.member__title 出生日期：
                                            .member__text(v-if="!editing.form_data") {{form_data.birth}}
                                            .form__item(v-if="editing.form_data")
                                                .form__control__item
                                                    input.form__input(type="text", v-model="form_data.birth")
                                        .form__item__wrap.member__item.member__form__item.d-block.d-ssm-flex.align-items-center.mt-2.mt-ssm-0
                                            label.form__label.member__title 電子信箱：
                                            .member__text(v-if="!editing.form_data") {{form_data.email}}
                                            .form__item(v-if="editing.form_data")
                                                .form__control__item
                                                    input.form__input(type="text", v-model="form_data.email")
                                        .form__item__wrap.member__item.member__form__item.d-block.d-ssm-flex.align-items-center.mt-2.mt-ssm-0
                                            label.form__label.member__title 通訊地址：
                                            .member__text(v-if="!editing.form_data") {{form_data.address}}
                                            .form__item.has--error(v-if="editing.form_data")
                                                .form__control__item
                                                    input.form__input(type="text", v-model="form_data.address")
                                        .form__message.py-2(v-if="editing.form_data && form_data.has_error")
                                            .text-left.text--small.text-second 格式有誤
                                .member__card.card
                                    .card__header.d-flex.align-items-center.justify-content-between
                                        div 修改密碼
                                        .card__btns__wrap.pl-2.mr-0.mr-xl-3(v-cloak)
                                            .btn.btn__h__base(v-if="!editing.form_pw", @click="editing.form_pw=!editing.form_pw") 修改
                                            .btn.btn__h__base.mr-2.mr-sm-3(v-if="editing.form_pw", @click="editing.form_pw=!editing.form_pw") 取消
                                            .btn.btn__h__base(v-if="editing.form_pw", @click.prevent="pwSubmit") 確定修改
                                    .card__body(v-cloak, v-if="editing.form_pw")
                                        .form__item__wrap.member__item.member__form__item.member__form__item--medium.d-block.d-ssm-flex.align-items-center
                                            label.form__label.member__title 輸入原密碼：
                                            .form__item.mt-2.mt-ssm-0
                                                .form__control__item
                                                    input.form__input(type="password", v-model="form_pw.origin")
                                        .form__item__wrap.member__item.member__form__item.member__form__item--medium.d-block.d-ssm-flex.align-items-center
                                            label.form__label.member__title 輸入新密碼：
                                            .form__item.mt-2.mt-ssm-0.has--error
                                                .form__control__item
                                                    input.form__input(type="password", v-model="form_pw.new")
                                        .form__item__wrap.member__item.member__form__item.member__form__item--medium.d-block.d-ssm-flex.align-items-center
                                            label.form__label.member__title 再次確認新密碼：
                                            .form__item.mt-2.mt-ssm-0
                                                .form__control__item
                                                    input.form__input(type="password", v-model="form_pw.checknew")
                                        .form__message.py-2(v-if="editing.form_pw && form_pw.has_error")
                                            .text-left.text--small.text-second 格式有誤
