// 專案視覺規畫
@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700&display=swap')
@font-face
	font-family: 'Swiff721BT'
	src: url(~fonts/Swiss721BT-Black.woff) format("woff")
	font-display: swap

//== ColorsGray and brand colors for use across Bootstrap.
$gray-base:              #6b6b6b
$gray-darker:            #1e1e1e
$gray-dark:              #333333
$gray:                   #848484
$gray-light:             #f0f4f7
$gray-lighter:           #f1f5f6
$gray-lightest:           #f5fbff

$base-lighter:           #f1f5f6
$border-gray: #ddd
$text-light-gray: #b6c2c8

$color-cloudy-blue: #aac5d5

// brand
$brand-base: #00283f 
$brand-second: #e85e53
$brand-third: #00aefc
$brand-cta: #00283f
$brand-link: #e85e53

// label
$color-level01: #a8a8a8
$color-level02: #ffad70
$color-level03: #51EDDE
$border-color-level01: #a8a8a8
$border-color-level02: #ffad70
$border-color-level03: #24bcad

$tealish: #1dbfa0
$salmon:  #f7746d
// link hover
$link-hover-color:      $brand-link
$link-hover-decoration: underline !default

$border-radius-base: 1px 

//== Typography
//## Font, line-height, and color for body text, headings, and more.
$font-family-custom: Helvetica, Arial, Noto Sans TC, "Noto Sans TC", 微軟正黑體, "微軟正黑體", Microsoft JhengHei, "Microsoft JhengHei", sans-serif !default
$font-family-heading-custom:   "Swiff721BT", Swiff721BT, Arial, Noto Sans TC, "Noto Sans TC", 微軟正黑體, "微軟正黑體", Microsoft JhengHei, "Microsoft JhengHei", sans-serif !default

$font-size-base:          16px !default
$font-size-large:         18px
$font-size-small:         14px
$font-size-xs:            12px // extra small

// text color
.text-base
	color: $brand-base
.text-second
	color: $brand-second
.text-third
	color: $brand-third
.text-white
	color: white

.text-tealish
	color: $tealish

// background color
.bg-white
	background-color: #fff
