// animations
// ------------------
@mixin doShortBounce($second, $time: 1)
    animation: shortBounce linear $second
    animation-iteration-count: $time
    transform-origin: 50% 50%
    -moz-animation: shortBounce linear $second
    -moz-animation-iteration-count: $time
    -moz-transform-origin: 50% 50%
    -o-animation: shortBounce linear $second
    -o-animation-iteration-count: $time
    -o-transform-origin: 50% 50%
    -ms-animation: shortBounce linear $second
    -ms-animation-iteration-count: $time
    -ms-transform-origin: 50% 50%

@keyframes shortBounce
    0%
        transform: translate(0px,0px)
    17%
        transform: translate(0px,5px)
    41%
        transform: translate(0px,-6px)
    63%
        transform: translate(0px,2px)
    79%
        transform: translate(0px,-1px)
    100%
        transform: translate(0px,0px)

@-moz-keyframes shortBounce
    0%
        -moz-transform: translate(0px,0px)
    17%
        -moz-transform: translate(0px,5px)
    41%
        -moz-transform: translate(0px,-6px)
    63%
        -moz-transform: translate(0px,2px)
    79%
        -moz-transform: translate(0px,-1px)
    100%
        -moz-transform: translate(0px,0px)

@-o-keyframes shortBounce
    0%
        -o-transform: translate(0px,0px)
    17%
        -o-transform: translate(0px,5px)
    41%
        -o-transform: translate(0px,-6px)
    63%
        -o-transform: translate(0px,2px)
    79%
        -o-transform: translate(0px,-1px)
    100%
        -o-transform: translate(0px,0px)

@-ms-keyframes shortBounce
    0%
        -ms-transform: translate(0px,0px)
    17%
        -ms-transform: translate(0px,5px)
    41%
        -ms-transform: translate(0px,-6px)
    63%
        -ms-transform: translate(0px,2px)
    79%
        -ms-transform: translate(0px,-1px)
    100%
        -ms-transform: translate(0px,0px)

.doLightLoading
    animation: lightLoading linear .75s
    animation-iteration-count: infinite
    transform-origin: 50% 50%
@keyframes lightLoading
    0%
        opacity: 1
    49%
        opacity: .35
    100%
        opacity: 1

@-ms-keyframes lightLoading
    0%
        opacity: 1
    49%
        opacity: .35
    100%
        opacity: 1
