
//
// bnslider__wrap wrap
// ------------------
.bnslider__wrap
    position: relative
    .owl-item
        img
            transform: scale(1)
            transition: all 6.5s ease
        &.active
            img
                transform: scale(1.035)
                transition: all 6.5s ease
    .owl-dots
        position: absolute
        width: 100%
        left: 0
        bottom: 20px
        line-height: 16px
        +media-breakpoint-down(sm)
            bottom: 13px
        .owl-dot
            span
                opacity: .5
                background: white
                margin: 0 7px
                +media-breakpoint-down(sm)
                    width: 5px
                    height: 5px
                    margin-bottom: 0 4px
            &.active, &:hover
                span
                    opacity: 1
                    background: white