//
// buttons
// ------------------
.btn
    display: inline-block
    border-radius: 15px
    padding: 8px 32px
    cursor: pointer
    text-align: center
.btn__base
    background-color: $brand-base
    color: white
    border: 1px solid $brand-base
    font-size: 16px
    letter-spacing: 1.6px
    padding: 8px 32px
    &:hover, &:focus
        background-color: white
        color: $brand-base
        @extend .animation
.btn__h__base
    background-color: transparent
    color: $brand-base
    border: 1px solid $brand-base
    font-size: 16px
    border-radius: 12px
    letter-spacing: 1.6px
    padding: 7px 32px
    +media-breakpoint-down(sm)
        padding: 5px 24px
    +media-breakpoint-down(xs)
        padding: 4px 16px 2px 16px
        font-size: 14px
        border-radius: 8px
    +media-breakpoint-down(xxs)
        padding: 3px 8px 2px
        font-size: 13px

    &:hover, &:focus
        background-color: $brand-base
        color: white
        @extend .animation
.btn__gray
    background-color: $gray
    color: white
    border: 1px solid $gray
    font-size: 16px
    border-radius: 12px
    letter-spacing: 1.6px
    padding: 7px 32px
    &:hover, &:focus
        background-color: transparent
        color: $brand-base
        border-color: $brand-base
        @extend .animation


//
// icons
// ------------------
// back button, back-button

.icon__arrow__back
    display: block
    +size(19px, 11px)
    background: url(~images/icons/icon-arrow-back.svg) top left no-repeat
.btn__back
    &:hover
        .icon__arrow__back
            background-position: bottom left