//
// dropdown
// ------------------
.dropdown
    position: relative
.dropdown-menu
    position: absolute
    top: 100%
    z-index: -999
    transform: translateY(50px)
    opacity: 0
    +media-breakpoint-up(lg)
        max-width: 360px
    &.show
        display: block
        z-index: 12
        opacity: 1
        transform: translateY(0)
        transition: transform .25s ease , opacity .45s ease .06s
    &:not(.right)
        left: 0
    &.right
        right: 0
// mheader
.mainmenu__list__wrap
    .dropdown-menu
        .dropdown-menu:not(.right)
            top: 0
            left: 100% !important
            right: auto
        .dropdown-menu.right
            top: 0
            right: 100% !important
            left: auto