//
// form input/textarea/select/label
// ------------------

// initial default style
// ------------------
input, textarea, label, select
    text-shadow: none
    background-color: transparent
    background: transparent
    border-radius: 0
    -webkit-appearance: none
    appearance: none
    outline: none
    box-shadow: none
    border: 0
    margin-bottom: 0

.basic__select
    position: relative
    &:after
        content: ""
        width: 10px
        height: 5px
        position: absolute
        top: 16px
        right: 16px
        background: url(~images/icons/icon-select-arrow.png)
    select
        border: 1px solid $brand-base
        line-height: 43px
        height: 40px
        padding: 0 26px 0 14px
        border-radius: 12px

.form__item
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus
        -webkit-text-fill-color: $brand-base !important
        -webkit-box-shadow: 0 0 0px 1000px white inset !important
        background-color: white
.form__label
    position: relative
.icon__require
    position: absolute
    top: -4px
    right: -8px
    font-size: 14px
    +media-breakpoint-down(xs)
        left: 0
        right: auto
// form row , item, label control
// form control start
// ------------------
.form__row
    display: flex
    align-items: flex-center
    width: 100%
.form__item
    width: auto
    line-height: 1.4em
    display: flex
    align-items: flex-start
    margin-bottom: 16px
    &.has--error
        .form__control__item > *
            border-color: $brand-second
.form__input
    padding: 5px 8px
    font-size: 14px
    line-height: 1.2em
    border: 1px solid $color-cloudy-blue
    border-radius: 8px
    letter-spacing: 1.4px
    +media-breakpoint-down(ssm)
        font-size: 13px
        letter-spacing: 1px

.form__item__medium
    .select-custom
        width: 238px
        +media-breakpoint-down(xxl)
            width: 200px
        +media-breakpoint-down(md)
            width: 240px
    .form__control__item
        width: 238px
        +media-breakpoint-down(xxl)
            width: 200px
        +media-breakpoint-down(md)
            width: 240px
// form control end
// ------------------

// 專案客製區 驗證碼
// ------------------
.form__btn__base
    background-color: $brand-base
    color: white
    border: 1px solid $brand-base
    border-radius: 15px
    font-size: 16px
    line-height: 1.5em
    letter-spacing: 1.6px
    padding: 8px 32px 6px
    min-width: 96px
    cursor: pointer
    white-space: nowrap
    +media-breakpoint-down(md)
        font-size: 14px
    &:hover, &:focus
        background-color: white
        color: $brand-base
        @extend .animation

// checkbox radio 客製
.form__item__control
    display: block
    position: relative
    padding-left: 35px
    margin-bottom: 12px
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    input
        position: absolute
        opacity: 0
        cursor: pointer
.checkmark
    position: absolute
    top: 0
    left: 0
    +v_center
    &:after
        content: ""
        position: absolute
        display: none
        
// checkbox 客製
// .form__checkbox__item--cc
// ------------------
.form__item__checkbox
    margin-right: 32px
    letter-spacing: 1.6px
    font-size: 16px
    +media-breakpoint-down(md)
        font-size: 14px
    +media-breakpoint-down(xs)
        padding-left: 28px
    .checkmark
        +size(23px, 23px)
        background-color: white
        border: 1px solid $brand-base
        +media-breakpoint-down(xs)
            +size(18px, 18px)
        &:after
            left: 9px
            top: 5px
            width: 5px
            height: 10px
            border: solid white
            border-width: 0 3px 3px 0
            -webkit-transform: rotate(45deg)
            -ms-transform: rotate(45deg)
            transform: rotate(45deg)
            +media-breakpoint-down(xs)
                left: 6px
                top: 3px
    &:hover input ~ .checkmark
        background-color: $base-lighter
    input
        height: 0
        width: 0
        &:checked ~ .checkmark
            background-color: $brand-base
            &:after
                display: block

// 
// customize radio
// ------------------
.form__item__radio
    padding-left: 20px
    .checkmark
        height: 15px
        width: 15px
        background-color: #d9dde2
        border-radius: 50%
        &:after
            +size(5px, 5px)
            border-radius: 50%
            background-color: white
            top: calc(8px - 3px)
            left: calc(8px - 3px)
.form__item__radio:hover input ~ .checkmark
    background-color: #ccc
.form__item__radio input:checked ~ .checkmark
    background-color: #337dfd
    &:after
        display: block

// 
// customize select
// ------------------

.select-hidden
    display: none
    visibility: hidden
    padding-right: 10px
.select-custom
    cursor: pointer
    display: inline-block
    position: relative
    font-size: 16px
.select-styled
    position: relative
    padding: 9px 34px 8px 16px
    color: $brand-base
    border: 1px solid $brand-base
    font-size: 16px
    letter-spacing: 1.6px
    border-radius: 12px
    &:after
        content: ""
        width: 10px
        height: 5px
        position: absolute
        top: 16px
        right: 10px
        background: url(~images/icons/icon-select-arrow.png)
    &:active, &.active
        &:after
            transform: rotate(180deg)

.select-options
    display: none 
    position: absolute
    top: calc(100% + 8px)
    right: 0
    z-index: 999
    margin: 0
    padding: 0
    list-style: none
    width: 179px
    max-height: 261px
    overflow: auto
    background-color: rgba($brand-base, .85)
    border-radius: 32px 2px 20px 20px
    border-width: 32px 5px 32px 24px
    border-style: solid
    border-color: transparent
    +media-breakpoint-down(md)
        left: 0
        right: auto
        border-radius: 2px 5px 20px 20px
    // 客製scrollbar
    // ---
    /* width */
    &::-webkit-scrollbar
        width: 4px

    /* Track */
    &::-webkit-scrollbar-track
        background: $brand-base
    
    /* Handle */
    &::-webkit-scrollbar-thumb
        background: white

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover
        background: $base-lighter
    // 客製option
    // ---
    li
        display: block
        padding: 7px 30px 7px 0
        margin-bottom: 2px
        font-size: 16px
        color: white
        // border-bottom: 1px solid rgba(white, .5)
        cursor: pointer
        @include transition(all 0.15s ease-in)
        position: relative
        +media-breakpoint-down(md)
            padding: 7px 25px 7px 0
        &:hover
            color: $brand-second
        &[rel="hide"]
            display: none
        &:after
            content: ""
            display: block
            width: calc(100% - 30px)
            height: 1px
            position: absolute
            bottom: 0
            left: 0
            background-color: rgba(white, .5)
            +media-breakpoint-down(md)
                width: calc(100% - 25px)

// login, forget
// ------------------            
$formlabelWidth: 74px
$basicformWidth: 376px
$basicformWidth-xl: 280px
.basic__form
    .form__row
        width: 100%
        margin-bottom: 16px
        +media-breakpoint-down(md)
            margin-bottom: 0
        &.mb-0
            margin-bottom: 0
    .form__inline__item
        &:not(:last-item)
            padding-right: 48px
            +media-breakpoint-down(xl)
                padding-right: 32px
            +media-breakpoint-down(lg)
                padding-right: 24px
            +media-breakpoint-down(md)
                padding-right: 0
        .form__control__item
            +media-breakpoint-down(md)
                width: calc(100% - #{$formlabelWidth})
            +media-breakpoint-down(xs)
                width: 100%
    .form__item:not(.form__inline__item)
        width: 100%
        .form__control__item
            width: calc(100% - #{$formlabelWidth})
            +media-breakpoint-down(xs)
                width: 100%
    .form__label
        width: $formlabelWidth
        font-weight: bold
        font-size: 16px
        letter-spacing: 1.6px
        margin-right: 2em
        +media-breakpoint-down(xxl)
            margin-right: 16px
        +media-breakpoint-down(md)
            margin-right: 12px
            font-size: 14px
        +media-breakpoint-down(xs)
            width: 100%
    .form__control__item
        +media-breakpoint-down(xs)
            width: 100%
        > *
            width: 100%
            font-size: 16px
            padding: 9px 34px 8px 16px
            color: $brand-base
            border: 1px solid $brand-base
            border-radius: 12px
            line-height: 21px
            +media-breakpoint-down(md)
                font-size: 14px
            &::placeholder
                font-size: 12px
                color: $gray-base
            &:-ms-input-placeholder
                font-size: 12px
                color: $gray-base
            &::-ms-input-placeholder
                font-size: 12px
                color: $gray-base
            &::-webkit-input-placeholder
                font-size: 12px
                color: $gray-base
            &::-moz-placeholder
                font-size: 12px
                color: $gray-base
    .form__textarea
        height: 146px
    .select-custom
        +media-breakpoint-down(md)
            width: calc(100% - #{$formlabelWidth})
        +media-breakpoint-down(xs)
            width: 100%
        *
            +media-breakpoint-down(md)
                font-size: 14px
        .select-options
            +media-breakpoint-down(md)
                width: 100%
    .form__hint
        font-size: 12px
        letter-spacing: 1.2px
        
    .form__control__item, .form__btn__wrap
        width: 100%
        max-width: $basicformWidth
        +media-breakpoint-down(xl)
            max-width: $basicformWidth-xl
        +media-breakpoint-down(md)
            max-width: 100%
    .form__item__control
        margin-bottom: 16px
        &.mb-0
            margin-bottom: 0
    .form__btn__item
        padding-top: 32px
        margin-bottom: 0
        +media-breakpoint-down(xs)
            padding-top: 24px
    .form__item:not(.form__inline__item) .form__control__item
        +media-breakpoint-down(md)
            width: 100%
            max-width: 100%
    .link
        color: $gray-base
        border-color: $gray-base
        &:hover
            +media-breakpoint-up(md)
                color: $brand-link
                > span:after
                    background-color: $brand-link
        > span:after
            background-color: $gray-base

    .form__mr
        margin-right: 32px
        +media-breakpoint-down(md)
            margin-right: 18px
        +media-breakpoint-down(ssm)
            margin-right: 12px
        +media-breakpoint-down(xs)
            margin-right: 6px
    .form__ml
        margin-left: 32px
        +media-breakpoint-down(md)
            margin-left: 18px
        +media-breakpoint-down(ssm)
            margin-left: 12px
        +media-breakpoint-down(xs)
            margin-left: 6px
    
    .form__control__item.meg--inside
        position: relative
        &.has--error
            > *
                padding-right: 86px
            .form__message--inside
                display: block
        .form__message--inside
            display: none
            position: absolute
            font-size: 12px
            color: $brand-second
            border: 0
            width: 68px
            right: 12px
            +v_center
            padding: 0
    .basic__select__wrap
        width: 100%
        max-width: $basicformWidth
        +media-breakpoint-down(xl)
            max-width: $basicformWidth-xl
        +media-breakpoint-down(md)
            max-width: 100%
        select
            width: 100%