//
// imgslider wrap
// ------------------
.imgslider__wrap
    position: relative
    .owl-dots
        line-height: 16px
        padding-top: 12px
        +media-breakpoint-down(sm)
            padding-top: 0
        .owl-dot
            span
                opacity: .5
                background: $brand-base
                margin: 0 7px
                +media-breakpoint-down(sm)
                    width: 5px
                    height: 5px
                    margin-bottom: 0 4px
            &.active, &:hover
                span
                    opacity: 1
                    background: $brand-base