//
// itemslider__wrap wrap
// ------------------
.itemslider__wrap
    position: relative
    padding-top: 44px
    +media-breakpoint-down(md)
        padding-top: 32px
    +media-breakpoint-down(ssm)
        padding-top: 24px
    .owl-dots
        line-height: 16px
        padding-top: 12px
        +media-breakpoint-down(sm)
            padding-top: 0
        .owl-dot
            span
                opacity: .5
                background: $brand-base
                margin: 0 7px
                +media-breakpoint-down(sm)
                    width: 5px
                    height: 5px
                    margin-bottom: 0 4px
            &.active, &:hover
                span
                    opacity: 1
                    background: $brand-base