//
// megamenu
// must include "dropdown" before
//
.mega__menu__wrap
    position: relative
    width: 100%
    ul
        list-style: none
        padding-left: 0
        margin-bottom: 0
.mega__menu__container
    +media-breakpoint-up(lg)
        padding-left: 0
        padding-right: 0
        
.mega-menu--wide, .mega-menu--full
    .dropdown-menu
        width: 100%
