//
// pageload
// ------------------

// body
.body:not(.body_with_pageloader)
    .pageload
        display: none
.body_with_pageloader
    &.is--pageloading
        max-height: 0
        .mainheader, .mainfooter, .main
            opacity: 0
        .path.head
            opacity: 1
            transition: opacity .15s ease .1s
        .path.word
            opacity: 1
            transition: opacity .15s ease
            @for $i from 1 through 11
                &:nth-of-type(#{$i})
                    transition-delay: .06s*$i
    &.is--pageloaded
        max-height: 9999vh
        transition: max-height .15s ease .1s
        .mainheader, .mainfooter, .main
            opacity: 1
            transition: opacity 1.65s ease .15s
        .path.word, .path.head
            opacity: 1
        .pageload
            transform: translateX(-100%)
            opacity: 0
            transition: opacity 1.35s ease, transform 1s ease .35s

    // pageload 區塊
    .pageload
        @extend .d-flex
        @extend .align-items-center
        @extend .justify-content-center
        display: block
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: $gray-lightest
        z-index: 1035
            
    .pageload
        .pageload__logo
            +media-breakpoint-down(xs)
                transform: scale(.7)
        .pageload__word
            letter-spacing: 3px
            font-size: 12px
            color: $brand-base
            opacity: 0
        &.is--loading .pageload__word
            opacity: 1
            transition: opacity .5s ease
        &.loaded .pageload__word
            animation: lightLoading linear 1.35s
            animation-iteration-count: infinite
            transform-origin: 50% 50%
        
.stroke_logo
    stroke: $brand-base
    .path.head
        fill: none
        opacity: 0
        stroke-dasharray: 500
        animation: dash 3.5s ease .1s
    .path.word
        opacity: 0
        fill: $brand-base
@keyframes dash
    0%
        stroke-dashoffset: 500
    100%
        stroke-dashoffset: 0