//
// swal
// ------------------
.body
    .swal2-container
        &.swal2-backdrop-show
            background: none
    .swal2-popup
        box-shadow: 0 20px 40px 0 rgba(black, .16)
        background-color: rgba($brand-base, .9)
        border-radius: 26px
    .swal2-content
        color: white
        font-size: 16px
        letter-spacing: 1.2px
        max-width: 294px
        margin: 48px auto 72px
        +media-breakpoint-down(md)
            max-width: calc(100% - 48px)
            font-size: 14px
        +media-breakpoint-down(xs)
            margin: 24px auto 48px
        .alert__title
            font-size: 20px
            letter-spacing: 2px
            font-weight: 500
            padding-bottom: 8px
            border-bottom: 1px solid $color-cloudy-blue
            margin-bottom: 22px
            +media-breakpoint-down(md)
                font-size: 16px
