.video__wrap
    position: relative
    background-color: $text-light-gray
    .video__loading
        position: absolute
        +all_center
        letter-spacing: 5px
        z-index: 0
        @extend .doLightLoading
    iframe
        z-index: 1



