include ../variables.pug
doctype html
html(dir="ltr", lang=locale)
	head
		include ../partials/head.pug
		block meta
		block styles
	body.body
		main(class='pagemain')
			block view  
		//- end of main
		block scripts