include ../variables.pug
-var pageloader = false
block page_variables
doctype html
html(lang=locale)
	head
		include ../partials/head.pug
		block meta
		block styles
	//- body_with_pageloader: 是否有前導動畫
	body.body(class=pageloader?'body_with_pageloader':'') 
		include ../partials/header.pug
		main(id="pagemain" class='main')
			block view  
		//- end of main
		include ../partials/footer.pug
		include ../components/pageload.pug
		block blocks
		block scripts