//
// aside
// aside__menu__wrap在common in有寬度設定(搭配innerpage__right
// ------------------
.aside__menu__wrap
    padding-left: 36px
    padding-right: 36px
    +media-breakpoint-down(xl)
        padding-left: 24px
        padding-right: 24px
    +media-breakpoint-down(lg)
        padding-left: 12px
        padding-right: 12px
    +media-breakpoint-down(sm)
        padding-left: 0px
        padding-right: 0px
.aside__title
    border-bottom-width: 2px
    padding-left: 14px
    padding-right: 5px
    margin-bottom: 8px
    +media-breakpoint-down(sm)
        padding-right: 20px
        position: relative
        &:before, &:after
            content: ""
            display: block
            +size(15px, 15px)
            position: absolute
            right: 8px
            top: 1px
            +media-breakpoint-down(xs)
                +size(12px, 12px)
                top: 1px
        &:before
            background: url(~images/icons/icon-plus.svg) center center no-repeat
            background-size: contain
            opacity: 1
        &:after
            background: url(~images/icons/icon-minus.svg) center center no-repeat
            background-size: contain
            opacity: 0
        &.active:before
            opacity: 0
        &.active:after
            opacity: 1

.aside__menu
    list-style-type: none
    margin-bottom: 0
    padding-left: 0
.aside__menu__item
    &:not(:last-child)
        border-bottom: 1px solid $gray

.aside__menu__link
    display: block
    padding: 16px 5px 16px 14px
    font-size: 16px
    letter-spacing: 1.6px

