//
// breadcrumb
// ------------------
.breadcrumb__wrap
    border-bottom: 1px solid $border-gray
.breadcrumb
    list-style-type: none
    margin-bottom: 0
    padding: 13px 0 12px
.breadcrumb__item
    font-size: 12px
    letter-spacing: 3.6px
    &:not(:last-child)
        padding-right: 16px
        position: relative
        &:after
            content: ""
            display: block
            width: 1px
            height: 14px
            background-color: $gray
            right: 9px
            +v_center
            position: absolute
.breadcrumb__link
    color: $gray
