// 內頁共用樣式(首頁不用)
// innerpage
.innerpage
    margin-top: 80px
    padding-bottom: 120px
    +media-breakpoint-down(xl)
        margin-top: 70px
        padding-bottom: 100px
    +media-breakpoint-down(lg)
        margin-top: 64px
        padding-bottom: 90px
    +media-breakpoint-down(sm)
        margin-top: 48px
        padding-bottom: 64px

// inner right and aside
// ------------------
$aside-width: 240px
$aside-width-lg: 200px
.aside__menu__wrap
    width: $aside-width
    margin-right: 32px
    +media-breakpoint-down(lg)
        width: $aside-width-lg
        margin-right: 20px
    +media-breakpoint-down(sm)
        margin-right: auto
        margin-left: auto
        margin-bottom: 32px

.aside__menu
    +media-breakpoint-down(sm)
        max-height: 0
        overflow: hidden
.aside__title.active + .aside__menu
    +media-breakpoint-down(sm)
        max-height: 999vh
            
.innerpage__right
    width: calc(100% - #{$aside-width} - 32px)
    +media-breakpoint-down(lg)
        width: calc(100% - #{$aside-width-lg} - 20px)
    +media-breakpoint-down(sm)
        width: 100%

// detail page common styles
// ------------------
.detail__wrap
    border-bottom: 2px solid $brand-base
    padding-top: 80px
    padding-bottom: 80px
    margin-bottom: 80px
    +media-breakpoint-down(xl)
        padding-top: 64px
        padding-bottom: 64px
        margin-bottom: 64px
    +media-breakpoint-down(lg)
        padding-top: 48px
        padding-bottom: 48px
        margin-bottom: 48px
    +media-breakpoint-down(md)
        padding-top: 32px
        padding-bottom: 20px
        margin-bottom: 32px
    +media-breakpoint-down(xs)
        padding-top: 24px
        padding-bottom: 20px
        margin-bottom: 20px
// detail__heading
.detail__heading__wrap
    width: 100%
    margin: 0 auto 40px
    background-color: rgba($brand-base, .93)
    padding: 24px 48px
    +media-breakpoint-down(lg)
        padding: 20px 40px
        margin: 0 auto 28px
    +media-breakpoint-down(md)
        padding: 16px 24px
        margin: 0 auto 20px
    +media-breakpoint-down(sm)
        padding: 12px 18px
    +media-breakpoint-down(ssm)
        padding: 12px 16px
    .detail__heading
        color: white
        font-size: 24px
        line-height: 1.5em
        letter-spacing: 4.8px
        font-weight: 500
        margin-bottom: 0
        +media-breakpoint-down(lg)
            font-size: 20px
            letter-spacing: 3px
        +media-breakpoint-down(md)
            font-size: 18px
            letter-spacing: 2px
        +media-breakpoint-down(ssm)
            font-size: 16px
        +media-breakpoint-down(xs)
            font-size: 15px
            letter-spacing: 1px

// page upper
.page__upper
    margin-top: 48px
    +media-breakpoint-down(lg)
        margin-top: 32px
.page__upper__wrap
    padding-bottom: 48px
    margin-bottom: 32px
    border-bottom: 1px solid $brand-base
    +media-breakpoint-down(lg)
        padding-bottom: 32px
.upper__description
    p
        font-size: 16px
        line-height: 1.5em
        letter-spacing: 1.6px
        margin-bottom: .35em
        +media-breakpoint-down(lg)
            font-size: 15px
        +media-breakpoint-down(ssm)
            font-size: 13px

// store item
.store__item
    .pic
        img
            width: 100%
    .store__info
        padding: 16px
    .store__address
        margin-bottom: 16px
        .title
            font-size: 20px
            line-height: 16px
            font-weight: 500
            letter-spacing: 2px
            padding: 0 16px
            border-left: 2px solid $brand-base
            border-right: 2px solid $brand-base
            margin-right: 30px
            max-width: 8em
            +media-breakpoint-down(xl)
                margin-right: 16px
                font-size: 18px
                padding: 0 12px
            +media-breakpoint-down(lg)
                margin-right: 12px
                font-size: 17px
                padding: 0 10px
            +media-breakpoint-down(sm)
                font-size: 16px
                padding: 0 6px
            +media-breakpoint-down(ssm)
                font-size: 14px
                padding: 0 3px
                letter-spacing: 1px
        .address
            padding-left: 20px
            position: relative
            max-width: 260px
            &:before
                content: ""
                +size(10px, 16px)
                position: absolute
                left: 2px
                top: calc(50% - 10px)
                background: url(~images/icons/icon-map-pin.png) center center no-repeat
                background-size: contain
    .store__opening
        letter-spacing: 1.6px
        color: $gray-base
        