
// mfooter, main footer
// ------------------
.mainfooter
    background-color: $brand-base
    color: white
    padding: 90px 0
    font-size: 12px
    position: relative
    +media-breakpoint-down(md)
        padding: 68px 0 60px 0
    +media-breakpoint-down(xs)
        padding: 48px 0 32px 0
    a
        color: white

// footer logo
.mfooter__ci
    width: 301px
    margin-right: 108px
    +media-breakpoint-down(lg)
        margin-right: 90px
    +media-breakpoint-down(md)
        margin-right: 80px
        width: 220px
    +media-breakpoint-down(xs)
        margin-right: 0px
    +media-breakpoint-down(xxs)
        width: 200px
    img
        width: 100%

// social
.mfooter__social__list
    margin-right: 32px
.mfooter__social__list__item
    background-color: white
    border-radius: 8px
    &:hover
        background-color: #aac5d5
    &:not(:last-child)
        margin-right: 12px
//
// footer menu
// ------------------
.mfooter__menu__link
    font-size: 12px
    letter-spacing: 2.4px
    padding: 0 16px
    border: 1px solid white
    border-radius: 5px
    white-space: nowrap
    margin-bottom: 21px
    &:not(:last-child)
        margin-right: 16px
    &:hover, &:focus
        +media-breakpoint-up(lg)
            background-color: white
            color: $brand-base
//
// footer menu
// ------------------
.mfooter__info__item
    letter-spacing: .9px
    .title
        letter-spacing: 3.6px
        margin-right: 8px

// gotop
// ------------------
.btn__pagetopbtn
    position: fixed
    bottom: 30px
    right: 60px
    z-index: -99
    opacity: 0
    transition: opacity .35s ease-in, z-index .1s ease .35s
    +media-breakpoint-down(xl)
        right: 48px
    +media-breakpoint-down(lg)
        right: 32px
        bottom: 20px
    +media-breakpoint-down(ssm)
        right: 24px
    &.is--stick
        position: absolute
        bottom: calc(100% + 30px)
        +media-breakpoint-down(lg)
            bottom: calc(100% + 20px)
    &.is--show
        z-index: 10
        opacity: 1
        transition: opacity .85s ease-in .1s
        &:hover
            opacity: .7
            transition: opacity .15s ease-in
            +doShortBounce(.75s)
            +media-breakpoint-up(lg)
