//
// header
// ------------------
.mainheader
    background-color: $brand-base
    color: white
    height: $headerheight-lg
    +media-breakpoint-down(md)
        height: $headerheight-md
    +media-breakpoint-down(sm)
        height: $headerheight-sm
    +media-breakpoint-down(xs)
        height: $headerheight-xs
    +media-breakpoint-down(xxs)
        height: $headerheight-xxs
    &.fixed-top
        z-index: 1034
    &.is--scroll, .body.is--pageloaded &.is--scroll
        transform: translateY(-100%)
        opacity: 0
    &.fixed-top, .body.is--pageloaded &.fixed-top
        transform: translateY(0)
        opacity: 1
        transition: transform .75s ease .15s, opacity .85s ease-in .1s
        .mainmenu__item .dropdown-menu
            +media-breakpoint-up(lg)
                max-height: 0
                overflow: hidden
                padding: 0
            &.show
                max-height: calc(80vh)
                overflow: auto
                padding: 28px 23px 40px

.mheader__ci
    padding: 16px 12px 16px 0
    img
        display: block
        width: 181.67px
        padding: 0
        +media-breakpoint-down(xs)
            width: 120px
        +media-breakpoint-down(xxs)
            width: 96px

//
// mheader__extras
// ------------------
.mheader__extras
    width: 258px
    +media-breakpoint-down(xl)
        width: auto
        margin-left: 20px
    +media-breakpoint-down(md)
        width: auto
        margin-right: 80px
    +media-breakpoint-down(ssm)
        margin-right: 74px
    +media-breakpoint-down(xs)
        margin-right: 58px
    &__items:not(:last-child)
        margin-right: 32px
        +media-breakpoint-down(xl)
            margin-right: 24px
        +media-breakpoint-down(xxs)
            margin-right: 16px
        

// mheader shopping item
.mheader__shopping__item
    img
        max-height: 30px
        width: auto
        +media-breakpoint-down(xl)
            max-height: 25px
        +media-breakpoint-down(md)
            max-height: 20px

//
// mainmenu__wrap
// ------------------
.mainmenu__wrap
    position: relative
    ul
        list-style: none
        padding-left: 0
        margin-bottom: 0

//
// .btn__mainmenu__mobile
// ------------------
.btn__mainmenu__mobile
    +size(32px, 29px)
    cursor: pointer
    +media-breakpoint-down(md)
        position: absolute
        right: 0
        +v_center
    +media-breakpoint-down(ssm)
        right: 12px
    +media-breakpoint-down(xs)
        right: 0
        +size(30px, 29px)
        margin-top: 3px
    > span
        display: block
    &__bar
        display: block
        +size(39px, 3px)
        background-color: white
        margin-bottom: 13px
        transition: all .15s ease
        +media-breakpoint-down(xs)
            +size(30px, 3px)
            margin-bottom: 8px
        +media-breakpoint-down(xxs)
            +size(26px, 3px)
            margin-bottom: 6px
        &:last-child
            margin-bottom: 0
    &__cross
        margin-bottom: 4px
        display: block
        +size(38px, 38px)
        position: relative
        opacity: 0
        +media-breakpoint-down(xs)
            +size(32px, 32px)
        span
            display: block
            +size(39px, 3px)
            background-color: white
            transform: rotate(45deg)
            transform-origin: center center
            position: absolute
            bottom: calc(50% - 1px)
            right: 0
            &:last-child
                transform: rotate(-45deg)
            +media-breakpoint-down(xs)
                +size(32px, 3px)
    &--active
        .btn__mainmenu__mobile__bar
            transform-origin: center
            transition: all .35s ease, opacity .75s ease
            &:first-child 
                transform: rotate(405deg) translate(10px, 13px)
                +media-breakpoint-down(ssm)
                    transform: rotate(405deg) translate(9px, 14px)
                +media-breakpoint-down(xs)
                    transform: rotate(405deg) translate(7px, 8px)
                +media-breakpoint-down(xxs)
                    transform: rotate(405deg) translate(7px, 5px)
            &:nth-child(2)
                opacity: 0
            &:last-child 
                transform: rotate(-45deg) translate(10px, -12px)
                +media-breakpoint-down(ssm)
                    transform: rotate(-45deg) translate(8px, -14px)
                +media-breakpoint-down(xs)
                    transform: rotate(-45deg) translate(7px, -9px)
                +media-breakpoint-down(xxs)
                    transform: rotate(-45deg) translate(7px, -6px)
    
//
// mainmenu
// ------------------

.mainmenu__link
    display: block
    height: 82px
    line-height: 82px
    padding: 0 16px
    letter-spacing: 3.2px
    color: white
    font-size: 16px
    +media-breakpoint-down(md)
        color: $brand-base
        line-height: 64px
        height: 64px
        font-size: 20px
        border-bottom: 1px solid rgba($brand-base, .05)
    +media-breakpoint-down(xs)
        color: $brand-base
        line-height: 50px
        height: 50px
        font-size: 20px
    &:not([href]):not([tabindex])
        +media-breakpoint-down(md)
            color: $brand-base
    &:hover, &:focus,
    .mainmenu__item:hover &, .mainmenu__item:focus &,
    .mainmenu__item:hover &:not([href]):not([tabindex]),, .mainmenu__item:focus &:not([href]):not([tabindex]),
        +media-breakpoint-up(lg)
            color: $brand-second
        +media-breakpoint-down(md)
            color: $brand-base
    .icon__arrow
        margin-top: -3px
        margin-left: 4px
.mainmenu__link.dropdown-toggle
    +media-breakpoint-down(md)
        position: relative
        &:before, &:after
            content: ""
            display: block
            +size(17px, 17px)
            position: absolute
            right: 8px
            +v_center
        &:before
            background: url(~images/icons/icon-plus.svg) center center no-repeat
            background-size: contain
            opacity: .35
        &:after
            background: url(~images/icons/icon-minus.svg) center center no-repeat
            background-size: contain
            opacity: 0
        &.show:before
            opacity: 0
        &.show:after
            opacity: .35

.mainmenu
    &__submenu__link
        display: block
        padding: 7px 18px
        margin-bottom: 2px
        font-size: 16px
        letter-spacing: 3.2px
        border-bottom: 1px solid rgba(white, .5)
        overflow: hidden
        width: 100%
        white-space: nowrap
        text-overflow: ellipsis
        color: white
        &:hover, &:focus
            +media-breakpoint-up(lg)
                color: $brand-second
        +media-breakpoint-down(md)
            color: $brand-base
        +media-breakpoint-down(md)
            padding: 12px 8px 8px 28px
        
// dropwdown menu
// ------------------
// mheader

.mainmenu__item
    .dropdown-menu
        min-width: 164px
        background-color: rgba($brand-base, .85)
        border-radius: 32px 2px 20px 20px
        padding: 28px 23px 40px
        +media-breakpoint-down(md)
            background-color: $base-lighter
            border-radius: 0
            width: 100%
            position: relative
            display: block
            top: 0
            padding: 0
            max-height: 0
            overflow: hidden
            opacity: 0
    .dropdown-toggle.show + .dropdown-menu
        +media-breakpoint-down(md)
            max-height: 999vh
            padding: 10px 0 20px
            opacity: 1
            transition: opacity .35s ease
            z-index: 99
            transform: none
// mainmenu mobile
.mainmenu__list__wrap
    +media-breakpoint-down(md)
        position: fixed
        top: $headerheight-md
        right: 0
        width: 100%
        overflow: hidden
        height: 0
        background-color: white
        transform: translateX(130%)
        z-index: -99
        opacity: 0
        padding: 40px 0
        transition: transform .5s ease .05s, opacity .5s ease, z-index .15s ease .5s, height .15s ease .5s
    +media-breakpoint-down(xs)
        top: $headerheight-xs
    +media-breakpoint-down(xxs)
        top: $headerheight-xxs
.mainmenu__item
    +media-breakpoint-down(md)
        opacity: 0
        transform: translateX(40%)
        transition: opacity .35s ease
.mainmenu--opened
    .mainheader
        +media-breakpoint-down(md)
            width: 100%
            position: fixed
            top: 0
            left: 0
            z-index: 1034
    .mainmenu__list__wrap
        overflow: auto
        +media-breakpoint-down(md)
            height: calc(100vh - #{$headerheight-md})
            overflow: auto
            z-index: 100
            transform: translateX(0)
            opacity: 1
            transition: transform .5s ease .05s, opacity .5s ease
        +media-breakpoint-down(sm)
            height: calc(100vh - #{$headerheight-sm})
        +media-breakpoint-down(xs)
            height: calc(100vh - #{$headerheight-xs})
        +media-breakpoint-down(xs)
            height: calc(100vh - #{$headerheight-xxs})
    .mainmenu__item
        transform: translateX(0)
        opacity: 1
        @for $i from 1 through 9
            &:nth-child(#{$i})
                transition: opacity .75s ease .12s*$i, transform .35s ease-out .12s*$i
