//
// _pagination
// ------------------
.pagination
    list-style: none
    padding-left: 0
    margin-bottom: 0
    +media-breakpoint-down(sm)
        margin-top: 24px
    .page__link
        font-size: 20px
        font-weight: bold
        padding: 0 9px
        color: $brand-base
        opacity: .5
        +media-breakpoint-down(sm)
            font-size: 16px
        &.current, &:hover
            opacity: 1
    .page__arrow
        padding: 0 23px
        transition: opacity .35s ease
        opacity: 1
        +media-breakpoint-down(sm)
            padding: 0 12px
        &:hover
            opacity: .5
            transition: opacity .35s ease
        img
            +media-breakpoint-down(sm)
                width: 8px